{% paginate collection.products by 50 %}
{  
    "title": "{{collection.title}}",
    "description": "{{collection.description}}",
    "all_vendors": [ 
        {% for product_vendor in collection.all_vendors %}
        { 
            "vendor" :"{{ product_vendor }}"
        }{% unless forloop.last %},{% endunless %}
    {% endfor %}],
    "current_vendor": "{{collection.current_vendor}}",
    "current_type": "{{collection.current_type}}",
    "settings": {{section.settings | json}},
    "collection": {{collection | json}},
    "product_count": {{ collection.all_products_count }},
    "all_tags": {{ collection.all_tags | json}},
    "tags": {{collection.tags | json}},
    "sort_by": "{% if collection.sort_by != blank %}{{ collection.sort_by }}{% else %}{{collection.default_sort_by}}{% endif %}",
    "sort_options": [{% for option in collection.sort_options %}{
            "value": "{{ option.value }}",
            "name": "{{ option.name }}"
        }{% unless forloop.last %},{% endunless %}
    {% endfor %}],
    {% if collection.image != blank %}
        "image": { {% include 'json-image', image: collection.image, crop: 'center', size: '1x1' %} },
        "mobileImage": { {% include 'json-image-asset', image: collection.metafields.mobileImage, crop: 'center', size: '1x1' %} },
    {% endif %}
    "metafields": {
    },
    "current_count": {{collection.products_count }},
    "products": [
        {% for product in collection.products %}
        {
            {% include 'json-product' with product %}
        }{% unless forloop.last %},{% endunless %}
        {% endfor %}
    ]
}
{% endpaginate %}