  	"available": "{{ product.available }}",
  	"body_html": "{{ product.description | escape }}",
  	"collections": [{% for collection in product.collections %}"{{ collection.handle }}"{% unless forloop.last %},{% endunless %}{% endfor %}],
  	"handle": "{{ product.handle }}",
  	"id": "{{ product.id }}",
    "images": [ 
        {% if product.images.size != 0 %}
        {% for image in product.images %}
              { {% include 'json-image', image: image, crop: 'center', size: '1x1' %} }
            {% unless forloop.last %},{% endunless %}
        {% endfor %}
        {% else %}            
            { {% include 'json-image-asset', src: 'no-image.png' %} }
        {% endif %}
        ],

    "options": [
        {% for option in product.options %}
        {
            "name": "{{ option | escape }}",
            "position": "{{ forloop.index }}",
            "product_id": "{{ product.id }}"
        }
        {% unless forloop.last %},{% endunless %}
        {% endfor %}
    ],
    "metafields": {
        {% include 'json-product-meta' product: product %}
    },
    "first_available_variant": {{ product.first_available_variant | json }},
    "has_only_default_variant": "{{ product.has_only_default_variant }}",
    "options_with_values": {{ product.options_with_values | json }},
    "selected_variant": "{{ product.selected_variant }}",
    "selected_or_first_available_variant": {{ product.selected_or_first_available_variant | json }},
  	"product_type": "{{ product.type }}",
  	"price": "{{ product.price }}",
  	"price_max": "{{ product.price_max }}",
  	"price_min": "{{ product.price_min }}",
  	"tags": [{% for tag in product.tags %}"{{ tag }}"{% unless forloop.last %},{% endunless %}{% endfor %}],
  	"title": "{{ product.title | escape}}",
  	"url": "{{ product.url }}",
  	"vendor": "{{ product.vendor }}",
  	"variants": [{% for variant in product.variants %}
      {
        {% if variant.image %}"image_id": {{ variant.image.id }},{% endif %}
        "available": "{{ variant.available }}",         
        "id": "{{ variant.id }}",
        "inventory_management": "{{ variant.inventory_management }}",
        "inventory_policy": "{{ variant.inventory_policy }}",
        "inventory_quantity": "{{ variant.inventory_quantity }}",
        "option1": "{{ variant.option1 | strip_html | escape }}",
        "option2": "{{ variant.option2 | strip_html | escape }}",
        "option3": "{{ variant.option3 | strip_html | escape }}",
        "position": "{{ forloop.index }}",
        "price": "{{ variant.price }}",
        "requires_shipping": "{{ variant.requires_shipping }}",
        "sku": "{{ variant.sku }}",
        "image": "{{variant.image.src | replace: ".jpg", ""}}",
        "taxable": "{{ variant.taxable }}",
        "title": "{{ variant.title | escape}}",
        "weight": {{ variant.weight_in_unit }},
        "weight_unit": "{{ variant.weight_unit }}"
    }{% unless forloop.last %},{% endunless %}{% endfor %}
  ]