"related": "{{product.metafields.product.related | escape}}",
"color": "{{product.metafields.product.color}}",
"modelWearing": "{{product.metafields.content.modelWearing | escape}}",
"shipping": "{{product.metafields.content.shipping | escape}}"
