{
    "address": {{shop.address | json}},
    "collections_count": "{{shop.collections_count}}",
    "currency": "{{shop.currency}}",
    "description": "{{shop.description}}",
    "domain": "{{shop.domain}}",
    "email": "{{shop.email}}",
    "enabled_currencies": "{{shop.enabled_currencies}}",
    "enabled_payment_types": "{{shop.enabled_payment_types}}",
    "locale": "{{shop.locale}}",
    "loginText": "{{settings.login | url_encode }}",
    "money_format": "{{shop.money_format}}",
    "money_with_currency_format": "{{shop.money_with_currency_format}}",
    "name": "{{shop.name}}",
    "password_message": "{{shop.password_message}}",
    "permanent_domain": "{{shop.permanent_domain}}",
    "phone": "{{shop.phone}}",
    "policies": "{{shop.policies}}",
    "products_count": "{{shop.products_count}}",
    "secure_url": "{{shop.secure_url}}",
    "taxes_included": "{{shop.taxes_included}}",
    "types": [{% for type in shop.types %}"{{ type }}"{% unless forloop.last %},{% endunless %}{% endfor %}],
    "url": "{{shop.url}}",
    "vendors": [{% for product_vendor in shop.vendors %}{
        "vendor": "{{ product_vendor }}",
        "link": "{{ product_vendor | link_to_vendor | url_encode }}"
    }{% unless forloop.last %},{% endunless %}{% endfor %}],
    "instagramToken": "{{shop.instagram}}",
    "instagramUrl": "{{shop.instagramUrl}}",
    "facebookUrl": "{{shop.facebookUrl}}", 
    "logo": { {% include 'json-image', image: settings.logo, crop: null, size: '140x73' %} }
} 