<section *ngIf="collection">
	<div *ngIf="!collection.products">
		<h1>No Collection Found</h1>
	</div>
	<ng-container *ngIf="collection.products.length">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 my-3">
					<h3 class="text-center">
						{{ block.settings.title }}
					</h3>
				</div>
				<div class="col-6 col-md" *ngFor="let product of collection.products | slice: 0:6; let i = index">
					<collectionitem [product]="product"></collectionitem>
				</div>
			</div>
		</div>
	</ng-container>
</section>
