<section class="mh-80" *ngIf="!loading && collection">
  <div class="container d-flex collection-header px-1 justify-content-center justify-content-sm-start ">
    <h1 class="mb-0">{{ collection.title }}</h1>
  </div>

  <div class="mt-x vh-100" *ngIf="!collection">
    <h1>No Collection Found</h1>
  </div>
  <div class="container " *ngIf="collection.products.length == 0">
    <h1 class="w-100 text-center">No Products Found</h1>
  </div>
  <div class="container " *ngIf="collection.products.length > 0">
    <div class="row">
      <ng-container *ngFor="let product of collection.products | slice: 0:scrollPosition; let i = index">
        <div [ngClass]="classes" class="mb-4 hover col-6 col-md-3">
          <div #products>
            <collectionitem [product]="product"></collectionitem>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>
<div class="d-block" #endofcollection></div>
