.collection-header {
	border-top: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
	padding: 15px 0;
	margin-bottom: 12px;
	h1,
	h2 {
		color: #000000;
	}
	color: #000000;
	letter-spacing: 0.5px;
	line-height: 12px;
}

@media screen and (min-width: 991px) {
	.w-md-20 {
		width: 20% !important;

		padding-right: 6px;
		padding-left: 6px;
	}
	.w-md-33 {
		width: 33% !important;

		padding-right: 6px;
		padding-left: 6px;
	}
}
