<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>{{ title }}</h3>
      <ul class="menu-tab d-none d-sm-flex">
        <li class="menu-tab-item" *ngFor="let item of items">
          <a class="menu-tab-link text-black-2" [routerLink]="[item.baseUrl]" routerLinkActive="is-active"
            [routerLinkActiveOptions]="{ exact: true }" (click)="setCurrentValue(item.value)">{{ item.value }}</a>
        </li>
      </ul>
    </div>
    <ng-content></ng-content>
    <router-outlet></router-outlet>
  </div>
</div>
