:host {
  display: block;
  padding-top: 18px;

  @media (min-width: 992px) {
    padding-top: 56px;
  }
}

.account-header {
  margin-top: 18px;

  @media (min-width: 992px) {
    margin-top: 56px;
  }
}

.menu-tab {
  margin: 0;
  padding: 9px 0 8px;
  border-bottom: 1px solid #E4E4E4;
  list-style: none;
}

h3 {
  text-align: center;
  margin-bottom: 14px;

  @media (min-width: 992px) {
    text-align: left;
    margin-bottom: 20px;
  }
}

.menu-tab-item {
  padding: 0 15px;
  line-height: 11px;

  &:first-child {
    padding-left: 0px;
  }
}

.custom-selector {
  border-bottom: 2px solid;
}

.menu-tab-link {
  padding-bottom: 1px;

  &.is-active,
  &:hover {
    border-bottom: 2px solid #222222;
    text-decoration: none;
  }
}

.account-dashboard {
  width: 100%;
  margin: 18px 0 20px;

  @media (min-width: 992px) {
    margin: 56px 0 26px;
  }
}

.account-header {
  margin: 10px 0 21px;

  @media (min-width: 992px) {
    margin: 54px 0 26px;
  }
}

.text-primary {
  @media (min-width: 992px) {
    margin-bottom: 9px;
  }
}
