<div class="container">
	<div class="row">
		<div class="col-12  text-center">
			<h2 class="mb-8">{{ block.settings.title }}</h2>
		</div>
		<div class="col-12 col-md-6 offset-md-3 text-center" [innerHtml]="block.settings.content"></div>
	</div>
</div>
