$transition_time: 0.2s;

.item {
	padding: 16px;
	display: block !important;
	transition: opacity 0.295s linear $transition_time;

	.tagline {
		font-size: 11px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.45;
	}

	&.visible {
		opacity: 1;
	}

	.img {
		width: 256px !important;
		height: 336px !important;
		display: block;
		background-size: cover;
		background-position: center;
	}
}
