<div (click)="showCart()" id="cartcount" class="counter-wrapper relative">
	<svg width="14px" height="15px" viewBox="0 0 14 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<g id="1.0-Global-/-Home" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
			<g id="1.0-Global-/-🖥-/-Home" transform="translate(-1402.000000, -19.000000)" stroke="#000000">
				<g id="global-/-🖥-/-navigation-/-resting-global-/-desktop-/-navigation-/-resting">
					<g id="Middle" transform="translate(24.000000, 18.000000)">
						<g id="RHS-Icons" transform="translate(1316.000000, 1.000000)">
							<g id="bag-icon" transform="translate(62.000000, 0.000000)">
								<path d="M1.10789479,4.49999982 L0.529742564,14.4999998 L13.4615413,14.4999998 L12.883389,4.49999982 L1.10789479,4.49999982 Z" id="Rectangle"></path>
								<path d="M7.00180058,0.500016437 L6.86004451,0.504726009 C5.52743932,0.598913505 4.26067644,2.13890323 3.62862203,4.49995887 L10.3590287,4.49952062 C9.70316922,2.05517075 8.37801765,0.505833292 7.00180058,0.500016437 Z" id="Combined-Shape"></path>
							</g>
						</g>
					</g>
				</g>
			</g>
		</g>
	</svg>
	<div *ngIf="dot && i > 0" class="dot"></div>
	<div class="counter d-inline ml-1 pt-2" *ngIf="counter && i > 0">({{ i }})</div>
</div>
