<div class="container">
  <div *ngIf="data" class="account-info">
    <h3 class="p account-info__title">Name</h3>
    <p>{{ data.data.customer.firstName }} {{ data.data.customer.lastName }}</p>
    <h3 class="p account-info__title">Email</h3>
    <p>{{ data.data.customer.email }}</p>
    <a class="text-underline account-info__link" [routerLink]="['/account/reset']">Change Password</a>
  </div>

  <div *ngIf="!data" class="row">
    <img [src]="loader" class="account-loader">
  </div>

</div>
