:host {
  width: 100%;
}

.account-info {
  padding-top: 20px;

  @media screen and (min-width: 992px) {
    padding-top: 26px;
  }
}

h3 {
  margin-bottom: 2px;
}

p {
  margin-bottom: 0;
}

.account-info {
  padding-bottom: 162px;

  @media screen and (min-width: 992px) {
    padding-bottom: 312px;
  }
}

.account-info__title {

  margin-top: 12px;
  letter-spacing: 0;

  &:first-child {
    margin-top: 0;
  }
}

.account-info__link {
  display: block;
  margin-top: 12px;
}

.account-loader {
  margin: auto;
  justify-content: center;
  position: fixed;
  top: 40%;
  left: 47.5%;
  transform: translate(50%, 50%);
}
