.button--icon {
  margin: 0;
  padding: 0;
  border: none;
  appearance: none;
  background: transparent;
}

.mobilemenu-toggle-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 100;

  @media (min-width: 992px) {
    display: none;
  }
}

.mobilemenu-toggle-icon {
  transition: all, 0.3s, ease-in-out;
  display: block;
  position: relative;
  border: none;
  width: 16px;
  height: 14px;
  cursor: pointer;
}

.mobilemenu-toggle-bar {
  position: absolute;
  left: 0;
  backface-visibility: hidden;
  width: 16px;
  height: 1px;
  cursor: pointer;
  background: #000000;
  border-radius: 2px;
  transition: opacity calc(0.3s/3) ease-in calc(0.3s*2/3),
    top calc(0.3s/3) ease-in calc(0.3s*2/3),
    height calc(0.3s/3) ease-in calc(0.3s*2/3),
    width calc(0.3s/3) ease-in calc(0.3s*2/3),
    transform calc(0.3s*2/3) cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.mobilemenu-toggle-bar-top {
  top: 1px;
}

.mobilemenu-toggle-bar-middle {
  top: calc(50% - 1px / 2);
}

.mobilemenu-toggle-bar-bottom {
  top: calc(16px - 3px);
}

.active {
  .mobilemenu-toggle-bar {
    transition: opacity calc(0.3s/3) ease-out,
      top calc(0.3s/3) ease-out,
      height calc(0.3s/3) ease-out,
      width calc(0.3s/3) ease-out,
      transform calc(0.3s*2/3) cubic-bezier(0.215, 0.61, 0.355, 1) calc(0.3s*1/3);
  }

  .mobilemenu-toggle-bar-bottom,
  .mobilemenu-toggle-bar-top {
    top: calc(50% - 1px / 2);
  }

  .mobilemenu-toggle-bar-top {
    transform: translate3d(-2px, 0, 0) rotate(45deg);
    width: calc(16px + 2px);
  }

  .mobilemenu-toggle-bar-bottom {
    transform: translate3d(-2px, 0, 0) rotate(135deg);
    width: calc(16px + 2px);
  }

  .mobilemenu-toggle-bar-middle {
    opacity: 0;
  }
}
