<div class="mobilemenu-toggle">
  <button class="button--icon mobilemenu-toggle-button" (click)="toggleMenu()" [ngClass]="{ active: menuOpen }">
    <span class="mobilemenu-toggle-icon">
      <span class="mobilemenu-toggle-bar mobilemenu-toggle-bar-top"></span>
      <span class="mobilemenu-toggle-bar mobilemenu-toggle-bar-middle"></span>
      <span class="mobilemenu-toggle-bar mobilemenu-toggle-bar-bottom"></span>
    </span>
  </button>
</div>
