:host {
  width: 100%;
}

.dashboard-info {
  width: 100%;
  padding-bottom: 18px;
  padding-top: 20px;

  @media screen and (min-width: 992px) {
    padding-top: 26px;
    padding-bottom: 72px;
  }
}

input,
textarea {
  border: solid 1px #000000;
  background-color: #ffffff;
  padding: 16px 16px !important;
  font-size: 11px;
  line-height: 1.45;

  &::placeholder {
    font-size: 11px;

    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #000;
  }
}

textarea {
  min-height: 150px;
}

a {
  display: block;
}

p,
.p {
  margin-bottom: 0;
}

.user-name {
  margin-bottom: 4px;
}

.text-underline {
  margin-top: 4px;

  @media screen and (min-width: 992px) {
    margin-top: 0;
  }
}

.user-info {
  margin-top: 20px;

  @media screen and (min-width: 992px) {
    margin-top: 26px;
  }
}

.user-info__col {
  margin-top: 12px;
  border: 1px solid #E4E4E4;
  padding: 22px 0 22px 24px;

  @media screen and (min-width: 992px) {
    padding: 22px 0 37px 24px;
  }

  .text-underline {
    margin-top: 4px;
  }

  &:first-child {
    margin-top: 0;
  }

  @media screen and (min-width: 992px) {
    margin: 0;
    width: calc(33.333333% - 20px);
  }
}

.recent-orders {
  margin-top: 12px;

  @media screen and (min-width: 992px) {
    margin-top: 30px;
  }
}

.recent-orders__wrapper {
  padding: 24px;
  border: 1px solid #E4E4E4;
}

.recent-orders__title {
  margin-bottom: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #E4E4E4;
}

.responsive-table-row {
  &:not(:first-child) {
    border-top: 1px solid #E4E4E4;

    @media screen and (min-width: 992px) {
      border: none;
    }
  }

  &:last-child {
    td {
      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  td {
    &:first-child {
      padding-top: 20px;

      @media screen and (min-width: 992px) {
        padding-top: 14px;
      }
    }

    &:last-child {
      padding-bottom: 20px;

      @media screen and (min-width: 992px) {
        padding-bottom: 0;
      }
    }

    @media screen and (min-width: 992px) {
      padding: 14px 0 0;
    }
  }
}

.table-striped tbody tr:nth-of-type(odd) {
  background: #fff;
}

.table {
  margin-bottom: 0;

  th {

    min-width: 120px;
    padding: 0.75rem 0;

    &.order-total {
      min-width: 140px;
    }
  }

  td {
    vertical-align: middle;
  }
}

.table thead th {
  border: none;
  font-weight: 500;
}

thead {
  display: none;

  @media screen and (min-width: 992px) {
    display: table-header-group;
    border-bottom: 1px solid #E4E4E4;
  }
}

td {
  display: flex;
  min-width: 60px;
  padding: 5px 0;
  border: none;

  @media screen and (min-width: 992px) {
    display: table-cell;
    padding: 0;
  }

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }

  &:before {
    content: attr(data-label);
    display: block;
    min-width: 91px;
    margin-right: 83px;


    @media screen and (min-width: 992px) {
      display: none;
    }
  }

  &.view-detail {
    position: relative;

    &:before {
      content: none;
    }

    a {
      @media screen and (min-width: 992px) {
        position: absolute;
        top: 14px;
        right: 32px;
        width: 100%;
      }
    }
  }
}

.user-info__address {
  & span {
    margin-right: 3px;
  }
}

.account-loader {
  margin: auto;
  justify-content: center;
  position: fixed;
  top: 40%;
  left: 47.5%;
  transform: translate(50%, 50%);
}
