<div class="dashboard-info">
  <div class="container">
    <div *ngIf="!data" class="row">
      <div class="col-12">
        <component-loader></component-loader>
      </div>
    </div>
    <div *ngIf="data && data.data" class="row"> 
      <div class="col-12">
        <p class="user-name">Hello {{ data.data.customer.firstName }}!</p>
        <p>View a snapshot of your recent account activity and update your account information.</p>
        <div class="user-info d-lg-flex align-items-stretch justify-content-between">
          <div class="user-info__col">
            <h4>Account Information</h4>
            <p>{{ data.data.customer.firstName }} {{ data.data.customer.lastName }}</p>
            <p>{{ data.data.customer.email }}</p>
            <a class="p text-underline" [routerLink]="['/account/reset']">Change Password</a>
          </div>
          <div class="user-info__col">
            <h4>Addresses</h4>
            <a [routerLink]="['/account/addresses']" class="p text-underline">Manage Addresses</a>
          </div>
          <div class="user-info__col">
            <h4>Default Shipping Address</h4>
            <ng-container *ngIf="data.data.customer.defaultAddress">
              <p>{{ data.data.customer.defaultAddress.address1 }}</p>
              <div class="d-flex user-info__address">
                <p class="mr-1" *ngIf="data.data.customer.defaultAddress.company">{{ data.data.customer.defaultAddress.company }},</p>
                <p class="mr-1" *ngIf="data.data.customer.defaultAddress.city">{{ data.data.customer.defaultAddress.city }},</p>
                <p class="mr-1" *ngIf="data.data.customer.defaultAddress.province">{{ data.data.customer.defaultAddress.province }},</p>
                <p class="mr-1" *ngIf="data.data.customer.defaultAddress.zip">{{ data.data.customer.defaultAddress.zip }}</p>
              </div>
            </ng-container>
            <a [routerLink]="['/account/addresses']" class="p text-underline">Edit Address</a>
          </div>
        </div>
      </div>
      <div class="col-12 recent-orders">
        <div class="recent-orders__wrapper">
          <h4 class="recent-orders__title">Recent Orders</h4>
          <div *ngIf="!data.data.customer.orders.edges.length" class="mt-3 mb-5">
            <span>You havent made an order yet!</span>
          </div>
          <table *ngIf="data.data.customer.orders.edges.length" class="table table-striped responsive-table w-100">
            <thead>
              <tr>
                <th class="p" scope="col">Order</th>
                <th class="p" scope="col">Date</th>
                <th class="p" scope="col">Fulfillment Status</th>
                <th class="p" scope="col">Payment Status</th>
                <th class="p" scope="col">Tracking Number</th>
                <th class="p order-total" scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of data.data.customer.orders.edges" class="responsive-table-row">
                <td class="p" data-label="Order" scope="row">
                  <a [routerLink]="['/account/orders', order.node.id]" class="text-underline w-100 order">#{{ order.node.orderNumber }}</a>
                </td>
                <td class="p" data-label="Date">
                  <time class="p">{{ order.node.processedAt | date }}</time>
                </td>
                <td class="p" data-label="Fulfillment Status">Unfulfilled</td>
                <td class="p" data-label="Payment Status">Paid</td>
                <td class="p" data-label="Tracking Number">
                  <a class="text-underline" href="#">Tracking Number</a>
                </td>
                <td class="p" data-label="Total">{{ order.node.totalPriceV2.amount | currency }}</td>
                <td class="view-detail">
                  <a [routerLink]="['/account/orders', order.node.id]" class="text-underline">View details</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div *ngIf="!data" class="row">
      <img [src]="loader" class="account-loader">
    </div>
  </div>
</div>
