<section class="mh-80" *ngIf="!loading && collection">
  <div class="container d-flex flex-column collection-header px-1 align-content-middle align-content-sm-middle ">
    <ngxImg *ngIf="collection.image" class="w-100 relative" [image]="collection.image"
      [sizeSelect]="'landscapeHero'">
      <h1 class="absolute title text-center text-white d-flex flex-column justify-content-center">{{ collection.title }}
      </h1>
    </ngxImg>
  </div>

  <div class="mt-x vh-100" *ngIf="!collection">
    <h1>No Collection Found</h1>
  </div>
  <div class="container " *ngIf="collection.products.length == 0">
    <h1 class="w-100 text-center">No Products Found</h1>
  </div>
  <div class="container " *ngIf="collection.products.length > 0">
    <div class="row">
      <ng-container *ngFor="let product of collection.products | slice: 0:scrollPosition; let i = index">
        <div [ngClass]="classes" class="mb-4 hover col-6 col-md-3">
          <div #products>
            <collectionitem [product]="product"></collectionitem>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>
<div class="d-block" #endofcollection></div>
