<div class="modal">
	<div class="container py-3">
		<div class="row" *ngIf="product">
			<div class="col-12 col-md-6 col-lg-6">
				<ngxImg class="w-100 " [image]="image" [sizeSelect]="'medium'"> </ngxImg>
				<div class="product-thumbs" tabindex="1" *ngIf="product.images > 1">
					<div class="row pt-2 pb-2 product-thumbs-track">
						<div *ngFor="let image of product.images" class="px-1 col">
							<ngxImg class="w-100 " [image]="image" [sizeSelect]="'medium'"> </ngxImg>
						</div>
					</div>
				</div>
			</div>

			<div class="col-12 col-md-6 col-lg-6 product-details d-flex justify-content-center flex-column" *ngIf="product">
				<h1 class="title">{{ product.title }}</h1>
				<h3 class="price">{{ product.price / 100 | currency }}</h3>
				<h5 class="stock">Available: <span>In Stock</span></h5>

				<div *ngIf="product.variants.length > 1">
					Options
					<div *ngFor="let option of product.options_with_values">
						{{ option.name }}: <span *ngFor="let value of option.values">{{ value }} </span>
					</div>
				</div>
				<div>Rating and Review System</div>
				<div [innerHTML]="product.body_html"></div>
			</div>
		</div>
	</div>
</div>
<div class="overlay" (click)="dismiss()"></div>
