<div class="register container-fluid d-flex flex-column justify-content-center align-items-center">
  <div class="row register-wrapper">
    <div class="col-12" *ngIf="success">
      <h3 class="text-center">Account Created!</h3>
      <hr />
      <p class="text-center">Please check your email to confirm your account!</p>
      <a class="btn btn-primary btn-sm d-block mx-auto" [routerLink]="['/']">Go back home</a>
    </div>
    <div class="col-12" *ngIf="!success">
      <h3 class="text-center mb-2">Create an account</h3>
      <p class="register-intro text-center">Please register below to create an account</p>
      <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
        <p class="mb-0">This email is already used on the store.</p>
        <span class="text-underline" (click)="errorMessage = ''">Close</span>
      </div>

      <form class="needs-validation" [ngClass]="{ 'loading-fields': loading }" #loginForm="ngForm">
        <div class="form-group register-form">
          <div class="input-group w-100 d-block" [ngClass]="{ 'was-validated': !firstName.valid && firstName.dirty }">
            <input required class="input w-100 form-control" minlength="2" name="firstName" id="firstName" type="string"
              placeholder="First name" #firstName="ngModel" pattern="[a-zA-Z ]*" [(ngModel)]="customer.firstName"
              autocorrect="off" autocapitalize="off" autocomplete="First Name" aria-required="true"
              [ngModelOptions]="{updateOn: 'blur'}" (change)="customer.firstName = customer.firstName.trim()" />
            <div *ngIf="firstName.invalid && firstName.dirty" class="invalid-feedback">
              <div *ngIf="firstName.errors.required" class="form__message">
                This field is required.
              </div>
              <div *ngIf="firstName.errors.minlength" class="form__message">
                First name must be at least 2 characters long.
              </div>
              <div *ngIf="firstName.errors.pattern" class="form__message">
                Please use text only.
              </div>
            </div>
          </div>
          <div class="input-group w-100 d-block" [ngClass]="{ 'was-validated': !lastName.valid && lastName.dirty }">
            <input required class="input w-100 form-control" minlength="2" name="lastName" id="lastName" type="string"
              placeholder="Last name" #lastName="ngModel" pattern="[a-zA-Z ]*" [(ngModel)]="customer.lastName"
              autocorrect="off" autocapitalize="off" autocomplete="Last Name" aria-required="true"
              [ngModelOptions]="{updateOn: 'blur'}" (change)="customer.lastName = customer.lastName.trim()" />
            <div *ngIf="lastName.invalid && lastName.dirty" class="invalid-feedback">
              <div *ngIf="lastName.errors.required" class="form__message">
                This field is required.
              </div>
              <div *ngIf="lastName.errors.minlength" class="form__message">
                Last name must be at least 2 characters long.
              </div>
              <div *ngIf="lastName.errors.pattern" class="form__message">
                Please use text only.
              </div>
            </div>
          </div>
          <div class="input-group w-100 d-block" [ngClass]="{ 'was-validated': !email.valid && email.dirty }">
            <input required class="input w-100 form-control" email minlength="8" name="email" id="email" type="email"
              placeholder="Email address" #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
              [(ngModel)]="customer.email" autocomplete="email" aria-required="true" autocorrect="off"
              autocapitalize="off" [ngModelOptions]="{updateOn: 'blur'}" />
            <div *ngIf="email.invalid && email.dirty" class="invalid-feedback">
              <div *ngIf="email.errors.required" class="form__message">
                This field is required.
              </div>
              <div *ngIf="email.errors.minlength" class="form__message">
                Email must be at least 8 characters long.
              </div>
              <div *ngIf="email.errors.pattern" class="form__message">
                Please enter a valid email address.
              </div>
            </div>
          </div>
          <div class="input-group w-100 d-block" [ngClass]="{ 'was-validated': !password.valid && password.dirty }">
            <input required [ngModelOptions]="{updateOn: 'blur'}" class="input w-100 form-control" minlength="8"
              name="password" id="Password" type="password" placeholder="Password" #password="ngModel"
              [(ngModel)]="customer.password" aria-required="true" />
            <div *ngIf="password.invalid && password.dirty" class="invalid-feedback">
              <div *ngIf="password.errors.required" class="form__message">
                This field is required.
              </div>
              <div *ngIf="password.errors.minlength" class="form__message">
                Password must be at least 8 characters long.
              </div>
            </div>
          </div>
          <div class="input-group form-check"
            [ngClass]="{ 'was-validated': !acceptsMarketing.valid && acceptsMarketing.dirty }">
            <input required class="checkbox form-check-input" id="checked-box" name="acceptsMarketing" type="checkbox"
              #acceptsMarketing="ngModel" [(ngModel)]="customer.acceptsMarketing" aria-required="true" />
            <label class="agree form-check-label checkbox-label" for="checked-box"> I agree to the <a
                class="text-underline" href="https://camillaandmarc-au.myshopify.com/pages/terms-conditions"
                target="_blank">terms & conditions</a> and to receive periodic promotional emails. </label>
            <div *ngIf="acceptsMarketing.invalid && acceptsMarketing.dirty" class="invalid-feedback">
              <div *ngIf="acceptsMarketing.errors.required" class="form__message">
                Please accept the terms and conditions.
              </div>
            </div>
          </div>
          <button [disabled]="!loginForm.form.valid || !loginForm.form.dirty" class="btn btn-primary d-block w-100"
            (click)="submit()">Create account</button>
        </div>
      </form>
      <div class="text-center">
        <a class="w-100 text-center register-link" [routerLink]="['/account/login']"
          routerLinkActive="router-link-active">Back to login</a>
        <div></div>
      </div>
    </div>
  </div>
</div>
