.register-wrapper {
  max-width: 404px;
  padding: 17px 0 13px;

  @media (min-width: 768px) {
    padding-top: 118px;
    padding-bottom: 111px;
  }
}

.register-intro {
  margin-bottom: 13px;

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }
}

.btn {
  width: 100%;
  margin: 18px auto 0;
  padding: 11px;

  @media screen and (min-width: 768px) {
    width: 164px;
    min-width: auto;
    margin-top: 24px;
  }
}

.input-group {
  &+& {
    margin-top: 12px;
  }
}

.register {
  @media (max-width: 767px) {
    margin-bottom: 10px;
  }
}

.register-link {
  border-bottom: 1px solid #000;

  &:hover {
    border-color: #777777;
    text-decoration: none;
  }
}

.form-group {
  margin-bottom: 10px;
}

.was-validated .form-check-input:valid~.form-check-label,
.was-validated .form-check-input:invalid~.form-check-label,
.form-check-input.is-valid~.form-check-label {
  color: #222222;
}

.was-validated .form-check-input:invalid~.form-check-label:before {
  border-color: #e60000;
}

.was-validated .form-check-label {
  &:before {
    border-color: red;
  }
}

.was-validated .invalid-feedback {
  display: block;
}

.agree {
  text-transform: none !important;
}

.register-form {
  margin-bottom: 8px;

  & .form-check-label:before {
    width: 20px;
    height: 20px;
  }
}
