<div class="container-fluid overflow">
	<div class="container">
		<div class="row mb-8">
			<div class="col">
				<h2 class="text-center mb-0">
					{{ block.settings.title }}
				</h2>
			</div>
		</div>
		<div *ngIf="!products.length" class="row">
			<div class="col-12 mt-10">
				<h3 class="text-center">No Products in Collection</h3>
			</div>
		</div>
		<div class="row" *ngIf="products.length">
			<ngx-light-carousel [options]="options" [data]="products" class="carousel collection col c-accent">
				<section ngx-light-carousel-container class="content">
					<article class="item cursor-pointer" ngx-light-carousel-item *ngFor="let product of products; let i = index" [ngClass]="{ visible: currentIndex === i }">
						<collectionitem [product]="product"></collectionitem>
					</article>
					<ng-template #infiniteContainer></ng-template>
				</section>
				<ng-template #carouselContent let-product let-i="index">
					<article class="item cursor-pointer" ngx-light-carousel-item [ngClass]="{ visible: currentIndex === i }">
						<collectionitem [product]="product"></collectionitem>
					</article>
				</ng-template>
				<ng-template #carouselPrev> </ng-template>
				<ng-template #carouselNext> </ng-template>
			</ngx-light-carousel>
		</div>
		<div class="row" *ngIf="block.settings.link">
			<a href="{{ block.settings.link }}" routerLinkActive="router-link-active" class="mx-auto btn btn-primary" [innerHtml]="block.settings.linkText"> </a>
		</div>
	</div>
</div>
