<div class="container pt-12 pt-lg-20 pb-10 pb-md-30" *ngIf="results">
	<div class="row">
		<div class="col-12 search-header">
			<h1 class="my-0">Search results for: <input class="text-center text-md-left" #input (keypress)="resize()" (keyup)="search()" [(ngModel)]="output" /></h1>
		</div>
	</div>

	<div class="row">
		<div class="container">
			<div class="row pt-15">
				<div class="col-6 col-md-3 mb-2" *ngFor="let searchItem of results; let i = index">
					<searchitem [searchItem]="searchItem"></searchitem>
				</div>
			</div>
		</div>
	</div>
</div>
