.search-header {
	border-top: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
	padding: 15px 0;
	margin-bottom: 12px;
	h1,
	h2 {
		color: #000000;
	}
	color: #000000;
	letter-spacing: 0.5px;
	line-height: 12px;
}

input {
	appearance: none;
	border: none;
	font-weight: bold;
	text-decoration: underline;
	background: transparent;

	&:focus,
	&:active {
		outline: none;
	}
}
