.h-100 {
	min-height: 500px;
}

* {
	transition: 0.3s ease-in-out all;
}

.loading .content {
	opacity: 0;
	height: 0;
}

.action {
	font-size: 14px;
	font-weight: 900;
	line-height: 1.14;
	border: none;
	padding: 8px 16px;
	text-align: center;
	color: #989898;
	min-width: 103px;
}
