<div class="relative" *ngIf="product">
	<ngxImg class="w-100 " (load)="loading = false" [image]="image" [sizeSelect]="'large'"> </ngxImg>
	<div class=" d-flex flex-column absolute">
		<div class="my-auto container">
			<h1 class="title mb-4">{{ product.title }}</h1>
			<div class="from mb-4">From {{ product.vendor }}</div>
			<addtocart [product]="product" [variant]="selectedVariant" [quantity]="quantity"> </addtocart>
		</div>
	</div>
</div>
