<div [routerLink]="['/account']" routerLinkActive="router-link-active" class="account-wrapper">
	<svg width="13px" height="15px" viewBox="0 0 13 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<g id="1.0-Global-/-Home" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
			<g id="1.0-Global-/-🖥-/-Home" transform="translate(-1372.000000, -19.000000)" stroke="#000000">
				<g id="global-/-🖥-/-navigation-/-resting-global-/-desktop-/-navigation-/-resting">
					<g id="Middle" transform="translate(24.000000, 18.000000)">
						<g id="RHS-Icons" transform="translate(1316.000000, 1.000000)">
							<g id="account-icon" transform="translate(32.000000, 0.000000)">
								<circle id="Oval" cx="6.5" cy="4.49930529" r="3.5"></circle>
								<path d="M11.9548924,15 C11.9548924,11.6862915 9.49245856,10 6.45489244,10 C3.41732631,10 0.954892436,11.6862915 0.954892436,15" id="Oval"></path>
							</g>
						</g>
					</g>
				</g>
			</g>
		</g>
	</svg>
</div>
