<div class="link-list container-fluid py-0">
	<div class="row mobile-borders link-container">
		<article *ngFor="let block of block.blocks; let i = index" class="col-6 col-sm py-3 py-md-0 px-0 underline-animation mobile-borders link-child" [routerLink]="[block.link]" routerLinkActive="router-link-active">
			<div class="text-center hover hover-from-left responsive-font-size-headers">
				{{ block.linkTitle }}
			</div>
		</article>
	</div>
</div>
