$animate: all 0.1s ease-in-out;
$grey: #e4e4e4;
/** Hover-related CSS **/

// .responsive-size {
//   @media screen and (max-width)
// }

:host {
  .underline-animation {
    .hover {
      transition: $animate;
      position: relative;

      &:before,
      &:after {
        content: "";
        position: absolute;
        bottom: -10px;
        width: 0px;
        height: 5px;
        margin: 5px 0 0;
        transition: $animate;
        transition-duration: 0.75s;
        opacity: 0;
        background-color: darken(navy, 5%);
      }

      &.hover-from-left {

        &:before,
        &:after {
          left: 0;
        }
      }

    }

    &:hover {
      cursor: pointer;

      .hover {

        &:before,
        &:after {
          width: 100%;
          opacity: 1;
        }
      }
    }
  }
}

/* Mobile borders  */

.mobile-borders {
  @media screen and (max-width: 768px) {

    &.link-container {
      border-left: 1px solid $grey;
      border-top: 1px solid $grey;
    }

    &.link-child {
      border-right: 1px solid $grey;
      border-bottom: 1px solid $grey;
    }


  }



}
