<div class="pb-30">
	<div class="container">
		<!-- Title -->
		<div class="row mb-4">
			<div class="col-12">
				<h1>Style Guide</h1>
			</div>
		</div>
		<!-- End title  -->

		<!-- Typography -->
		<div class="row mb-4">
			<div class="col-12">
				<h4>Typography</h4>
				<hr />
			</div>

			<div class="col-12">
				<div class="row">
					<!-- Left column -->
					<div class="col-6">
						<p class="text-secondary">Heading</p>
						<h1>h1 Sans</h1>
						<h2>h2 Sans</h2>
						<h3>h3 Sans</h3>
						<h4>h4 Sans</h4>
						<h5>h5 Sans</h5>
					</div>
					<!-- End left column -->

					<!-- Right column -->
					<div class="col-6">
						<p class="text-secondary">Paragraph Styles</p>
						<p class="lead pb-10">
							Introduction paragraph text. In hac habitasse platea dictumst. Vivamus adipiscing fermentum quam volutpat aliquam. Integer et elit eget elit facilisis tristique. Nam vel iaculis mauris.
						</p>
						<p>
							Introduction paragraph text. In hac habitasse platea dictumst. Vivamus adipiscing fermentum quam volutpat aliquam. Integer et elit eget elit facilisis tristique. Nam vel iaculis mauris.
						</p>
						<a href="#">Text Link</a>
					</div>
					<!-- End right column -->
				</div>
			</div>
		</div>
		<!-- End Typography -->

		<!-- Form -->
		<div class="row">
			<div class="col-12">
				<h4>Form</h4>
				<hr />
			</div>

			<!-- Inputs -->
			<div class="col-12 mb-4">
				<div class="row">
					<div class="col-6">
						<input class="input mb-4" placeholder="Placeholder" type="text" />
						<input class="input mb-4" placeholder="Placeholder" type="text" />
					</div>
					<div class="col-6">
						<input class="input mb-4" placeholder="Focus field" type="text" />
						<input class="input mb-1 form__input--error" placeholder="Placeholder" type="text" />
						<span class="form__message">Please enter a valid email address</span>
					</div>
				</div>
			</div>
			<!-- END inputs -->

			<!-- Begin checkboxes and radio -->
			<div class="col-12 mb-4">
				<div class="col-6">
					<!-- ^^^ Keep everything constrained on the left half of the page -->
					<div class="row">
						<!-- Checkboxes -->
						<div class="col-6">
							<div class="form-check mb-4">
								<input class="checkbox form-check-input" id="unchecked-box" name="checkbox" type="checkbox" />
								<label class="form-check-label checkbox-label" for="unchecked-box">Unchecked box</label>
							</div>
							<div class="form-check mb-4">
								<input checked class="checkbox form-check-input" id="checked-box" name="checkbox" type="checkbox" />
								<label class="form-check-label checkbox-label" for="checked-box">Checked box</label>
							</div>
						</div>
						<!-- End checkboxes -->

						<!-- Radio buttons -->
						<div class="col-6">
							<div class="form-check mb-4">
								<input class="form-check-input radio" id="unchecked-radio" name="checkbox" type="radio" />
								<label class="radio-label form-check-label " for="unchecked-radio">Unchecked radio</label>
							</div>
							<div class="form-check mb-4">
								<input checked class="form-check-input radio" id="checked-radio" name="checkbox" type="radio" />
								<label class="radio-label form-check-label" for="checked-radio">Checked radio</label>
							</div>
						</div>
						<!-- End radio buttons -->
					</div>
				</div>
				<!-- ^^^ END Keep everything constrained on the left half of the page -->
			</div>
			<!-- END checkboxes and radio  -->
		</div>
		<!-- End form -->

		<!-- Start buttons -->
		<div class="row">
			<div class="col-12">
				<h4>Buttons</h4>
				<hr />
				<p><button class="btn btn-primary" href="#">Button</button></p>
				<p><button class="btn btn-secondary" href="#">Button</button></p>
				<p><button class="btn btn-grey" href="#">Button</button></p>
			</div>
		</div>
		<!-- End buttons -->

		<!-- PLACEHOLDER FOR MODAL -->
	</div>
</div>

<!-- Modal -->
<!-- <div class="row">
			<div class="col-12">
				<p class="text-secondary">Modal</p>
				<hr />
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<p>
					<a class="btn btn-secondary" (click)="openFindInStore = !openFindInStore">Find in store</a>
				</p>
			</div>
		</div> -->
<!-- End modal -->

<!-- Modal -->
<!-- <div class="modal modal--center modal--normal" [ngClass]="{ 'modal--active': openFindInStore }" id="exampleModal"
  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-find-store" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"
        (click)="openFindInStore = !openFindInStore">
        <svg fill="currentColor" height="512" viewBox="0 0 413.348 413.348" width="512">
          <path
            d="m413.348 24.354-24.354-24.354-182.32 182.32-182.32-182.32-24.354 24.354 182.32 182.32-182.32 182.32 24.354 24.354 182.32-182.32 182.32 182.32 24.354-24.354-182.32-182.32z" />
        </svg>
      </button>
      <div class="body">
        <div class="store-component">
          <header class="store-component__header text-center">
            <h3 class="text-primary mb-1">Find In Store</h3>
            <p class="text-black-2 mb-3">Enter your address to find availability at a store near you</p>
            <div class="input-group relative">
              <input class="input" placeholder="Placeholder" type="text" />
              <button class="h4" type="submit">Search</button>
            </div>
          </header>
          <div class="store-component__content">
            <ul class="store-component__items">
              <li class="store-component__item">
                <label class="store-component__label d-flex in-stock">
                  <svg fill="currentColor" aria-hidden="true" focusable="false" data-prefix="fas"
                    data-icon="check-circle" class="svg-inline--fa fa-check-circle fa-w-16" role="img"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path
                      d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z">
                    </path>
                  </svg>
                  In Stock
                </label>
                <h3 class="h4 text-primary">Name of store</h3>
                <div class="store-component__info">
                  <p class="text-black-2">
                    General area<br />
                    Address Line 1<br />
                    Suburb, State<br />
                    Country Postcode
                  </p>
                  <p class="text-black-2 mb-1">
                    <svg fill="currentColor" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="phone"
                      role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                      <path
                        d="M487.8 24.1L387 .8c-14.7-3.4-29.8 4.2-35.8 18.1l-46.5 108.5c-5.5 12.7-1.8 27.7 8.9 36.5l53.9 44.1c-34 69.2-90.3 125.6-159.6 159.6l-44.1-53.9c-8.8-10.7-23.8-14.4-36.5-8.9L18.9 351.3C5 357.3-2.6 372.3.8 387L24 487.7C27.3 502 39.9 512 54.5 512 306.7 512 512 307.8 512 54.5c0-14.6-10-27.2-24.2-30.4zM55.1 480l-23-99.6 107.4-46 59.5 72.8c103.6-48.6 159.7-104.9 208.1-208.1l-72.8-59.5 46-107.4 99.6 23C479.7 289.7 289.6 479.7 55.1 480z"
                        class=""></path>
                    </svg>
                    Phone <a href="+613 9804 3111">+613 9804 3111</a> or <a href="mailto:">email</a>
                  </p>
                  <p class="text-black-2 mb-0">
                    <svg fill="currentColor" aria-hidden="true" focusable="false" data-prefix="fal"
                      data-icon="location-arrow" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                      <path
                        d="M461.9 0c-5.73 0-11.59 1.1-17.39 3.52L28.74 195.41c-47.97 22.39-31.98 92.75 19.19 92.75h175.91v175.91c0 30.01 24.21 47.93 48.74 47.93 17.3 0 34.75-8.9 44.01-28.74l191.9-415.78C522.06 34.89 494.14 0 461.9 0zm17.55 54.08L287.6 469.74c-3.18 6.82-8.24 10.28-15.03 10.28-5.8 0-16.76-3.33-16.76-15.94v-207.9H47.93c-11.45 0-14.64-8.83-15.49-12.63-1.1-4.93-1.27-13.98 9.7-19.1L456.82 33.04c1.71-.71 3.37-1.05 5.09-1.05 5.42 0 11.49 3.65 15.11 9.08 2.19 3.29 4.32 8.41 2.43 13.01z"
                        class=""></path>
                    </svg>
                    <a href="#">Get directions</a>
                  </p>
                </div>
              </li>
              <li class="store-component__item">
                <label class="store-component__label d-flex out-of-stock">
                  <svg fill="currentColor" aria-hidden="true" focusable="false" data-prefix="fas"
                    data-icon="times-circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                    class="svg-inline--fa fa-times-circle fa-w-16 fa-2x">
                    <path
                      d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z">
                    </path>
                  </svg>
                  Out of Stock
                </label>
                <h3 class="h4 text-primary">Camilla and Marc Fiveways, Paddington</h3>
                <div class="store-component__info">
                  <p class="text-black-2">
                    217 Glenmore Road<br />
                    Five Ways Paddington, New South Wales<br />
                    Australia 2021
                  </p>
                  <p class="text-black-2 mb-1">
                    <svg fill="currentColor" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="phone"
                      role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                      <path
                        d="M487.8 24.1L387 .8c-14.7-3.4-29.8 4.2-35.8 18.1l-46.5 108.5c-5.5 12.7-1.8 27.7 8.9 36.5l53.9 44.1c-34 69.2-90.3 125.6-159.6 159.6l-44.1-53.9c-8.8-10.7-23.8-14.4-36.5-8.9L18.9 351.3C5 357.3-2.6 372.3.8 387L24 487.7C27.3 502 39.9 512 54.5 512 306.7 512 512 307.8 512 54.5c0-14.6-10-27.2-24.2-30.4zM55.1 480l-23-99.6 107.4-46 59.5 72.8c103.6-48.6 159.7-104.9 208.1-208.1l-72.8-59.5 46-107.4 99.6 23C479.7 289.7 289.6 479.7 55.1 480z"
                        class=""></path>
                    </svg>
                    Phone <a href="+613 9804 3111">+613 9804 3111</a> or <a href="mailto:">email</a>
                  </p>
                  <p class="text-black-2 mb-0">
                    <svg fill="currentColor" aria-hidden="true" focusable="false" data-prefix="fal"
                      data-icon="location-arrow" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                      <path
                        d="M461.9 0c-5.73 0-11.59 1.1-17.39 3.52L28.74 195.41c-47.97 22.39-31.98 92.75 19.19 92.75h175.91v175.91c0 30.01 24.21 47.93 48.74 47.93 17.3 0 34.75-8.9 44.01-28.74l191.9-415.78C522.06 34.89 494.14 0 461.9 0zm17.55 54.08L287.6 469.74c-3.18 6.82-8.24 10.28-15.03 10.28-5.8 0-16.76-3.33-16.76-15.94v-207.9H47.93c-11.45 0-14.64-8.83-15.49-12.63-1.1-4.93-1.27-13.98 9.7-19.1L456.82 33.04c1.71-.71 3.37-1.05 5.09-1.05 5.42 0 11.49 3.65 15.11 9.08 2.19 3.29 4.32 8.41 2.43 13.01z"
                        class=""></path>
                    </svg>
                    <a href="#">Get directions</a>
                  </p>
                </div>
              </li>
              <li class="store-component__item">
                <label class="store-component__label d-flex low-stock">
                  <svg fill="currentColor" aria-hidden="true" focusable="false" data-prefix="fas"
                    data-icon="exclamation-circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                    class="svg-inline--fa fa-exclamation-circle fa-w-16 fa-2x">
                    <path
                      d="M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zm-248 50c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z"
                      class=""></path>
                  </svg>
                  Low Stock
                </label>
                <h3 class="h4 text-primary">Camilla and Marc, Glenmore Rd Paddington</h3>
                <div class="store-component__info">
                  <p class="text-black-2">
                    Shop 8, 2–16 Glenmore Road<br />
                    Paddington, New South Wales<br />
                    Australia 2021
                  </p>
                  <p class="text-black-2 mb-1">
                    <svg fill="currentColor" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="phone"
                      role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                      <path
                        d="M487.8 24.1L387 .8c-14.7-3.4-29.8 4.2-35.8 18.1l-46.5 108.5c-5.5 12.7-1.8 27.7 8.9 36.5l53.9 44.1c-34 69.2-90.3 125.6-159.6 159.6l-44.1-53.9c-8.8-10.7-23.8-14.4-36.5-8.9L18.9 351.3C5 357.3-2.6 372.3.8 387L24 487.7C27.3 502 39.9 512 54.5 512 306.7 512 512 307.8 512 54.5c0-14.6-10-27.2-24.2-30.4zM55.1 480l-23-99.6 107.4-46 59.5 72.8c103.6-48.6 159.7-104.9 208.1-208.1l-72.8-59.5 46-107.4 99.6 23C479.7 289.7 289.6 479.7 55.1 480z"
                        class=""></path>
                    </svg>
                    Phone <a href="+613 9804 3111">+613 9804 3111</a> or <a href="mailto:">email</a>
                  </p>
                  <p class="text-black-2 mb-0">
                    <svg fill="currentColor" aria-hidden="true" focusable="false" data-prefix="fal"
                      data-icon="location-arrow" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                      <path
                        d="M461.9 0c-5.73 0-11.59 1.1-17.39 3.52L28.74 195.41c-47.97 22.39-31.98 92.75 19.19 92.75h175.91v175.91c0 30.01 24.21 47.93 48.74 47.93 17.3 0 34.75-8.9 44.01-28.74l191.9-415.78C522.06 34.89 494.14 0 461.9 0zm17.55 54.08L287.6 469.74c-3.18 6.82-8.24 10.28-15.03 10.28-5.8 0-16.76-3.33-16.76-15.94v-207.9H47.93c-11.45 0-14.64-8.83-15.49-12.63-1.1-4.93-1.27-13.98 9.7-19.1L456.82 33.04c1.71-.71 3.37-1.05 5.09-1.05 5.42 0 11.49 3.65 15.11 9.08 2.19 3.29 4.32 8.41 2.43 13.01z"
                        class=""></path>
                    </svg>
                    <a href="#">Get directions</a>
                  </p>
                </div>
              </li>
              <li class="store-component__item">
                <label class="store-component__label d-flex in-stock">
                  <svg fill="currentColor" aria-hidden="true" focusable="false" data-prefix="fas"
                    data-icon="check-circle" class="svg-inline--fa fa-check-circle fa-w-16" role="img"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path
                      d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z">
                    </path>
                  </svg>
                  In Stock
                </label>
                <h3 class="h4 text-primary">Camilla and Marc Bondi</h3>
                <div class="store-component__info">
                  <p class="text-black-2">
                    Westfield Bondi Junction<br />
                    474 - 548 Oxford St<br />
                    Bondi, New South Wales<br />
                    Australia 2022
                  </p>
                  <p class="text-black-2 mb-1">
                    <svg fill="currentColor" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="phone"
                      role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                      <path
                        d="M487.8 24.1L387 .8c-14.7-3.4-29.8 4.2-35.8 18.1l-46.5 108.5c-5.5 12.7-1.8 27.7 8.9 36.5l53.9 44.1c-34 69.2-90.3 125.6-159.6 159.6l-44.1-53.9c-8.8-10.7-23.8-14.4-36.5-8.9L18.9 351.3C5 357.3-2.6 372.3.8 387L24 487.7C27.3 502 39.9 512 54.5 512 306.7 512 512 307.8 512 54.5c0-14.6-10-27.2-24.2-30.4zM55.1 480l-23-99.6 107.4-46 59.5 72.8c103.6-48.6 159.7-104.9 208.1-208.1l-72.8-59.5 46-107.4 99.6 23C479.7 289.7 289.6 479.7 55.1 480z"
                        class=""></path>
                    </svg>
                    Phone <a href="+613 9804 3111">+613 9804 3111</a> or <a href="mailto:">email</a>
                  </p>
                  <p class="text-black-2 mb-0">
                    <svg fill="currentColor" aria-hidden="true" focusable="false" data-prefix="fal"
                      data-icon="location-arrow" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                      <path
                        d="M461.9 0c-5.73 0-11.59 1.1-17.39 3.52L28.74 195.41c-47.97 22.39-31.98 92.75 19.19 92.75h175.91v175.91c0 30.01 24.21 47.93 48.74 47.93 17.3 0 34.75-8.9 44.01-28.74l191.9-415.78C522.06 34.89 494.14 0 461.9 0zm17.55 54.08L287.6 469.74c-3.18 6.82-8.24 10.28-15.03 10.28-5.8 0-16.76-3.33-16.76-15.94v-207.9H47.93c-11.45 0-14.64-8.83-15.49-12.63-1.1-4.93-1.27-13.98 9.7-19.1L456.82 33.04c1.71-.71 3.37-1.05 5.09-1.05 5.42 0 11.49 3.65 15.11 9.08 2.19 3.29 4.32 8.41 2.43 13.01z"
                        class=""></path>
                    </svg>
                    <a href="#">Get directions</a>
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- End Modal -->
