<ng-container *ngIf="product.images.length > 1">
  <ngxImg [routerLink]="['/products/' + product.handle]" class="hover-off relative actionable w-100"
    [image]="product.images[0]" [sizeSelect]="'thumb'">
  </ngxImg>
  <ngxImg [routerLink]="['/products/' + product.handle]" class="hover-on relative actionable w-100"
    [image]="product.images[1]" [sizeSelect]="'thumb'"> </ngxImg>
</ng-container>
<ng-container *ngIf="product.images.length <= 1">
  <ngxImg [routerLink]="['/products/' + product.handle]" class="relative actionable w-100"
    [image]="product.images[0]" [sizeSelect]="'thumb'"> </ngxImg>
</ng-container>
<ng-container>
  <ngxImg [routerLink]="['/products/' + product.handle]" class="relative actionable w-100"
    [sizeSelect]="'thumb'"> </ngxImg>
</ng-container>
<div class="pt-1 pt-md-2 mb-3">
  <a [routerLink]="['/products/' + product.handle]">
    <h3 class="title mb-1">
      {{ product.title }} <br />
      {{ product.price / 100 | currency }}
    </h3>
  </a>
</div>
