.remove {
    min-width: auto;
    padding: 0;
    color: #ababab;
}

@media screen and (max-width: 640px) {
    h3 {
        font-size: 12px !important;
    }
    .subtitle {
        font-size: 11px;
    }
    .btn {
        padding: 5px 8px;
        font-size: 10px;
    }
}

:host {
    h3 {
        font-size: 18px;
    }
    .hover-off {
        display: block !important;
    }
    .hover-on {
        display: none !important;
    }
    @media screen and (min-width: 991px) {
        &:hover {
            .hover-off {
                display: none !important;
            }
            .hover-on {
                display: block !important;
            }
        }
    }
}

.buttons {
    z-index: 2;
}

.price {
    font-size: 12px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: -0.33px;
    color: #000000;
}

.top {
    position: absolute;
    top: 8px;
    left: 8px;
    right: 8px;
    .price {
        background: #000;
        padding: 0 13px;
        color: #fff;
        line-height: 1.8;
    }
}

.bottom {
    position: absolute;
    padding: 8px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    &>a {
        width: 48.5%;
        text-align: center;
    }
}