<div *ngIf="loading" class="loading row flex-column justify-content-center d-flex">
	<div class="loading-wrapper mx-auto">
		<h1 class="content text-center">
			<ng-content></ng-content>
		</h1>
	</div>
</div>
