.loading-wrapper {
  position: relative;



  .content {
    z-index: 1001;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Halis GR', Arial, Helvetica, sans-serif !important;
    letter-spacing: 0.9px;
    font-style: italic;
    line-height: 60px;
    text-align: center;
    position: relative;
    cursor: pointer;
  }

  &:hover {
    .content {
      color: #000 !important;
    }

    &:after {
      background: #fff;
      border: 1px solid #000;
    }
  }

  * {
    transition: 0.3s ease-in-out all;
  }
}

.loading {
  background: rgba(240, 240, 240, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1 !important;

  * {
    opacity: 1 !important;
  }

  transition: 0.3s ease-in-out opacity;
  z-index: 500;
}

.hidden {
  opacity: 0;
}
