<ng-container *ngIf="blog" [ngSwitch]="blog.type">
  <page-blog-standard *ngSwitchDefault [blog]="blog"></page-blog-standard>
  <page-blog-with-image *ngSwitchCase="'blog-with-image'" [blog]="blog"></page-blog-with-image>
</ng-container>
<loader [loading]="loading">Hi I am loading</loader>
