.vendorLogo {
  max-width: 58px;
}

.meta {
  h5 {
    font-size: 14px;
  }
}

.title {
  font-size: 24px;
}

.tagline {
  font-size: 14px;
}

.star {
  font-size: 9px;
  color: #ffdb54;
}

.carousel {
  position: relative;
  height: 100%;

  .indicators {
    top: 0;
  }
}

.related {
  label {
    font-size: 11px;
    color: #000000;
  }

  a {
    display: inline-block;

    &.active .cookie,
    &.undefined .cookie {
      border: 2px solid #000;
    }

    .cookie {
      width: 48px;
      border-radius: 100%;
      border: 2px solid transparent;
      margin-bottom: 2px;
    }

    &.router-link-active .cookie {
      border: 2px solid #000;
    }
  }
}

.loading {
  pointer-events: none;
}

.review {
  font-size: 11px;
  line-height: 1.45;
  color: #000000;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .product-grid:nth-child(4) {
    display: none;
  }
}

image.thumb {
  border: 1px solid #f5f5f5;
}
