<ng-container *ngIf="collection" [ngSwitch]="collection.type">
  <page-collection-with-image *ngSwitchCase="'collection-with-image'" [collection]="collection">
  </page-collection-with-image>
  <page-collection-standard *ngSwitchDefault [collection]="collection"></page-collection-standard>
</ng-container>


<loader [loading]="loading">Hi I am loading</loader>
