.sidebar {
	pointer-events: none;
	z-index: 999;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 88px;
	overflow-y: scroll;
	width: 100vw;
	transition: all 0.3s ease-in-out;

	&.sidebar-active {
		background: white;
		z-index: 9999;
		opacity: 1;
		pointer-events: visible;

		.sidebar-wrapper {
			transform: translate3d(0, 0, 0);
		}
	}

	.nav-item:not(:first-child) {
		border-top: 1px solid #e4e4e4;

		.btn {
			min-width: inherit;
			width: 60px;
		}

		input {
			background: #f8f8f8;
			border: 1px solid #000;
			appearance: none;

			&::placeholder {
				// font-size: 13px;
				// line-height: 16px;
			}
		}

		&:last-child {
			border-bottom: 1px solid #e4e4e4;
		}
	}
}

.sidebar-wrapper {
	transition: opacity 0.3s ease-in-out, transform 0.3s;
	position: relative;
	background: #ffffff;
	border-top: 1px solid #e4e4e4;
	transform: translate3d(0, -100%, 0);
	z-index: 1;
	overflow: auto;
}

.secondary {
	background-color: #efeded;

	.nav-item {
		background-color: #efeded;
	}

	.nav-link {
		color: #222222;
	}
}

.nav-link {
	padding: 19px 12px 19px 12px;
	max-height: 54px;
}

.nav-link-highlight {
	color: #e40000;
}

.submenu {
	flex-wrap: wrap;
	border-top: 1px solid #e4e4e4;
	padding: 16px 12px 0;

	.nav-link {
		// font-size: 11px;
		color: #222222;
		padding: 0 0 16px 0;
	}
}

.search-input {
	padding: 10px;
}

.search-button {
	// font-size: 14px;
	padding: 0;
	line-height: 40px;
}

li {
	color: #e4e4e4;
}

svg {
	width: 12px;
	height: 12px;
	color: #444;

	&.icon-arrow {
		width: 16px;
		height: 16px;
	}
}

svg.minus {
	height: 2px;
}
