<span #menuElm class="sidebar " [ngClass]="{ 'sidebar-active': showmenu }">
	<div id="drawer" class="w-100 h-100 d-flex flex-column justify-content-between  sidebar-wrapper">
		<ul class="navbar-nav" *ngIf="menuPrimary">
			<li class="nav-item" *ngFor="let link of menuPrimary">
				<a class="nav-link d-flex" *ngIf="!link.links" (click)="handleClick()" [routerLink]="[link.url]" routerLinkActive="router-link-active">{{ link.title }} </a>
				<span class="nav-link nav-link-accordion d-flex" *ngIf="link.links" (click)="link.active = !link.active">
					{{ link.title }}
					<span class="ml-auto">
						<svg *ngIf="!link.active" aria-hidden="true" class="svg-inline--fa fa-caret-right fa-w-6 fa-3x" data-icon="caret-right" data-prefix="fas" focusable="false" role="img" viewbox="0 0 13 12" xmlns="http://www.w3.org/2000/svg">
							<path d="M6.933 0v5.5h5.5v1H6.932V12h-1V6.5h-5.5v-1h5.5V0h1z" fill-rule="evenodd" fill="currentColor" />
						</svg>
						<svg *ngIf="link.active" aria-hidden="true" class="minus svg-inline--fa fa-caret-right fa-w-6 fa-3x" data-icon="caret-right" data-prefix="fas" focusable="false" role="img" viewbox="0 0 13 12" xmlns="http://www.w3.org/2000/svg">
							<path d="M0 0h12v1H0z" fill-rule="evenodd" fill="currentColor" />
						</svg>
					</span>
				</span>
				<div class="submenu " [@openClose] *ngIf="link.active">
					<div class="d-flex flex-wrap inner ">
						<div class="d-block w-50" *ngFor="let childLink of link.links">
							<a [routerLink]="[childLink.url]" class="nav-link child" routerlinkactive="router-link-active">{{ childLink.title }}</a>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<ul class="navbar-nav secondary" *ngIf="menuSecondary">
			<li class="nav-item" *ngFor="let link of menuSecondary">
				<a class="nav-link d-flex " *ngIf="!link.links" (click)="handleClick()" [routerLink]="[link.url]" routerLinkActive="router-link-active">{{ link.title }} </a>
				<span class="nav-link nav-link-accordion d-flex " *ngIf="link.links" (click)="link.active = !link.active">
					{{ link.title }}
					<span class="ml-auto">
						<svg *ngIf="!link.active" aria-hidden="true" class="svg-inline--fa fa-caret-right fa-w-6 fa-3x" data-icon="caret-right" data-prefix="fas" focusable="false" role="img" viewbox="0 0 13 12" xmlns="http://www.w3.org/2000/svg">
							<path d="M6.933 0v5.5h5.5v1H6.932V12h-1V6.5h-5.5v-1h5.5V0h1z" fill-rule="evenodd" fill="currentColor" />
						</svg>
						<svg *ngIf="link.active" aria-hidden="true" class="minus svg-inline--fa fa-caret-right fa-w-6 fa-3x" data-icon="caret-right" data-prefix="fas" focusable="false" role="img" viewbox="0 0 13 12" xmlns="http://www.w3.org/2000/svg">
							<path d="M0 0h12v1H0z" fill-rule="evenodd" fill="currentColor" />
						</svg>
					</span>
				</span>
				<div class="submenu " [@openClose] *ngIf="link.active">
					<div class="d-flex flex-wrap inner ">
						<div class="d-block w-50" *ngFor="let link of link.links" (click)="link.active = false; handleClick()">
							<a [routerLink]="[link.url]" class="nav-link child" routerlinkactive="router-link-active">{{ link.title }}</a>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</span>
