<div class="page" *ngIf="page">
	<div class="container">
		<div class="row">
			<!-- The menu card contains a footer menu for easy navigation. Do not display on mobile. -->
			<div class="d-none d-md-block col-4 mr-3">
				<div class="menu-card">
					<div class="px-3 py-2">
						<p class="font-weight-bold">
							{{ page.blocksMenu.settings.title | uppercase }}
						</p>
						<div *ngFor="let link of page.blocksMenu.links">
							<p [routerLink]="[link.url]" routerLinkActive="router-link-active" class="actionable" [ngClass]="{ 'text-underline': link.title == page.title }">
								{{ link.title }}
							</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-12 col-md-7">
				<div
					class="col-12 mb-3"
					[ngClass]="{
						'py-30': page.type != 'landing',
						'pt-30 pb-5': page.type == 'landing'
					}"
				>
					<h1>{{ page.title }}</h1>
					<hr />
				</div>
				<div class="col-12 inner-content text-justify" [innerHtml]="page.content"></div>
			</div>
		</div>
	</div>
</div>
