<div #menu class="collapse navbar-collapse px-0">
	<ul class="navbar-nav">
		<li class="nav-item" *ngFor="let link of header.links">
			<a class="nav-link mr-2" *ngIf="!link.links" [routerLink]="[link.url]" [queryParams]="link.params" routerLinkActive="router-link-active">{{ link.title }}</a>
			<a class="nav-link mr-2" *ngIf="link.links" (click)="menuOpen(link)">{{ link.title }}</a>
			<div class="flyout-menu" [@openClose]="link.active" *ngIf="link.levels == 1" #menus>
				<div class="container py-2">
					<div class="row w-100">
						<div class="col flyoutlink" *ngFor="let childlink of link.links">
							<a class="nav-link" (click)="menuClose()" [routerLink]="[childlink.url]" [queryParams]="childlink.params" routerLinkActive="router-link-active">{{ childlink.title }} </a>
						</div>
					</div>
				</div>
			</div>
			<div class="mega-menu" [@openClose]="link.active" *ngIf="link.levels > 1" #menus>
				<div class="container">
					<div class="row w-100 py-5">
						<div class="col-3 childlink" *ngFor="let childlink of link.links; let i = index">
							<a class="p-0 mb-2 nav-link font-weight-bold action" (click)="menuClose()" [routerLink]="[childlink.url]" [queryParams]="childlink.params" routerLinkActive="router-link-active">{{ childlink.title }}</a>
							<div *ngFor="let grandchildlink of childlink.links" class="grandchildlink">
								<a class="p-0 nav-link action" (click)="menuClose()" [routerLink]="[grandchildlink.url]" [queryParams]="grandchildlink.params" routerLinkActive="router-link-active">{{ grandchildlink.title }}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>
