.nav-link {
  &:hover {
    text-decoration: underline !important;
  }
}

.mega-menu {
  width: 100%;
  left: 0px;
  overflow: hidden;
}

.flyout-menu {
  width: 100%;
  left: 0px;
  overflow: hidden;
}

.overlay {
  bottom: 0;
  left: 0px;
  right: 0px;
  top: 0;
  position: absolute;
  content: ' ';
  background: #000;
  opacity: 0.6;
  z-index: 99;
}

.childlink {
  font-size: 18px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: -0.5px;
}

.mega-menu,
.flyout-menu {
  border: none;
  position: absolute;
  top: 100%;
  z-index: 1000;
  float: left;
  min-width: 10rem;
  padding: 0 0;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background: #f5f5f5;
  left: 0;
  right: 0;

}

.grandchildlink,
.flyoutlink {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  color: #000000;
}
