<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        {{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>
    
    {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}" />
    {% endif %}
    
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    
    {% include 'social-meta-tags' %}

    <link rel="canonical" href="{{ canonical_url }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#000" />
    <link rel="canonical" href="{{ canonical_url }}" />
    <link rel="icon" type="image/x-icon" href="{{settings.favicon | img_url: '32x32' }}"> 
    <link rel="stylesheet" href="{{ 'styles.css' | asset_url}}">
    {{ content_for_header }}
    <style>
   {% comment %} Add your fontfaces here {% endcomment %}
    </style>
    {% capture section %} 
    {{ content_for_layout }} 
    {% endcapture %}
    <script id="ngxShopifyContent" {{ template.name }}="true">
    [{{ section | strip_html | strip_newlines }}]
    </script>
    {% capture store %} 
        "header": {% section 'header' %},
        "ribbon": {% section 'ribbon' %},
        "footer": {% section 'footer' %}
    {% endcapture %}

    <script id="ngxShopifyStore">
    var store = {
        {{ store | strip_html | strip_newlines }}
    };
    </script>
</head>

<body>
    <angular-shopify></angular-shopify>
    <script src="{{ 'runtime-es2015.js' | asset_url}}" type="module"></script>
    <script src="{{ 'runtime-es5.js' | asset_url}}" nomodule defer></script>
    <script src="{{ 'polyfills-es5.js' | asset_url}}" nomodule defer></script>
    <script src="{{ 'polyfills-es2015.js' | asset_url}}" type="module"></script>
    <script src="{{ 'main-es2015.js' | asset_url}}" type="module"></script>
    <script src="{{ 'main-es5.js' | asset_url}}" nomodule defer></script>

</body>
</html>