<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        {{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}" />
    {% endif %}


    {% include 'social-meta-tags' %}

    <link rel="canonical" href="{{ canonical_url }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"> 
    <meta name="theme-color" content="#000" />
    <link rel="canonical" href="{{ canonical_url }}" />
    <link rel="icon" type="image/x-icon" href="{{settings.favicon | img_url: '32x32' }}">
    <link rel="stylesheet" href="{{ 'styles.css' | asset_url}}">
    {{ content_for_header }}
    <style>
        @font-face {
            font-family: 'Halis GR';
            font-display: swap;
            src: url(//cdn.shopify.com/s/files/1/0274/6007/5619/t/70/assets/HalisGR-Light.eot?v=7294579744674689162);
            src: url(//cdn.shopify.com/s/files/1/0274/6007/5619/t/70/assets/HalisGR-Light.eot?%23iefix&v=7294579744674689162) format('embedded-opentype'),
                    url(//cdn.shopify.com/s/files/1/0274/6007/5619/t/70/assets/HalisGR-Light.woff?v=7191649133415783703) format('woff'),
                    url(//cdn.shopify.com/s/files/1/0274/6007/5619/t/70/assets/HalisGR-Light.ttf?v=3383992774187670951) format('truetype'),
                    url(//cdn.shopify.com/s/files/1/0274/6007/5619/t/70/assets/HalisGR-Light.svg%23HalisGR-Light?174090) format('svg');
            font-weight: normal;
            font-style: normal;
        }
   {% comment %} Add your fontfaces here {% endcomment %}
    </style>
    {% capture section %}
    {{ content_for_layout }}
    {% endcapture %}
    <script id="ngxShopifyContent" {{ template.name }}="true">
    [{{ section | strip_html | strip_newlines }}]
    </script>
    {% capture store %}
        "shop": {% include 'shop' %},
        "header": {% section 'header' %},
        "ribbon": {% section 'ribbon' %},
        "usps": {%  section 'usps' %}
        "footer": {% section 'footer' %}
    {% endcapture %}

    <script id="ngxShopifyStore">
    var store = {
        {{ store | strip_html | strip_newlines }}
    };
    </script> 
</head>

<body>
    <angular-shopify></angular-shopify>
 
<script>
    window['__Zone_disable_IE_check'] = true;
</script>
    <script src="{{ 'runtime-es2015.js' | asset_url}}" type="module"></script>
    <script src="{{ 'runtime-es5.js' | asset_url}}" nomodule defer></script>
    <script src="{{ 'polyfills-es5.js' | asset_url}}" nomodule defer></script>
    <script src="{{ 'polyfills-es2015.js' | asset_url}}" type="module"></script>
    <script src="{{ 'main-es2015.js' | asset_url}}" type="module"></script>
    <script src="{{ 'main-es5.js' | asset_url}}" nomodule defer></script>
    {% comment %} <script src="{{ 'runtime-es2015.js.map' | asset_url}}" type="module"></script>
    <script src="{{ 'runtime-es5.js.map' | asset_url}}" nomodule defer></script>
    <script src="{{ 'polyfills-es5.js.map' | asset_url}}" nomodule defer></script>
    <script src="{{ 'polyfills-es2015.js.map' | asset_url}}" type="module"></script>
    <script src="{{ 'main-es2015.js.map' | asset_url}}" type="module"></script>
    <script src="{{ 'main-es5.js.map' | asset_url}}" nomodule defer></script> {% endcomment %}
    <div id="shopify-content" style="display:none;">
        <div id="shopify-section-header" class="shopify-section"></div>
        <div id="shopify-section-ribbon" class="shopify-section"></div>
        {{ content_for_layout  }}  
        <div id="shopify-section-footer" class="shopify-section"></div>
        <script> 
        if (Shopify.designMode){
            document.addEventListener('shopify:section:load', (event) => {
                const inner = JSON.parse(event.target.innerText.replace(/,\s*$/, ""))
                window.angularFrontpage.component.addToFrontpage(inner);
            });
            document.addEventListener('shopify:section:unload', (event) => {
                const sectionId = event.detail.sectionId
                window.angularFrontpage.zone.run(() => {
                    window.angularFrontpage.component.removeFromFrontpage(sectionId)
                })
            });
            document.addEventListener('shopify:section:select', (event) => {
                const inner = JSON.parse(event.target.innerText.replace(/,\s*$/, ""))
                window.angularFrontpage.component.updateBlockOnFrontpage(inner);
            });
            document.addEventListener('shopify:section:deselect', (event) => {

            });
            document.addEventListener('shopify:section:reorder', function (event) {
                var ids = [];
                var content = document.getElementById("shopify-content").children;
                for (var i = 0, len = content.length; i < len; i++) { 
                Object.keys(content[i].dataset).some(function(key) {
                    key.match(/^themeEditorSection/) ? ids.push(content[i].id) : false
                })
            } 
            window.angularFrontpage.component.updateOrder(ids);
          });
        }
        </script>
    </div>
</body>
</html>
