<div id="top"></div>
<component-ribbon [ribbon]="ribbon" *ngIf="ribbon"></component-ribbon>
<div id="shopify-section-header " class="shopify-section w-100" *ngIf="store.header">
  <component-menu></component-menu>
</div>
