<div *ngIf="ribbon && ribbon.settings.ribbon" class="ribbon d-none d-md-flex"
  [ngStyle]="{ background: ribbon.settings.colorBackground, color: ribbon.settings.colorText }">
  <div class="text py-2 mx-auto pr-5 pl-5 font-weight-bold">{{ ribbon.settings.text }}</div>
</div>
