.ribbon {
	.text {
		font-size: 12px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.8;
		letter-spacing: normal;
		text-align: right;
		color: #000000;
	}
}

.br-1 {
	border-right: 1px #ddd solid;
}

.bl-1 {
	border-left: 1px #ddd solid;
}
