<div class="container-fluid" *ngIf="key">
	<div class="row mb-5">
		<div class="col">
			<h2 class="text-center mb-0">
				Instagram
			</h2>
		</div>
	</div>
	<div class="row" *ngIf="pics">
		<a [href]="pic.link" class="col-6 col-md-2 px-0 instagram-item" *ngFor="let pic of pics" [ngStyle]="{ 'background-image': 'url(' + pic.images.standard_resolution.url + ')' }">
			<div id="dummy"></div>
		</a>
	</div>
</div>
