<div class="page mh-80" *ngIf="page" [ngSwitch]="page.type">
  <page-standard [page]="page" *ngIf="!loading && page && !page.type"></page-standard>
  <page-landing [page]="page" *ngIf="!loading && page && page.type == 'landing'"></page-landing>
  <page-contact [page]="page" *ngIf="!loading && page && page.type == 'contact'"></page-contact>
</div>
<loader [loading]="loading">Hi I am loading</loader>
