<div (click)="hideModal()" *ngIf="modal" [ngClass]="{ 'modal--active': modal }" aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal {{ 'modal--' + modal.meta?.size }} {{ 'modal--' + modal.meta?.position }}" id="exampleModal" role="dialog" tabindex="-1">
  <div [ngClass]="'modal-' + modal.type" class="modal-dialog" role="document">
    <div (click)="clickedInside($event)" class="modal-content">
      <span (click)="hideModal()" class="closer"></span>
      <ng-container [ngSwitch]="modal.type">
        <modal-sizeguide *ngSwitchCase="'sizeguide'" [isActive]="modal.meta.isActive" [modal]="modal"></modal-sizeguide>
      </ng-container>
    </div>
  </div>
</div>