<div *ngIf="product" class="container-fluid product product-main px-0">
	<div class="row" *ngIf="product.images">
		<div class="col-12 col-md-6">
			<ngxImg (click)="showLightbox(i)" (load)="visible = false; imagesLoading = false" [cover]="true" [image]="product.images[0]" [sizeSelect]="'product'" class="h-100 w-100"></ngxImg>
		</div>
		<div [ngClass]="{ loading: loading }" class="product-info__main col-12 col-md-4">
			<div class="product-info__inner">
				<h3 class="title mb-0">{{ product.title }}</h3>
				<div class="price">{{ selectedVariant ? null : 'From' }} {{ (selectedVariant ? selectedVariant.price / 100 : product.price / 100) | currency }}</div>
				<div *ngIf="product.body_html" class="body" [innerHTML]="_body"></div>
				<variantselector (selectedVariant)="updateVariant($event)" *ngIf="!loading && product.variants" [product]="product" class="d-block giftcard-variant"> </variantselector>

				<form #giftcard="ngForm">
					<div class="giftcard-form row">
						<div [ngClass]="{ 'was-validated': !senderEmail.valid && senderEmail.dirty }" class="input-group col-6">
							<input #senderEmail="ngModel" email [(ngModel)]="form.senderEmail" aria-required="true" class="w-100 input form-control contact-input" id="senderEmail" name="senderEmail" placeholder="Sender Email*" required />
						</div>
						<div [ngClass]="{ 'was-validated': !senderName.valid && senderName.dirty }" class="input-group col-6">
							<input #senderName="ngModel" [(ngModel)]="form.senderName" aria-required="true" class="w-100 input form-control contact-input" id="senderName" name="senderName" placeholder="Sender Name*" required />
						</div>
						<div [ngClass]="{ 'was-validated': !recipientEmail.valid && recipientEmail.dirty }" class="input-group col-6">
							<input #recipientEmail="ngModel" email [(ngModel)]="form.recipientEmail" aria-required="true" class="w-100 input form-control contact-input" id="recipientEmail" name="recipientEmail" placeholder="Recipient Email*" required />
						</div>
						<div [ngClass]="{ 'was-validated': !recipientName.valid && recipientName.dirty }" class="input-group col-6">
							<input #recipientName="ngModel" [(ngModel)]="form.recipientName" aria-required="true" class="w-100 input form-control contact-input" id="recipientName" name="recipientName" placeholder="Recipient Name*" required />
						</div>

						<div [ngClass]="{ 'was-validated': !message.valid && message.dirty }" class="input-group col-12">
							<textarea #message="ngModel" email [(ngModel)]="form.message" aria-required="true" class="w-100 input form-control contact-input" id="message" name="message" placeholder="Message"></textarea>
							<div *ngIf="message.invalid && message.dirty" class="invalid-feedback"></div>
						</div>
					</div>
				</form>

				<span class="d-flex">
					<addtocart [properties]="form" *ngIf="product && !loading" [product]="product" [quantity]="quantity" [variant]="selectedVariant" [wishlist]="false" class="gift-card__button d-flex"></addtocart>
				</span>
			</div>
		</div>
	</div>
</div>
