.product-main {
  @media (min-width: 992px) {
    padding: 12px !important;
    margin-bottom: 52px;
  }
}

.product-info__inner {
  margin-top: 22px;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 42px;
}

@media screen and (min-width: 992px) {
  .product-info__inner {
    margin-top: 120px;
    max-width: 384px;
  }
}

.title,
.price {
  color: #000000;
  font-size: 18px;
  letter-spacing: -0.25px;
  line-height: 22px;
  text-transform: capitalize;
  margin-bottom: 24px;
}

.price {
  margin-top: 2px;
}

.body {
  color: #222222;
  font-size: 11px;
  line-height: 16px;
  margin-bottom: 18px;
}

.product-info__main {
  max-width: 100%;

  @media (min-width: 992px) {
    margin-left: 24px;

  }
}
