<div class="mh-80">
	<ng-container>
		<div class="container product">
			<div class="row">
				<div class="d-none d-md-flex col-8">
					<div class="row w-100">
						<ngxImg *ngFor="let image of product.images; let i = index" (click)="showLightbox(i)" [classString]="'w-100'" class="mb-4 col-6 actionable" [image]="image" (load)="i === 0 ? (firstImageLoaded = true) : ''" [sizeSelect]="'large'"></ngxImg>
					</div>
				</div>

				<!-- Mobile starts here -->
				<div class="d-md-none col-12">
					<ngx-light-carousel [hidden]="visible" #carou *ngIf="!loading" [ngClass]="{ loading: imagesLoading }" [options]="options" [data]="product.images" [(current)]="currentSlide" class="carousel hero c-accent d-md-none">
						<section ngx-light-carousel-container class="content">
							<article class="cursor-pointer" ngx-light-carousel-item *ngFor="let image of product.images; let i = index">
								<ngxImg (click)="showLightbox(i)" *ngIf="selectedImage" (load)="visible = false; imagesLoading = false" class="w-100" [image]="image" [sizeSelect]="'thumb'"> </ngxImg>
							</article>
						</section>
						<ng-template #carouselPrev>
							<div class="click-area"></div>
						</ng-template>
						<ng-template #carouselNext>
							<div class="click-area"></div>
						</ng-template>
					</ngx-light-carousel>
					<ngxImg (click)="showLightbox(0)" *ngIf="selectedImage" [hidden]="visible" (load)="visible = false; imagesLoading = false" [ngClass]="{ loading: imagesLoading }" [reload]="true" class="w-100 mb-2" [cover]="true" [image]="returnSelectedImage()" [sizeSelect]="'small'"> </ngxImg>
					<div class="row">
						<p class="col mb-2 font-weight-bold">
							{{ product.title }}
						</p>
						<price *ngIf="product && selectedVariant" class="d-block col text-right" [afterpay]="false" [quantity]="quantity" [variant]="selectedVariant"> </price>
					</div>
					<price *ngIf="product && selectedVariant" class="d-block col text-center" [showFullPrice]="false" [afterpay]="true" [quantity]="quantity" [variant]="selectedVariant"> </price>
				</div>
				<!-- Mobile ends here -->

				<div class="product col-12 col-md-4 mt-2 mt-md-4">
					<h1 class="title mb-0 d-none d-md-block">
						{{ product.title }}
					</h1>
					<price *ngIf="product && selectedVariant" class="d-none d-md-block text-center text-md-left" [afterpay]="true" [showFullPrice]="true" [quantity]="quantity" [variant]="selectedVariant"> </price>
					<hr />
					<div *ngIf="relatedProducts && relatedProducts.length > 0">
						<div class="row">
							<label class="col-12">
								<b>Color: </b><small>{{ hoverSelection ? hoverSelection : product.metafields.color }}</small>
							</label>
							<div *ngFor="let product of relatedProducts" class="col-4 my-2">
								<a [routerLink]="[product.url]" routerLinkActive="router-link-active">
									<ngxImg [image]="product.images[0]" [sizeSelect]="'tiny'" (mouseenter)="hoverOption(product.metafields.color)" (mouseleave)="unhoverOption(product.metafields.color)"> </ngxImg>
								</a>
							</div>
						</div>
						<hr />
					</div>
					<div *ngIf="product.variants && product.variants.length > 1">
						<variantselector [product]="product" (selectedVariant)="updateVariant($event)"></variantselector>
						<div *ngIf="modelWearing">
							<small>{{ modelWearing }}</small>
						</div>
						<hr />
					</div>
					<span class="d-flex">
						<addtocart *ngIf="product" class="d-flex" [product]="product" [variant]="selectedVariant" [quantity]="quantity"> </addtocart>
					</span>
					<hr />
					<div class="meta">
						<div *ngIf="product.body_html">
							<div (click)="_description = !_description" class="d-flex actionable">
								<h5 class="flex-column justify-content-center d-flex mb-0">
									<strong>DESCRIPTION</strong>
								</h5>
							</div>
							<div class="mt-3" *ngIf="product.body_html && _description">
								<span [innerHTML]="_body"></span>
							</div>
							<hr />
						</div>
						<div>
							<div (click)="getShippingDrawer()" class="d-flex actionable">
								<h5 class="flex-column justify-content-center d-flex mb-0">
									<strong>SHIPPING</strong>
								</h5>
							</div>
							<div class="mt-3" *ngIf="_shippingDescription && _shipping">
								<span [innerHtml]="_shippingDescription"></span>
							</div>
							<hr />
						</div>
					</div>
				</div>
			</div>
		</div>

		<div *ngIf="recommended.length" class="container mt-0 mt-md-5">
			<div class="row" [@listFadeInBasic]="recommended.length">
				<div class="col-12 d-flex pb-4">
					<b class="col col-md-2 pl-0">You may also like</b>
					<hr class="col my-auto" />
				</div>
				<div class=" col-6 col-md-4 col-lg-3 product-grid" *ngFor="let product of recommended; let i = index">
					<collectionitem [product]="product"></collectionitem>
				</div>
			</div>
		</div>
	</ng-container>
</div>
<ng-container *ngIf="pageLoaded">
	<component-lightbox [classString]="'lightbox-product-images'" [images]="product.images" [options]="lightboxOptions"></component-lightbox>
</ng-container>
