<ng-container *ngIf="product && product.handle" [ngSwitch]="product.type">
  <page-giftcard *ngSwitchCase="'giftcard'" [product]="product"></page-giftcard>
  <page-product *ngSwitchDefault [product]="product"></page-product>
</ng-container>
<loader [loading]="loading">Hi I am loading</loader>
