<ng-container>
  <div *ngIf="!inView" class="loading" #loader></div>
  <img *ngIf="srcResult && retinaResult && !size" (error)="updateUrl($event)" @Fading (load)="loadEmit()"
    [src]="inView ? srcResult : ''" [srcset]="inView ? srcset : ''" alt="{{ altString }}"
    [ngClass]="{ cover: cover, loading: loading }" class="{{ classString }}" />
  <img *ngIf="srcResult && retinaResult && size" (error)="updateUrl($event)" @Fading (load)="loadEmit()"
    [height]="size.height" [width]="size.width" [src]="inView ? srcResult : ''" [srcset]="inView ? srcset : ''"
    alt="{{ altString }}" [ngClass]="{ cover: cover, loading: loading }" class="{{ classString }}" />
  <ng-content></ng-content>
</ng-container>
