:host {
  display: inline-block;
  outline: none;
  position: relative;
  vertical-align: middle;
}

img {
  object-fit: contain;
  width: 100%;

  &.cover {
    object-fit: cover !important;
    height: 100%;
  }

  &.circle {
    border-radius: 100%;
  }

  &:focus {
    outline: none !important;
  }

  height: auto;
}
