<div class="w-100" [ngClass]="{ disabled: loading }">
  <component-header></component-header>
  <div id="layout-body" class="megamenu-overlay mh-60">
    <div id="top"></div>
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
  <instagram></instagram>
  <component-modal></component-modal>
  <component-footer></component-footer>
  <component-minicart></component-minicart>
  <component-drawer></component-drawer>
  <snippet-mobile-menu></snippet-mobile-menu>
</div>
