<section class="relative" id="footer">
	<div class="container-fluid px-lg-3">
		<div class="row mt-auto">
			<div class="col-12 col-lg mb-5 mb-lg-0" *ngFor="let block of footer.blocks">
				<h5 class="d-none d-lg-flex">{{ block.title }}</h5>
				<h5 class="d-flex d-lg-none actionable" (click)="block.open = !block.open">
					{{ block.title }}
				</h5>
				<div class="border-bottom-custom" *ngIf="block.type === 'link_list'">
					<div class="menu d-block d-lg-none " [@openClose]="block.open">
						<div class="nav-item p-0" *ngFor="let link of block.links">
							<a class="nav-link d-flex p-0" *ngIf="!link.links" [routerLink]="['/' + link.url]" routerLinkActive="router-link-active">{{ link.title }} </a>
						</div>
					</div>
					<div class="menu d-none d-lg-block">
						<div class="nav-item p-0" *ngFor="let link of block.links">
							<a class="nav-link d-flex p-0" *ngIf="!link.links" [routerLink]="['/' + link.url]" routerLinkActive="router-link-active">{{ link.title }} </a>
						</div>
					</div>
				</div>
				<div class="newsletter" *ngIf="block.type === 'newsletter'">
					<div *ngIf="store.shop" class="border-bottom-custom">
						<div class="">
							<a *ngIf="store.shop.instagramUrl" [href]="store.shop.instagramUrl">
								<svg xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewBox="0 0 18 17" class="mr-3">
									<path
										fill="#000"
										fill-rule="evenodd"
										d="M8.999 1.864c2.403 0 2.688.008 3.637.046.877.036 1.354.166 1.671.275.42.145.72.318 1.035.597.315.279.51.545.673.917.123.281.27.704.31 1.482.043.841.052 1.094.052 3.225 0 2.13-.009 2.383-.052 3.224-.04.778-.187 1.2-.31 1.482a2.466 2.466 0 0 1-.673.917c-.315.28-.615.453-1.035.597-.317.11-.794.24-1.671.275-.95.038-1.234.047-3.637.047s-2.688-.009-3.637-.047c-.877-.035-1.354-.165-1.67-.275a2.845 2.845 0 0 1-1.036-.597 2.466 2.466 0 0 1-.673-.917c-.123-.281-.27-.704-.31-1.482-.043-.841-.052-1.094-.052-3.224 0-2.131.009-2.384.052-3.225.04-.778.187-1.2.31-1.482.163-.372.358-.638.673-.917.315-.28.615-.452 1.035-.597.317-.11.794-.24 1.671-.275.95-.038 1.234-.046 3.637-.046M10.384.427c1.236.005 1.587.017 2.326.047.958.038 1.612.173 2.184.37a4.505 4.505 0 0 1 1.594.921c.5.444.809.889 1.039 1.413.222.508.374 1.088.418 1.937.044.852.054 1.123.054 3.29 0 2.168-.01 2.44-.054 3.29-.044.85-.196 1.43-.418 1.938-.23.524-.538.97-1.039 1.413-.5.444-1.002.717-1.594.92-.572.198-1.226.333-2.184.371-.813.033-1.157.045-2.724.048H8.013c-1.568-.003-1.912-.015-2.725-.048-.958-.038-1.612-.173-2.184-.37a4.505 4.505 0 0 1-1.594-.92 3.9 3.9 0 0 1-1.038-1.414c-.223-.508-.375-1.088-.419-1.937a35.373 35.373 0 0 1-.052-2.16v-2.26C.005 6.1.018 5.788.053 5.115c.044-.85.196-1.43.419-1.938.23-.524.537-.97 1.038-1.413a4.505 4.505 0 0 1 1.594-.92C3.676.647 4.33.512 5.288.474 5.974.446 6.326.434 7.362.428H10.384zM9.017 4.321c-2.554 0-4.625 1.836-4.625 4.1 0 2.265 2.07 4.101 4.625 4.101 2.554 0 4.625-1.836 4.625-4.1 0-2.265-2.07-4.101-4.625-4.101zm0 1.438c1.658 0 3.002 1.192 3.002 2.662s-1.344 2.662-3.002 2.662c-1.658 0-3.002-1.192-3.002-2.662S7.359 5.76 9.017 5.76zm4.768-2.578c-.592 0-1.072.425-1.072.95 0 .524.48.95 1.072.95.592 0 1.071-.426 1.071-.95 0-.525-.48-.95-1.071-.95z"
									/>
								</svg>
							</a>
							<a *ngIf="store.shop.facebookUrl" [href]="store.shop.facebookUrl">
								<svg xmlns="http://www.w3.org/2000/svg" width="9" height="19" viewBox="0 0 9 19">
									<path fill="#000" fill-rule="evenodd" d="M5.984 18.383h-3.99V9.404H-.002V6.311h1.994V4.453C1.993 1.93 3.12.428 6.318.428H8.98v3.095H7.316c-1.245 0-1.327.432-1.327 1.24L5.983 6.31H9l-.353 3.093H5.983v8.979z" />
								</svg>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div>
			<hr class="d-none d-lg-flex" />
		</div>
		<div class="row py-5">
			<div class="col-12 order-1 mt-lg-0 order-lg-0 col-lg-6">
				<span class="py-1">© 2019 Copyright NgxShopify | made by Zacclehoon</span>
			</div>
			<div class="col-12 pb-2 pb-lg-0 order-0 order-lg-1 col-lg-6 text-lg-right">
				<span>
					<svg xmlns="http://www.w3.org/2000/svg" width="281" height="24" viewBox="0 0 281 24">
						<g fill="none" fill-rule="nonzero">
							<path
								fill="#0F4595"
								d="M43.917 19.492v.125h-3.113c-.125 0-.208 0-.208-.166-.124-.624-.207-1.164-.332-1.787 0-.125-.041-.167-.207-.167h-4.193c-.124 0-.207.042-.207.167-.208.623-.457 1.163-.623 1.787 0 .125-.125.166-.208.166h-3.362c-.166 0-.166 0-.124-.166 1.702-4.156 3.486-8.27 5.188-12.427.29-.707.955-1.205 1.702-1.164h2.74c.124 0 .166.042.207.166.374 1.954.83 3.866 1.204 5.86.457 2.037.83 4.074 1.287 6.193.041.374.124.956.249 1.413zM38.562 9.56c-.166.499-.332.956-.498 1.455-.456 1.164-.872 2.369-1.328 3.533-.042.124-.042.166.124.166h2.574c.166 0 .166-.042.124-.166l-.996-4.988zM29.389 5.528c.207.041.498.124.705.124.54.125 1.121.208 1.62.458.124 0 .165.124.124.166-.166.873-.29 1.829-.457 2.701 0 .125-.041.125-.166.042-.955-.457-1.95-.665-2.906-.624-.456 0-.871.125-1.328.291a1.007 1.007 0 0 0-.623.956c0 .208.125.457.291.54.208.208.498.458.789.624.622.333 1.287.623 1.826.998.54.332 1.12.79 1.494 1.33.623.872.79 1.953.457 2.909-.332 1.371-1.328 2.494-2.573 3.034a10.01 10.01 0 0 1-2.491.665c-.042 0-.125 0-.125.041h-1.701c-.208-.041-.499-.124-.706-.124a12.165 12.165 0 0 1-2.2-.54c-.166-.042-.25-.084-.25-.25.167-.956.333-1.87.457-2.743 0-.166.042-.125.166-.042.499.291 1.038.458 1.62.624.954.29 1.867.332 2.822.166.332-.042.664-.208.955-.374.498-.332.622-.997.29-1.455l-.166-.166a4.118 4.118 0 0 0-1.162-.79 11.076 11.076 0 0 1-1.785-1.039c-.706-.457-1.287-1.163-1.536-1.995-.332-1.163-.041-2.41.706-3.366.789-.956 1.826-1.621 3.03-1.87.457-.125.872-.167 1.37-.208.041 0 .041 0 .041-.042l1.412-.041zM17.268 19.576h-1.66c-.125 0-.166-.042-.166-.167.332-2.12.664-4.197 1.037-6.359.332-1.995.623-3.906.955-5.901.041-.458.166-.832.208-1.289 0-.124.041-.166.166-.166h3.237c.125 0 .166.042.166.166-.207 1.496-.498 2.993-.705 4.489-.29 1.62-.498 3.2-.789 4.738-.208 1.455-.457 2.868-.664 4.24 0 .124-.042.165-.166.165-.581.084-1.121.084-1.62.084zM8.592 13.217l.374 1.953c.166-.457.332-.831.457-1.288.996-2.66 1.992-5.32 2.905-7.939 0-.124.125-.166.208-.166h3.362c.208 0 .208 0 .125.208-1.204 2.992-2.408 6.026-3.653 9.019a192.876 192.876 0 0 0-1.785 4.364c-.042.124-.166.166-.29.166H6.89c-.166 0-.208-.042-.208-.166A1195.39 1195.39 0 0 0 3.611 7.772c0-.042-.041-.125 0-.166.042 0 .042 0 .125.041 1.494.873 2.74 2.12 3.694 3.533.374.624.706 1.289 1.038 1.995.083 0 .124.042.124.042z"
							/>
							<path
								fill="#F1AC13"
								d="M8.55 13.175c-.29-.665-.622-1.33-1.037-1.995A11.125 11.125 0 0 0 3.82 7.647c-.083 0-.083-.083-.125-.083 0-.041 0-.041-.041-.041-.664-.374-1.37-.79-2.117-.998L.042 6.026S0 6.026 0 5.902c0-.125.125-.125.166-.125h5.645c.83-.041 1.495.499 1.62 1.33.373 1.953.788 3.865 1.161 5.819 0 .083 0 .166-.041.25z"
							/>
							<path fill="#F1AC13" d="M8.592 13.217s-.041-.042-.041-.125c.041.083.041.125.041.125z" />
							<path fill="#0F4595" d="M3.694 7.564c.042 0 .042 0 0 0 0 .083 0 0 0 0z" />
							<g>
								<path
									fill="#231F20"
									d="M64.828 22.537c0-.454.377-.701.796-.701.461 0 .712.371.712.784 0 .371-.335.702-.795.702-.461 0-.796-.33-.796-.702.083-.041.083-.041.083-.083zm2.095 0v-1.28h-.545v.331a1.115 1.115 0 0 0-.796-.371c-.712.04-1.298.66-1.298 1.362.042.66.544 1.197 1.298 1.28.336 0 .629-.125.796-.372v.33h.545v-1.28zm18.516 0c0-.454.377-.701.796-.701.377 0 .712.371.712.784 0 .371-.335.702-.796.702-.46 0-.796-.33-.796-.702.084-.041.084-.041.084-.083zm2.053 0V20.35h-.545v1.32a1.115 1.115 0 0 0-.796-.37c-.712.04-1.298.66-1.298 1.361.042.66.544 1.197 1.298 1.28.335 0 .629-.124.796-.372v.33h.545v-1.362zm-13.783-.825a.64.64 0 0 1 .629.619h-1.34c.041-.33.376-.62.711-.62zm0-.454c-.712.041-1.298.66-1.298 1.362.042.66.628 1.197 1.298 1.28.377 0 .713-.124 1.048-.33l-.293-.372c-.21.165-.461.289-.713.289-.377.04-.712-.207-.796-.62h1.886v-.206c.041-.66-.461-1.28-1.132-1.32.042-.083.042-.083 0-.083zm6.62 1.28c0-.455.376-.702.795-.702.377 0 .712.371.712.784 0 .371-.335.702-.795.702-.461 0-.796-.33-.796-.702.083-.041.083-.041.083-.083zm2.052 0v-1.28h-.545v.33a1.115 1.115 0 0 0-.795-.371c-.713.04-1.3.66-1.3 1.362.043.66.545 1.197 1.3 1.28.335 0 .628-.125.795-.372v.33h.545v-1.28zm-5.11 0c-.043.701.502 1.279 1.214 1.32h.126c.335 0 .67-.124.88-.289l-.294-.454c-.167.165-.46.207-.67.207-.46 0-.796-.372-.796-.826 0-.371.335-.702.796-.784.21 0 .46.041.67.206l.294-.454c-.294-.206-.545-.33-.88-.289a1.264 1.264 0 0 0-1.34 1.197v.165zm7.079-1.28c-.293 0-.503.124-.67.371v-.33h-.545v2.477h.545v-1.362c0-.455.167-.66.544-.66.126 0 .21 0 .335.04l.168-.495c-.168-.041-.293-.041-.377-.041zm-14.788.247c-.335-.165-.67-.288-1.005-.288-.629 0-1.048.33-1.048.825 0 .372.336.66.88.702l.293.041c.294.041.461.124.461.289 0 .206-.21.33-.544.33-.294 0-.629-.124-.838-.289l-.293.454c.335.207.712.33 1.13.33.713 0 1.174-.33 1.174-.825 0-.454-.336-.66-.88-.784l-.293-.042c-.21-.04-.461-.04-.461-.206 0-.165.167-.289.503-.289.293 0 .544.041.795.206l.126-.454zm7.122-.247c-.293 0-.503.124-.67.371v-.33h-.545v2.477h.545v-1.362c0-.455.167-.66.544-.66.126 0 .21 0 .335.04l.168-.495c-.126-.041-.252-.041-.377-.041zm-4.692.082h-.88v-.784h-.544v.784h-.503v.496h.503v1.155c0 .62.209.95.88.95.209 0 .502-.042.67-.207l-.168-.454c-.168.124-.335.124-.503.165-.293 0-.377-.165-.377-.454v-1.114h.88v-.537h.042zm-8.21 2.477V22.29c.041-.496-.336-.95-.88-.99h-.126c-.335 0-.67.164-.88.453-.168-.289-.503-.454-.838-.454a.826.826 0 0 0-.712.372v-.33H59.8v2.476h.545v-1.362a.572.572 0 0 1 .503-.66h.125c.377 0 .545.206.545.66v1.362h.545v-1.362a.572.572 0 0 1 .502-.66h.126c.377 0 .544.206.544.66v1.362h.545z"
								/>
								<path fill="#FF5F00" d="M77.773 17.089h-8.295V2.354h8.295z" />
								<path fill="#EB001B" d="M69.981 9.742c0-2.848 1.34-5.613 3.603-7.347C69.478-.783 63.446-.08 60.22 4.005a9.292 9.292 0 0 0 1.634 13.167 9.553 9.553 0 0 0 11.73 0c-2.262-1.858-3.603-4.582-3.603-7.43" />
								<path fill="#F79E1B" d="M89 9.742c0 5.16-4.231 9.37-9.51 9.37a9.64 9.64 0 0 1-5.906-2.023c4.105-3.178 4.86-9.122 1.634-13.167-.461-.619-1.006-1.114-1.634-1.61 4.105-3.178 10.138-2.476 13.363 1.61A9.235 9.235 0 0 1 89 9.742" />
							</g>
							<g>
								<path
									fill="#253B80"
									d="M106.99 4.534h-4.41c-.292 0-.541.21-.625.504l-1.789 11.424c-.041.21.125.378.333.462H102.663c.291 0 .54-.21.624-.504l.5-3.066c.04-.294.29-.504.623-.504h1.373c2.913 0 4.577-1.386 5.035-4.242.208-1.218 0-2.184-.541-2.856-.666-.84-1.79-1.218-3.287-1.218zm.5 4.158c-.209 1.638-1.457 1.638-2.58 1.638h-.666l.457-2.94c.042-.168.167-.336.375-.336h.333c.79 0 1.54 0 1.955.462.208.294.25.756.125 1.176zM120.179 8.65h-2.122c-.166 0-.333.126-.375.336l-.124.63-.167-.21c-.457-.672-1.498-.882-2.496-.882-2.413.042-4.41 1.89-4.702 4.284-.208 1.176.042 2.352.79 3.276.667.714 1.665 1.176 2.664 1.05a4.103 4.103 0 0 0 2.912-1.218l-.125.63c-.041.21.125.378.333.462H118.681c.291 0 .54-.21.624-.504l1.165-7.308c.042-.21-.125-.378-.291-.462.041-.084.041-.084 0-.084zm-2.954 4.116c-.167 1.176-1.207 2.058-2.372 2.016-.873.126-1.706-.546-1.789-1.47 0-.21 0-.378.042-.63a2.388 2.388 0 0 1 2.371-2.058c.541-.042 1.04.168 1.373.546.375.546.5 1.092.375 1.596zM131.454 8.65h-2.122c-.208 0-.374.126-.5.294l-2.912 4.368-1.206-4.2c-.042-.294-.333-.462-.624-.462h-2.122a.375.375 0 0 0-.375.378v.126l2.33 6.93-2.205 3.108c-.125.168-.041.378.125.504.042.042.125.042.208.042h2.122c.208 0 .374-.126.5-.294l7.072-10.206c.125-.168.042-.378-.125-.504a.314.314 0 0 0-.166-.084z"
								/>
								<path
									fill="#179BD7"
									d="M138.485 4.534h-4.41c-.291 0-.54.21-.624.504l-1.789 11.382c-.042.21.125.378.333.462h2.288c.208 0 .375-.168.458-.378l.5-3.234c.04-.294.29-.504.623-.504h1.373c2.913 0 4.577-1.386 5.035-4.242.208-1.218 0-2.184-.541-2.856-.708-.756-1.831-1.134-3.246-1.134zm.5 4.158c-.208 1.638-1.457 1.638-2.58 1.638h-.666l.458-2.94c.042-.168.167-.336.375-.336h.332c.79 0 1.54 0 1.956.462.125.294.208.798.125 1.176zM151.633 8.65h-2.122c-.166 0-.333.126-.375.336l-.124.63-.167-.21c-.457-.672-1.498-.882-2.496-.882-2.413.042-4.41 1.89-4.702 4.284-.208 1.176.042 2.352.791 3.276.666.714 1.664 1.176 2.663 1.05a4.103 4.103 0 0 0 2.912-1.218l-.125.63c-.041.21.125.378.333.462H150.135c.291 0 .54-.21.624-.504l1.165-7.308c.042-.21-.125-.378-.333-.462.083-.084.042-.084.042-.084zm-2.913 4.116c-.166 1.176-1.206 2.058-2.371 2.016-.874.126-1.706-.546-1.79-1.47 0-.21 0-.378.042-.63a2.388 2.388 0 0 1 2.372-2.058c.54-.042 1.04.168 1.373.546.291.546.458 1.092.374 1.596zM154.13 4.87l-1.831 11.592c-.042.21.124.378.332.462h1.872c.292 0 .542-.21.625-.504l1.789-11.382c.041-.21-.125-.378-.333-.462H154.504a.312.312 0 0 0-.375.294z"
								/>
							</g>
							<g>
								<path
									fill="#373737"
									d="M197.208 10.101a2.757 2.757 0 0 1 0 4.03 3.136 3.136 0 0 1-2.125.838c-.5 0-1.041-.2-1.375-.519l-.041-.04v3.192l-1.5.479V9.423h1.5v.439l.041-.04c.375-.32.875-.519 1.375-.479.834 0 1.542.24 2.125.758zm-.625 2.035c0-.798-.708-1.396-1.5-1.396-.791 0-1.458.678-1.458 1.436 0 .758.667 1.396 1.5 1.396.792 0 1.458-.638 1.458-1.436z"
								/>
								<path
									fill="#373737"
									d="M199.5 14.21a2.757 2.757 0 0 1 0-4.029 3.136 3.136 0 0 1 2.125-.838c.5 0 1.042.2 1.375.519l.042.04v-.48h1.5v5.467h-1.5v-.439l-.042.04c-.375.32-.875.519-1.375.479-.833.04-1.542-.28-2.125-.758zm.625-2.074c0 .798.708 1.396 1.5 1.396s1.458-.678 1.458-1.436c0-.758-.666-1.396-1.5-1.396-.791.04-1.458.678-1.458 1.436z"
								/>
								<path
									fill="#373737"
									d="M199.5 14.21a2.757 2.757 0 0 1 0-4.029 3.136 3.136 0 0 1 2.125-.838c.5 0 1.042.2 1.375.519l.042.04v-.48h1.5v5.467h-1.5v-.439l-.042.04c-.375.32-.875.519-1.375.479-.833.04-1.542-.28-2.125-.758zm.625-2.074c0 .798.708 1.396 1.5 1.396s1.458-.678 1.458-1.436c0-.758-.666-1.396-1.5-1.396-.791.04-1.458.678-1.458 1.436zM206.125 18.081l1.375-3.192-2.25-5.466h1.667l1.458 3.391 1.458-3.391h1.667l-3.667 8.658h-1.708z"
								/>
								<path
									fill="#373737"
									d="M206.125 18.081l1.375-3.192-2.25-5.466h1.667l1.458 3.391 1.458-3.391h1.667l-3.667 8.658h-1.708zM170.042 14.929c-1.625 0-2.917-1.237-2.917-2.753 0-1.556 1.292-2.793 2.875-2.793h.042c.708.04 1.333.28 1.875.758l.125.12v-.758H173v5.306h-.958v-.678l-.125.12c-.5.359-1.167.638-1.875.678zm0-4.708c-1.125 0-2 .838-2 1.915s.875 1.915 2 1.915 2-.838 2-1.915c0-.997-.875-1.915-2-1.915zM174.667 14.85v-4.51h-.834v-.837h.834V7.907c0-.958.791-1.716 1.791-1.716h1.209l-.209.838h-.875c-.5 0-.958.439-.958.918v1.556h1.792v.838h-1.792v4.508h-.958zM180.833 14.85c-1 0-1.833-.799-1.833-1.756V10.34h-.833v-.838H179V6.23h.958v3.272h1.792v.838h-1.792v2.713c0 .478.375.917.959.957h.875l.208.838h-1.167zM184.833 14.89c-.708 0-1.375-.32-1.875-.799-.458-.479-.708-1.077-.791-1.716v-.279c0-.2 0-.439.041-.638.125-.48.334-.918.709-1.277a2.597 2.597 0 0 1 3.583-.16l.167.16c.333.36.625.798.666 1.277.042.279.042.518.042.798h-4.417v.12c.042.917.834 1.595 1.709 1.635.5 0 1-.2 1.375-.518l.791.438c-.208.2-.458.36-.666.52-.334.318-.834.438-1.334.438zm0-4.63c-.791.04-1.458.52-1.666 1.238l-.042.12h3.417l-.042-.12c-.292-.679-.958-1.237-1.667-1.237zM188.375 14.85V9.502h.958v.678l.125-.16c.334-.359 1.292-.638 1.959-.638l-.209.918c-1 0-1.833.758-1.833 1.715v2.873h-1v-.04z"
								/>
								<path
									fill="#2B78AD"
									d="M219.333 10.9l1.625-.919c-.166-.319-.125-.199-.291-.518-.167-.32-.125-.44.291-.44h3.084c.333 0 .375.12.208.36-.5.838-1.042 1.756-1.542 2.593-.166.28-.333.28-.5 0-.166-.279-.125-.2-.333-.518-.542.319-1.125.598-1.625.917.042.04.042.12.125.2.375.678.542.997 1 1.636.333.598 1.042.798 1.667.479.166-.12.333-.2.458-.36.042-.12.125-.16.167-.279 1-1.636 1.958-3.232 2.916-4.868.125-.16.167-.319.209-.518.166-.639-.292-1.277-.959-1.397-.125 0-.166-.04-.291-.04h-6.334c-.666 0-1.208.52-1.291 1.157 0 .2.041.36.166.599.125.28.292.519.459.758.416.519.458.638.791 1.157z"
								/>
								<path
									fill="#114778"
									d="M214.708 15.966v-1.795h-.625c-.333 0-.458-.12-.291-.439.5-.838 1.041-1.716 1.541-2.554.167-.279.292-.279.459 0 .5.838 1.041 1.716 1.541 2.554.167.28.125.36-.208.439h-.625v1.795h2.167c.666 0 1.208-.478 1.291-1.117 0-.16-.041-.359-.125-.519-.041-.12-.125-.16-.166-.279-.959-1.596-1.959-3.232-2.917-4.828-.125-.16-.208-.319-.333-.478-.5-.44-1.292-.44-1.709.04-.041.04-.125.16-.166.199-1.042 1.716-2.125 3.431-3.167 5.187a1.124 1.124 0 0 0 .458 1.596c.167.12.375.16.542.16.333.04 1.667.04 2.333.04z"
								/>
							</g>
							<path
								fill="#000"
								d="M247.52 6.359c-.496.623-1.199.997-2.026.956a2.996 2.996 0 0 1 .703-2.12c.496-.623 1.199-.956 1.984-1.039.124.831-.165 1.621-.661 2.203zm.661 1.122c-1.116-.041-2.108.665-2.563.665-.537 0-1.364-.623-2.232-.623a3.34 3.34 0 0 0-2.81 1.704c-1.199 2.12-.33 5.153.826 6.857.538.832 1.282 1.788 2.15 1.704.826-.041 1.198-.54 2.19-.54 1.034 0 1.323.54 2.232.54.951 0 1.53-.83 2.108-1.662.373-.623.703-1.205.951-1.953-1.116-.5-1.819-1.538-1.819-2.744 0-1.039.538-2.036 1.489-2.576a3.185 3.185 0 0 0-2.522-1.372zm6.49-2.327v12.551h1.942v-4.322h2.687c2.48 0 4.175-1.704 4.175-4.156S261.78 5.07 259.34 5.07l-4.67.083zm1.942 1.662h2.232c1.695 0 2.646.873 2.646 2.494 0 1.62-.992 2.494-2.646 2.494h-2.232V6.816zm10.375 10.972c1.157.042 2.232-.623 2.852-1.62h.041v1.496h1.819v-6.235c0-1.828-1.447-2.992-3.679-2.992-2.025 0-3.554 1.164-3.637 2.826h1.777c.166-.79.868-1.288 1.819-1.288 1.199 0 1.86.54 1.86 1.62v.707l-2.397.167c-2.232.124-3.472 1.039-3.472 2.66-.083 1.62 1.198 2.66 3.017 2.66zm.537-1.496c-1.033 0-1.694-.499-1.694-1.288 0-.79.66-1.289 1.86-1.33l2.149-.125v.707c0 1.205-.992 2.036-2.315 2.036zm6.531 4.821c1.86 0 2.81-.706 3.555-2.909l3.389-9.6h-1.984l-2.273 7.356h-.042l-2.273-7.398h-2.025l3.306 9.185-.165.54c-.29.956-.785 1.33-1.653 1.33-.166 0-.455 0-.538-.041v1.496c.207.041.496.041.703.041z"
							/>
						</g>
					</svg>
				</span>
				<hr class="d-lg-none" />
			</div>
		</div>
	</div>
</section>
