.newsletter {
	min-width: 265px;
}

h5 {
	font-size: 18px;
}

#footer {
	background: #fff;
}

p {
	font-weight: 200;
	font-size: 14px;
	line-height: 1.5;
}

.nav-link {
	font-size: 14px;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.8;
	letter-spacing: normal;
	color: #000000;
}

@media screen and (max-width: 991px) {
	.border-bottom-custom {
		padding-bottom: 16px;
		border-bottom: 1px solid #eee;
	}
}

.email-signup {
	font-size: 12px;

	input {
		background: #f8f8f8;
		border: 1px solid #000;
		appearance: none;
	}

	.btn {
		padding: 10px;
	}

	&::placeholder {
		font-size: 11px;
	}

	&:placeholder {
		font-size: 11px;
	}
}

:host {
	position: relative;
}

canvas {
	@media screen and (max-width: 991px) {
		display: none;
	}

	height: 120px;
	margin-bottom: -8px;
	position: absolute;
	top: -100px;
	z-index: 100;
	width: 101vw !important;
	display: block;
	right: 0;
	left: 0;
}
