<ngxImg class="w-100" [sizeSelect]="viewportSize > 768 ? 'landscapeHero' : 'portraitHero'" [reload]="true"
  [image]="viewportSize > 768 ? block.image : block.imageMobile ">
  <div class="d-flex flex-column justify-content-center text-white absolute tlbr w-100">
    <p class="text-center h2" [style.color]="block.settings.heading_color">
      {{ block.settings.title }}
    </p>
    <div class="font-accent teaser" [innerHTML]="block.settings.text"></div>
    <button *ngIf="block.settings.button_enabled" class="d-flex mx-auto btn btn-primary rounded-0 btn-lg"
      [style.background-color]="block.settings.button_color" [routerLink]="block.settings.link">
      {{ block.settings.button_label }}
    </button>
  </div>
</ngxImg>
