.reset-wrapper {
  min-height: 455px;
  padding-top: 118px;
}

.reset-form {
  width: 100%;
  @media screen and (min-width: 768px) {
    width: 380px;
  }
}

.btn {
  width: 100%;

  @media screen and (min-width: 576px) {
    width: auto;
    min-width: 108px;
    padding: 11px 20px;
  }
}

.reset-btn {
  display: block;
  margin-top: 14px;
  border-bottom: 1px solid #444444;
  line-height: 1;

  &:hover {
    border-color: #777777;
    text-decoration: none;
  }
}
