<div class="container">
  <div class="activate-wrapper d-flex flex-column align-items-center">
    <h3>Reset Password</h3>
    <p class="mb-4">Reset your password for your account.</p>
    <form class="activate-form needs-validation" [ngClass]="{ 'was-validated': !setForm.form.valid && setForm.form.dirty }" #setForm="ngForm">
      <div class="input-group">
        <input required class="input form-control" aria-required="true" minlength="8" name="password" id="Password" type="password" placeholder="Enter password" #password="ngModel" [(ngModel)]="customerPassword" />
        <div *ngIf="password.invalid && password.dirty" class="invalid-feedback">
          <div *ngIf="password.errors.required" class="form__message">
            This field is required.
          </div>
          <div *ngIf="password.errors.minlength" class="form__message">
            Password must be at least 8 characters long.
          </div>
        </div>
      </div>
      <div class="text-center">
        <button [disabled]="!setForm.form.valid || !setForm.form.dirty" class="btn btn-primary" (click)="submit()">Reset Password</button>
      </div>
    </form>
  </div>
</div>
