{
  "type": "article-standard",
  "settings": {{section.settings | json}},
  "article": {
    "author": "{{article.author}}",
    "blog_id": "{{article.blog_id}}",
    "body_html": "{{article.body_html}}",
    "created_at": "{{article.created_at}}",
    "content": "{{article.content | escape  }}",
    "excerpt": "{{article.excerpt | escape  }}",
    "excerpt_or_content": "{{article.excerpt_or_content | escape  }}",
    "handle": "{{article.handle}}",
    "id": "{{article.id}}",
    "image": { {% include 'json-image', image: article.image, crop: 'center', size: '763x498' %} },
    "published_at": "{{article.published_at}}",
    "summary_html": "{{article.summary_html}}",
    "tags": "{{article.tags}}",
    "template_suffix": "{{article.template_suffix}}",
    "title": "{{article.title}}",
    "updated_at": "{{article.updated_at}}",
    "user_id": "{{article.user_id}}",
    "next_article": "{{article.next_article }}",
    "previous_article": "{{article.previous_article }}"
  }
}
{% schema %}
{
  "name": {
    "de": "Posts",
    "en": "Posts",
    "es": "Publicaciones",
    "fr": "Articles",
    "it": "Articoli",
    "ja": "投稿",
    "pt-BR": "Posts"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "blog_show_author",
      "label": {
        "de": "Autor anzeigen",
        "en": "Show author",
        "es": "Mostrar autor",
        "fr": "Afficher l'auteur",
        "it": "Mostra autore",
        "ja": "執筆者を表示する",
        "pt-BR": "Exibir autor(a)"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blog_show_date",
      "label": {
        "de": "Datum anzeigen",
        "en": "Show date",
        "es": "Mostrar fecha",
        "fr": "Afficher la date",
        "it": "Mostra data",
        "ja": "日付を表示する",
        "pt-BR": "Exibir data"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": {
        "de": "Buttons für Social Media anzeigen",
        "en": "Show social sharing buttons",
        "es": "Mostrar botones para compartir en redes sociales",
        "fr": "Afficher les boutons de partage sur les médias sociaux",
        "it": "Mostra i pulsanti per la condivisione sui social",
        "ja": "ソーシャル共有ボタンを表示する",
        "pt-BR": "Exibir botões de compartilhamento em redes sociais"
      },
      "default": true
    }
  ]
}
{% endschema %}
