{
  "type": "blog-with-image",
  "settings": {{section.settings | json}},
  "id": "{{blog.id}}",
  "all_tags": "{{blog.all_tags}}",
  "articles_count": "{{blog.articles_count}}",
  "comments_enabled": "{{blog.comments_enabled}}",
  "handle": "{{blog.handle}}",
  "moderated": "{{blog.moderated}}",
  "next_article": "{{blog.next_article}}",
  "previous_article": "{{blog.previous_article}}",
  "tags": "{{blog.tags}}",
  "title": "{{blog.title}}",
  "url": "{{blog.url}}",
  "articles": [
    {% paginate blog.articles by 12 %}
    {% for article in blog.articles %}
    {
        "author": "{{article.author}}",
        "comments": "{{article.comments}}",
        "comments_count": "{{article.comments_count}}",
        "comments_enabled": "{{article.comments_enabled}}",
        "comment_post_url": "{{article.comment_post_url}}",
        "content": "{{article.content}}",
        "created_at": "{{article.created_at}}",
        "excerpt": "{{article.excerpt}}",
        "excerpt_or_content": "{{article.excerpt_or_content}}",
        "handle": "{{article.handle}}",
        "id": "{{article.id}}",
        "image":  {
                "thumb": { {% include 'json-image', image: article.image, crop: 'center', size: '352x240' %} }
            },
        "moderated": "{{article.moderated}}",
        "published_at": "{{article.published_at}}",
        "tags": "{{article.tags}}",
        "title": "{{article.title}}",
        "url": "{{article.url}}",
        "user": "{{article.user}}"
    }{% unless forloop.last %},{% endunless %}
    {% endfor %}
    {% endpaginate %}
  ]
}




{% schema %}
{
  "name": {
    "en": "Blog pages"
  },
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "label": {
        "en": "Layout"
      },
      "default": "list",
      "options": [
        {
          "value": "grid",
          "label": {
            "en": "Grid"
          }
        },
        {
          "value": "list",
          "label": {
            "en": "List"
          }
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Second image desktop"
    },
    {
      "type": "image_picker",
      "id": "imageMobile",
      "label": "Second image mobile"
    },
    {
      "type": "checkbox",
      "id": "blog_show_author",
      "label": {
        "en": "Show author"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blog_show_date",
      "label": {
        "en": "Show date"
      },
      "default": true
    }
  ]
}
{% endschema %}
