{
  "id": "{{section.id}}",
  "settings": {{section.settings | json}},
  "imageLeft": { {% include 'json-image', image:  section.settings.imageLeft, crop: 'center', size: '1x1' %} },
  "imageMiddle": { {% include 'json-image', image:  section.settings.imageMiddle, crop: 'center', size: '1x1' %} },
  "imageRight": { {% include 'json-image', image:  section.settings.imageRight, crop: 'center', size: '1x1' %} },
  "type": "Collection Three Images"
},

{% schema %}
{
  "name": { 
    "en": "Collection Three Images"
  },
  "class": "index-section index-section--flush",
  "settings": [
    {
      "type": "image_picker",
      "id": "imageLeft",
      "label": { 
        "en": "Image"
      }
    },
    {
      "type": "image_picker",
      "id": "imageMiddle",
      "label": { 
        "en": "Image"
      }
    },
    {
      "type": "image_picker",
      "id": "imageRight",
      "label": { 
        "en": "Image"
      }
    },
    {
      "type": "text",
      "id": "title",
      "label": { 
        "en": "Heading"
      },
      "default": { 
        "en": "Image with text overlay"
      }
    },
    {
      "type": "select",
        "id": "titleAlignment",
        "label": {
          "en": "Title alignment"
        },
        "default": "center",
        "options": [{
            "value": "left",
            "label": {
              "en": "Left"
            }
          },
          {
            "value": "center",
            "label": {
              "en": "Center"
            }
          },
          {
            "value": "right",
            "label": {
              "en": "Right"
            }
        }
      ]
    },
    {
      "type": "richtext",
      "id": "text",
      "label": {
        "en": "Text"
      },
      "default": { 
        "en": "<p>Use overlay text to give your customers insight into your brand. Select imagery and text that relates to your style and story.</p>"
      }
    },
    {
      "type": "select",
      "id": "textSize",
      "label": {
        "en": "Text size"
      },
      "default": "medium",
      "options": [
        {
          "label": {
            "en": "Medium"
          },
          "value": "medium"
        },
        {
          "label": {
            "en": "Large"
          },
          "value": "large"
        }
      ]
    },
    {
      "type": "color",
      "id": "textColor",
      "default": "#000",
      "label": {
        "en": "Text color"
      }
    },
    {
      "type": "select",
        "id": "textAlignment",
        "label": {
          "en": "Text alignment"
        },
        "default": "center",
        "options": [{
            "value": "left",
            "label": {
              "en": "Left"
            }
          },
          {
            "value": "center",
            "label": {
              "en": "Center"
            }
          },
          {
            "value": "right",
            "label": {
              "en": "Right"
            }
        }
      ]
    },
    {
      "type": "text",
      "id": "buttonLabel",
      "label": {
        "en": "Button label"
      }
    },
    {
      "type": "url",
      "id": "buttonLink",
      "label": {
        "en": "Button link"
      }
    },
    {
      "type": "color",
      "id": "buttonColor",
      "default": "#000",
      "label": {
        "en": "Button color"
      }
    }
  ],
  "presets": [
    {
      "name": { 
        "en": "Collection three images"
      },
      "category": {
        "en": "Image"
      }
    }
  ]
}
{% endschema %}
