{%- assign collection = collections[section.settings.collection] -%}
{  
  "settings": {{ section.settings | json}},
  "collection": {{collection | json}},
  "products": [
    {% for product in collection.products limit: 12 %}
      { {% include 'json-product' with product %} }
    {% unless forloop.last %}, {% endunless %}
    {% endfor %}
    ],
    "type": "collection"
},
{% schema %}
{
  "name": {
    "en": "Featured collection"
  },
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Featured Collection"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    }
  ],
  "presets": [
    {
      "name": { 
        "en": "Featured collection"
      },
      "category": { 
        "en": "Collection"
      }
    }
  ]
}
{% endschema %}
