{
  "id": "{{section.id}}",
  "settings": {{section.settings | json}},
  "blocks": [
    {% for block in section.blocks limit: section.blocks.size %}
      {%- assign collection = collections[block.settings.collection] -%}
      {% if block.settings.desktopImage %}
        {%- assign collectionImage = block.settings.desktopImage -%}
      {% elsif collection.image %}
        {%- assign collectionImage = collection.image -%}
      {% elsif collection.products.first and collection.products.first.images != empty %}
        {%- assign collectionImage = collection.products.first.featured_image -%}
      {% else %}
        {% assign collectionImage = blank %}
      {% endif %}
      {% if block.settings.mobileImage %}
          {%- assign collectionImageMobile = block.settings.mobileImage -%}
        {% elsif collection.image %}
          {%- assign collectionImageMobile = collection.image -%}
        {% elsif collection.products.first and collection.products.first.images != empty %}
          {%- assign collectionImageMobile = collection.products.first.featured_image -%}
        {% else %}
          {% assign collectionImageMobile = blank %}
        {% endif %}
      {
        "title": "{{collection.title}}",
        "image": { {% include 'json-image', image: collectionImage, crop: 'center', size: '1x1' %} },
        "imageMobile": { {% include 'json-image', image: collectionImageMobile, crop: 'center', size: '1x1' %} },
        "link": "{% if collection.products == empty %}#{% else %}{{ collection.url }}{% endif %}"
      }
    {% unless forloop.last %}, {% endunless %}
    {% endfor %}
  ],
  "type": "collection-list"
},

{% schema %}
{
  "name": { 
    "en": "Collection list"
  },
  "class": "index-section",
  "max_blocks": 12,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": { 
        "en": "Heading"
      },
      "default": "Collection list"
    },
    {
      "type": "checkbox",
      "id": "displayImages",
      "label": "Display images",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": {
        "en": "Collection"
      },
      "settings": [
        {
          "label": "Collection", 
          "id": "collection",
          "type": "collection"
        },
        {
          "type": "image_picker",
          "id": "desktopImage",
          "label": {
            "en": "Desktop Image"
          }
        },
            {
          "type": "image_picker",
          "id": "mobileImage",
          "label": {
            "en": "Mobile Image"
          }
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Collection list"
      },
      "category": {
        "en": "Collection"
      },
      "blocks": [
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        }
      ]
    }
  ]
}
{% endschema %}
