{%- assign collection = collections[section.settings.collection] -%}
{%- assign product_limit = section.settings.grid | times: section.settings.rows -%}
{  
  "id": "{{section.id}}",
  "type": "collection-slideshow",
  "settings": {{section.settings | json}},
  "collection": {{collection | json}},
  "product_count": "{{ collection.all_products_count }}",
  "all_tags": {{ collection.all_tags | json}},
  "tags": {{collection.tags | json}},
  "current_count": "{{collection.products_count }}",
  "products": [{% for product in collection.products %}
  {
    {% include 'json-product' with product %}
  }
    {% unless forloop.last %},{% endunless %}{% endfor %}
  ]
},

{% schema %}
{
  "name": {
    "en": "Collection Slideshow"
  },
  "class": "index-section",
  "settings": [
        {
        "type": "checkbox",
        "id": "enabled",
            "label": {
                "en": "Enabled"
            },
            "default": true
        },
    
    {
      "type": "text",
      "id": "title",
      "label": {
        "en": "Heading"
      },
      "default": {
        "en": "Featured collection"
      }
    },
    {
      "id": "collection",
      "type": "collection",
      "label": {
        "en": "Collection"
      }
},
    {
      "type": "text",
      "id": "linkText",
      "label": {
        "en": "Link Text"
      },
      "default": {
        "en": "Go to collection"
      }
    },
    {
        "type": "url",
        "id": "link",
        "label": {
            "en": "Link"
        }
    }
  ]
}
{% endschema %}
