{  
  "id": "{{section.id}}",
  "type": "content-hero",
  "settings": {{section.settings | json}},
  "blocks": [
      {% for block in section.blocks %}
      {
            "link": "{{ block.settings.link }}",
            "title": "{{ block.settings.title }}",
            "content": "{{ block.settings.content }}",
            "image": {
                "landscape": { {% include 'json-image', image:  block.settings.image, crop: 'center', size: '850x550' %} },
                "landscapeMobile": { {% include 'json-image', image:  block.settings.imageMobile, crop: 'center', size: '850x550' %} },
                "portrait": { {% include 'json-image', image:  block.settings.image, crop: 'center', size: '450x700' %} },
                "portraitMobile": { {% include 'json-image', image:  block.settings.imageMobile, crop: 'center', size: '450x700' %} }
            }
      }
      {% unless forloop.last %},{% endunless %}{% endfor %}
  ]
},

{% schema %}
{
  "name": "Content Hero",
  "class": "index-section",
  "settings": [
    {
      "type": "color",
      "id": "colorText",
      "label": "Text colour",
      "default": "#000"
    }
  ],
  "max_blocks": 3,
  "blocks": [
    {
      "type": "hero",
      "name": {
        "en": "Image"
      },
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "imageMobile",
          "label": "Image Mobile"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Content Hero"
      },
      "category": {
        "en": "Text"
      },
      "blocks": [
        {
          "type": "hero"
        },
        {
          "type": "hero"
        },
        {
          "type": "hero"
        }
      ]
    }
  ]
}
{% endschema %}