{  
  "id": "{{section.id}}",
  "type": "content-header",
  "settings": {{ section.settings | json }},
  "images": {
            "logo": { {% include 'json-image', image:  section.settings.logo, crop: 'center', size: '160x250' %} },
            "logoMobile": { {% include 'json-image', image:  section.settings.logoMobile, crop: 'center', size: '160x250' %} }
            {% if section.settings.image != blank %}, "image":  { {% include 'json-image', image:  section.settings.image, crop: 'center', size: '840x430' %} } {% endif %}
            {% if section.settings.imageMobile != blank %}, "imageMobile":  { {% include 'json-image', image:  section.settings.imageMobile, crop: 'center', size: '840x430' %} } {% endif %}
  },
  "blocks": [
      {% for block in section.blocks %}
      {
            "link": "{{ block.settings.link }}",
            "title": "{{ block.settings.title }}",
            "image": { {% include 'json-image', image:  block.settings.image, crop: 'center', size: '850x550' %} },
            "imageMobile": { {% include 'json-image', image:  block.settings.imageMobile, crop: 'center', size: '850x550' %} }
      }
      {% unless forloop.last %},{% endunless %}{% endfor %}
  ]
},

{% schema %}
{
  "name": {
    "en": "Content Header"
  },
  "class": "index-section",
  "max_blocks": 3,
  "settings": [
         {
          "type": "image_picker",
          "id": "logo",
          "label": {
            "en": "Logo"
          }
        },
        {
          "type": "image_picker",
          "id": "logoMobile",
          "label": {
            "en": "Logo Mobile"
          }
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": {
            "en": "Image"
          }
        },
        {
          "type": "image_picker",
          "id": "imageMobile",
          "label": {
            "en": "Image Mobile"
          }
        },
        {
          "type": "text",
          "id": "youtube",
          "label": {
            "en": "Video URL (youtube)"
          }
        },
        {
          "type": "text",
          "id": "videoMp4",
          "label": {
            "en": "Video URL MP4 (CDN)"
          }
        },
                {
          "type": "text",
          "id": "videoWebm",
          "label": {
            "en": "Video URL WebM (CDN)"
          }
        },
        {
          "type": "checkbox",
          "id": "autoplay",
          "default": false,
          "label": {
            "en": "Video Autoplay"
          }
        },
        {
          "type": "checkbox",
          "id": "mute",
          "default": false,
          "label": {
            "en": "Video Mute"
          }
        },
        {
          "type": "checkbox",
          "id": "controls",
          "default": false,
          "label": {
            "en": "Video Controls"
          }
        },
        {
          "type": "text",
          "id": "title",
          "label": {
            "en": "Title"
          }
        },
        {
          "type": "text",
          "id": "content",
          "label": {
            "en": "Content"
          }
        },
        {
          "type": "url",
          "id": "link",
          "label": {
            "en": "Link"
          }
        }
  ],
  "blocks": [
    {
      "type": "hero",
      "name": {
        "en": "Image"
      },
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": {
            "en": "Image"
          }
        },
        {
          "type": "image_picker",
          "id": "imageMobile",
          "label": {
            "en": "Image Mobile"
          }
        },
        {
          "type": "text",
          "id": "title",
          "label": {
            "en": "Title"
          }
        },
        {
          "type": "url",
          "id": "link",
          "label": {
            "en": "Link"
          }
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Content Header"
      },
      "category": {
        "en": "Text"
      },
      "blocks": [
        {
          "type": "hero"
        },
        {
          "type": "hero"
        },
        {
          "type": "hero"
        }
      ]
    }
  ]
}
{% endschema %}