{  
    "id": "{{section.id}}",
    "type": "content-hero",
    "settings": {
        "enabled": {{section.settings.enabled}},
        "image": { {% include 'json-image', image:  section.settings.image, crop: 'center', size: '850x550' %} },
        "imageMobile": { {% include 'json-image', image:  section.settings.imageMobile, crop: 'center', size: '850x550' %} }
    },
    "blocks": [
        {% for block in section.blocks %}
        {
                "link": "{{ block.settings.link }}",
                "linkTitle": "{{block.settings.linkTitle}}",
                "title": "{{ block.settings.title }}",
                "content": "{{ block.settings.content }}",
                "image": {
                    "landscape": { {% include 'json-image', image:  block.settings.image, crop: 'center', size: '850x550' %} },
                    "landscapeMobile": { {% include 'json-image', image:  block.settings.imageMobile, crop: 'center', size: '850x550' %} },
                    "portrait": { {% include 'json-image', image:  block.settings.image, crop: 'center', size: '450x700' %} },
                    "portraitMobile": { {% include 'json-image', image:  block.settings.imageMobile, crop: 'center', size: '450x700' %} }
                }
        }
        {% unless forloop.last %},{% endunless %}{% endfor %}
    ]
},

{% schema %}
{
    "name": {
        "en": "Content Hero"
    },
    "settings": [
            {
            "type": "checkbox",
            "id": "enabled",
                "label": {
                    "en": "Enabled"
                },
                "default": true
            },
            {
            "type": "image_picker",
            "id": "image",
                "label": {
                    "en": "Image"
                }
            },
            {
            "type": "image_picker",
            "id": "imageMobile",
                "label": {
                    "en": "Image Mobile"
                }
            }
    ],
    "class": "index-section",
    "max_blocks": 3,
    "blocks": [
        {
        "type": "hero",
        "name": {
            "en": "Image"
        },
        "settings": [
            {
            "type": "image_picker",
            "id": "image",
            "label": {
                "en": "Video Image"
            }
            },
            {
            "type": "image_picker",
            "id": "imageMobile",
            "label": {
                "en": "Video Image Mobile"
            }
            },
            {
            "type": "text",
            "id": "title",
            "label": {
                "en": "Title"
            }
            },
            {
            "type": "text",
            "id": "content",
            "label": {
                "en": "Content"
            }
            },
            {
            "type": "text",
            "id": "linkTitle",
            "label": {
                "en": "Link Title"
            }
            },
            {
            "type": "url",
            "id": "link",
            "label": {
                "en": "Link"
            }
            }
        ]
        }
    ]
}
{% endschema %}