{% if section.settings.featured_product == blank %}
    {% assign handle = "all-products" %}
    {% assign products = collections[handle].products | limit: 1 %}
    {% assign product = products[0] %}
{% else %}
    {% assign product = all_products[section.settings.featured_product] %}
{% endif %}

{ 
    "id": "{{section.id}}",
    "product": { 
        {% include 'json-product' with product %} 
    },
    "type": "featured-product",
    "condition": "{{settings.featured_product.title}}"
},

{% schema %}
{
  "name": {
    "en": "Featured product"
  },
  "class": "index-section",
  "settings": [
    {
      "type": "product",
      "id": "featured_product",
      "label": {
        "en": "Product"
      }
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Featured product"
      },
      "category": {
        "en": "Product"
      }
    }
  ]
}
{% endschema %}
