{ 
    "id": "{{section.id}}",
    "type": "featured-content",
    "settings": {{section.settings | json}}
},

{% schema %}
{
  "name": {
    "en": "Featured Content"
  },
  "settings": [
    {
        "type": "checkbox",
        "id": "enabled",
            "label": {
                "en": "Enabled"
            },
        "default": true
    },
    {
      "type": "text",
      "id": "title",
      "label": {
        "en": "Title"
      }
    },
    {
      "type": "text",
      "id": "content",
      "label": {
        "en": "Content"
      }
    }
  ]
}
{% endschema %}
