{
    "settings": {{section.settings | json }},
    "blocks": [
      {% for block in section.blocks %}
      {
        "title": "{{block.settings.title}}",
        "type": "{{block.type}}",
        {% if block.type == 'link_list' %}
          "links": [
            {% for link in linklists[block.settings.menu].links %} 
              {
                "title": "{{ link.title }}",
                "url": "{{link.url}}",
                "handle": "{{ link.handle }}",
                {% if link.links != blank %}
                "links": 
                  [
                    {% for childlink in link.links %}
                    {
                      "title": "{{ childlink.title }}",
                      "handle": "{{ childlink.handle }}",
                      "url": "{{childlink.url}}",
                      {% if childlink.links != blank %}
                        "links": [
                          {% for grandchildlink in childlink.links %}
                            {
                              "title": "{{ grandchildlink.title }}",
                              "handle": "{{ grandchildlink.handle }}",
                              "url": "{{grandchildlink.url}}",
                              "levels": "{{ grandchildlink.levels }}"
                            }{% unless forloop.last %},{% endunless %}
                          {% endfor %}
                        ],
                      {% endif %}
                      "levels": "{{ childlink.levels }}"
                    }{% unless forloop.last %},{% endunless %}
                    {% endfor %}
                  ],
                {% endif %}
                "levels": "{{ link.levels }}"
              }{% unless forloop.last %},{% endunless %}
            {% endfor %}
          ],
        {% elsif block.type == 'text' %}
          "text": "{{block.settings.text}}"
        {% elsif block.type == 'newsletter' %}

        {% endif %}
      },
      {% endfor %}
    ]
}

{% schema %}
{
  "name": {
    "en": "Footer"
  },
  "max_blocks": 5,
  "settings": [],
  "blocks": [
    {
      "type": "link_list",
      "name": {
        "en": "Menu"
      },
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "en": "Heading"
          },
          "default": {
            "en": "Quick links"
          }
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": {
            "en": "Menu"
          },
          "default": "footer"
        }
      ]
    },
    {
      "type": "text",
      "name": {
        "en": "Text"
      },
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "en": "Heading"
          },
          "default": {
            "en": "Talk about your business"
          }
        },
        {
          "type": "richtext",
          "id": "text",
          "label": {
            "en": "Text"
          },
          "default": {
            "en": "<p>Share store details, promotions, or brand content with your customers.</p>"
          }
        }
      ]
    },
    {
      "type": "newsletter",
      "limit": 1,
      "name": {
        "en": "Newsletter signup"
      },
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "en": "Heading"
          },
          "info": {
            "en": "Subscribers will be added to your “accepts marketing” [customer list.](/admin/customers?query=&accepts_marketing=1)"
          },
          "default": {
            "en": "Newsletter"
          }
        }
      ]
    }
  ]
}
{% endschema %}
