{
    "settings": {{section.settings | json}},
    "links": [
        {% for link in linklists[section.settings.main_linklist].links %} 
        {
        "title": "{{ link.title }}",
        "url": "{{link.url}}",
        "handle": "{{ link.handle }}",
        "meta": {{childlink.object | json}},
        "type": "{{link.type}}",
        {% if link.links != blank %}
            "links": 
            [
                {% for childlink in link.links %}
                {
                    "title": "{{ childlink.title }}",
                    "handle": "{{ childlink.handle }}",
                    "url": "{{childlink.url}}",
                    "type": "{{childlink.type}}",
                    "meta": {{childlink.object | json}},
                    {% if childlink.links != blank %}
                    "links": [
                        {% for grandchildlink in childlink.links %}
                        {
                            "title": "{{ grandchildlink.title }}",
                            "handle": "{{ grandchildlink.handle }}",
                            "url": "{{grandchildlink.url}}",
                            "levels": "{{ grandchildlink.levels }}",
                            "type": "{{grandchildlink.type}}",
                            "meta": {{grandchildlink.object | json}}
                        }{% unless forloop.last %},{% endunless %}
                        {% endfor %}
                    ],
                    {% endif %}
                    "levels": "{{ childlink.levels }}"
                }{% unless forloop.last %},{% endunless %}
                {% endfor %}
            ],
        {% endif %}
        "levels": "{{ link.levels }}"
        }
        {% unless forloop.last %},{% endunless %}
        {% endfor %}
    ],
    {% if linklists[section.settings.mobile_linklist].links %}
        "mobilelinks": [
            {% for link in linklists[section.settings.mobile_linklist].links %} 
            {
            "title": "{{ link.title }}",
            "url": "{{link.url}}",
            "handle": "{{ link.handle }}",
            {% if link.links != blank %}
                "links": 
                [
                    {% for childlink in link.links %}
                    {
                        "title": "{{ childlink.title }}",
                        "handle": "{{ childlink.handle }}",
                        "url": "{{childlink.url}}",
                        {% if childlink.links != blank %}
                        "links": [
                            {% for grandchildlink in childlink.links %}
                            {
                                "title": "{{ grandchildlink.title }}",
                                "handle": "{{ grandchildlink.handle }}",
                                "url": "{{grandchildlink.url}}",
                                "levels": "{{ grandchildlink.levels }}"
                            }{% unless forloop.last %},{% endunless %}
                            {% endfor %}
                        ],
                        {% endif %}
                        "levels": "{{ childlink.levels }}"
                    }{% unless forloop.last %},{% endunless %}
                    {% endfor %}
                ],
            {% endif %}
            "levels": "{{ link.levels }}"
            }
            {% unless forloop.last %},{% endunless %}
            {% endfor %}
        ],
    {% endif %}
    {% if linklists[section.settings.mobile_secondary_linklist].links %}
        "mobilelinks": [
            {% for link in linklists[section.settings.mobile_secondary_linklist].links %} 
            {
            "title": "{{ link.title }}",
            "url": "{{link.url}}",
            "handle": "{{ link.handle }}",
            {% if link.links != blank %}
                "links": 
                [
                    {% for childlink in link.links %}
                    {
                        "title": "{{ childlink.title }}",
                        "handle": "{{ childlink.handle }}",
                        "url": "{{childlink.url}}",
                        {% if childlink.links != blank %}
                        "links": [
                            {% for grandchildlink in childlink.links %}
                            {
                                "title": "{{ grandchildlink.title }}",
                                "handle": "{{ grandchildlink.handle }}",
                                "url": "{{grandchildlink.url}}",
                                "levels": "{{ grandchildlink.levels }}"
                            }{% unless forloop.last %},{% endunless %}
                            {% endfor %}
                        ],
                        {% endif %}
                        "levels": "{{ childlink.levels }}"
                    }{% unless forloop.last %},{% endunless %}
                    {% endfor %}
                ],
            {% endif %}
            "levels": "{{ link.levels }}"
            }
            {% unless forloop.last %},{% endunless %}
            {% endfor %}
        ]
    {% endif %}
}


{% schema %}
{
  "name": {
    "en": "Header"
  },
  "settings": [
    {
      "type": "link_list",
      "id": "main_linklist",
      "label": {
        "en": "Primary Menu"
      },
      "default": "main-menu"
    },
    {
      "type": "link_list",
      "id": "mobile_linklist",
      "label": {
        "en": "Mobile Menu"
      },
      "default": "main-menu"
    },
    {
      "type": "link_list",
      "id": "mobile_secondary_linklist",
      "label": {
        "en": "Mobile seconday menu"
      },
      "default": "main-menu"
    }
  ]
}
{% endschema %}
