{
  "id": "{{section.id}}",
  "settings": {{section.settings | json}},
  "image": { {% include 'json-image', image:  section.settings.image, size: '1x1' %} },
  "imageMobile": { {% include 'json-image', image:  section.settings.imageMobile,  size: '1x1' %} },
  "type": "hero"
},

{% schema %}
{
  "name": { 
    "en": "Image with text overlay"
  },
  "class": "index-section index-section--flush",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": { 
        "en": "Dimensions: 1500 x 450"
      }
    },
    {
      "type": "image_picker",
      "id": "imageMobile",
      "label": { 
        "en": "Dimensions: 500 x 500"
      }
    },
    {
      "type": "text",
      "id": "title",
      "label": { 
        "en": "Heading"
      },
      "default": {
        "en": "Image with text overlay"
      }
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading color",
      "default": "#000000"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    },
    {
      "type": "checkbox",
      "id": "actionable",
      "label": "Whole block is link",
      "default": true
    },
    {
      "type": "richtext",
      "id": "text",
      "label": {
        "en": "Text"
      },
      "default": {
        "en": "<p>Overlay text</p>"
      }
    }, 
    {
      "type": "select",
      "id": "text_size",
      "label": {
        "en": "Text size"
      },
      "default": "medium",
      "options": [
        {
          "label": {
            "en": "Medium"
          },
          "value": "medium"
        },
        {
          "label": {
            "en": "Large"
          },
          "value": "large"
        }
      ]
    },
    {
      "type": "text",
      "id": "button_label",
      "label": {
        "en": "Button label"
      }
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "Button color",
      "default": "#000000"
    },
    {
      "type": "checkbox",
      "id": "button_enabled",
      "label": "Button enabled",
      "default": true
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Image with text overlay"
      },
      "category": {
        "en": "Image"
      }
    }
  ]
}
{% endschema %}
