{
  "id": "{{section.id}}",
  "settings": {{section.settings | json}},
  "blocks": [
      {% for block in section.blocks  %}
        {
            "settings": {{block.settings | json}},
            "image": { {% include 'json-image', image:  block.settings.image, crop: 'center', size: '1x1' %} }
        }{% unless forloop.last %},{% endunless %}
    {% endfor %}],
  "type": "hero-slider"
},

{% schema %}
 
{
  "name": { 
    "en": "Image with text overlay"
  },
  "class": "index-section",
  "max_blocks": 12,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": { 
        "en": "Heading"
      },
      "default": { 
        "en": "Hero Slider"
      }
    }
  ],
  "blocks": [
    {
      "type": "hero",
      "name": {
        "en": "Hero"
      },
      "settings": [
          {
      "type": "image_picker",
      "id": "image",
      "label": { 
        "en": "Image"
      }
    },
    {
      "type": "select",
      "id": "alignment",
      "label": { 
        "en": "Text alignment"
      },
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": { 
            "en": "Left" 
          }
        },
        {
          "value": "center",
          "label": { 
            "en": "Center"
          }
        },
        {
          "value": "right",
          "label": { 
            "en": "Right"
          }
        }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": { 
        "en": "Heading"
      },
      "default": {
        "en": "Image with text overlay"
      }
    },
    {
      "type": "richtext",
      "id": "text",
      "label": {
        "en": "Text"
      }
    } 
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Hero Slider"
      },
      "category": {
        "en": "Image"
      },
      "blocks": [
        {
          "type": "hero"
        },
        {
          "type": "hero"
        },
        {
          "type": "hero"
        }
      ]
    }
  ]
}
{% endschema %}
