{  
  "id": "{{section.id}}",
  "settings": {{section.settings | json}},
  "blocks": [
    {% for block in section.blocks %}
      {
        "link": "{{ block.settings.link }}",
        "title": "{{ block.settings.title }}",
        "image":  { {% include 'json-image', image:  block.settings.image, crop: 'center', size: '300x300' %} },
        "imageMobile":  { {% include 'json-image', image:  block.settings.image, crop: 'center', size: '300x300' %} }
      }
    {% unless forloop.last %},{% endunless %}{% endfor %}
  ],
  "type": "icon-slideshow"
},

{% schema %}
{
  "name": {
    "en": "Icon Slideshow"
  },
  "class": "index-section",
  "max_blocks": 20,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": {
        "en": "Heading"
      },
      "default": {
        "en": "Icon list"
      }
    }
  ],
  "blocks": [
    {
      "type": "icon_image",
      "name": {
        "en": "Logo"
      },
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": {
            "en": "Image"
          }
        },
        {
          "type": "image_picker",
          "id": "imageMobile",
          "label": {
            "en": "Image Mobile"
          }
        },
        {
          "type": "text",
          "id": "title",
          "label": {
            "en": "Title"
          }
        },
        {
          "type": "url",
          "id": "link",
          "label": {
            "en": "Link"
          }
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Icon list"
      },
      "category": {
        "en": "Image"
      },
      "blocks": [
        {
          "type": "icon_image"
        },
        {
          "type": "icon_image"
        },
        {
          "type": "icon_image"
        },
        {
          "type": "icon_image"
        },
        {
          "type": "icon_image"
        },
        {
          "type": "icon_image"
        }
      ]
    }
  ]
}
{% endschema %}