{
  "id": "{{section.id}}",
  "settings" :{{section.settings | json}},
  "type": "instagram"
},

{% schema %}
{
  "name": {
    "en": "Instagram"
  },
  "class": "index-section index-section--flush",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": {
        "en": "Heading"
      },
      "default": {
        "en": "Heading"
      }
    },
       {
      "type": "text",
      "id": "key",
      "label": {
        "en": "Instagram Key: Go To: https:\/\/instagram.pixelunion.net"
      },
      "default": {
        "en": "Go To: https:\/\/instagram.pixelunion.net"
      }
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Instagram"
      },
      "category": {
        "en": "Image"
      }
    }
  ]
}
{% endschema %}
