{
  "id": "{{section.id}}",
  "settings": {{section.settings | json}},
  "blocks": [
    {% for block in section.blocks limit: section.blocks.size %}
      {{block.settings | json}}
    {% unless forloop.last %}, {% endunless %}
    {% endfor %}
  ],
  "type": "link-list"
},

{% schema %}
{
  "name": { 
    "en": "Link list"
  },
  "class": "index-section",
  "max_blocks": 12,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Link list"
    }
  ],
  "blocks": [
    {
      "type": "featured_link",
      "name": "Link",
      "settings": [
        {
          "type": "text",
          "id": "linkTitle",
          "label": "Link Title"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link" 
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Link list" 
      }, 
      "category": {
        "en": "Collection" 
      } 
    }
  ]
}
{% endschema %}
