{  
    "id": "{{section.id}}",
    "type": "map",
    "blocks": [
        {% for block in section.blocks %}
        {
            "link": "{{ block.settings.link }}",
            "title": "{{ block.settings.title }}",
            "lat": "{{ block.settings.lat }}",
            "lng": "{{ block.settings.lng }}",
            "image":  { {% include 'json-image', image:  block.settings.image, crop: 'center', size: '300x300' %} }
        }
        {% unless forloop.last %},{% endunless %}{% endfor %}
    ],
    "settings": {{section.settings | json}}
},






{% schema %}
{
  "name": {
    "en": "Map"
  },
  "max_blocks": 10,
  "class": "index-section",
  "settings": [
        {
        "type": "checkbox",
        "id": "enabled",
            "label": {
                "en": "Enabled"
            },
        "default": true
    },
      {
          "type": "text",
          "id": "zoom",
          "label": {
            "en": "Zoom"
          }
        },{
          "type": "text",
          "id": "lat",
          "label": {
            "en": "Lat"
          }
        },
        {
          "type": "text",
          "id": "lng",
          "label": {
            "en": "Lng"
          }
        }],
  "blocks": [
    {
      "type": "marker",
      "name": {
        "en": "Marker"
      },
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": {
            "en": "Image"
          }
        },
        {
          "type": "text",
          "id": "title",
          "label": {
            "en": "Title"
          }
        },
        {
          "type": "text",
          "id": "lat",
          "label": {
            "en": "Lat"
          }
        },
        {
          "type": "text",
          "id": "lng",
          "label": {
            "en": "Lng"
          }
        },
        {
          "type": "url",
          "id": "link",
          "label": {
            "en": "Link"
          }
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Map"
      },
      "category": {
        "en": "Text"
      },
     "blocks": [
        {
          "type": "marker"
        },
        {
          "type": "marker"
        },
        {
          "type": "marker"
        },
        {
          "type": "marker"
        }
      ]
    }
  ]
}
{% endschema %}


