{
    "settings": {{ section.settings | json }},
    "links": [
        {% for link in linklists[section.settings.menu].links %}
        {
            "title": "{{ link.title }}",
            "url": "{{ link.url }}",
            "handle": "{{ link.handle }}"
        }{% unless forloop.last %},{% endunless %}
        {% endfor %}
    ]
}

{% schema %}
{
  "name": "Menu",
  "settings": [
      {
          "type": "link_list",
          "label": "Menu",
          "id": "menu",
          "info": "Use this to add an Online Store > Navigation menu into a page. For this theme, select the footer menu that relates to the page."
      },
      {
          "type": "text",
          "label": "title",
          "id": "title"
      }
  ]
}
{% endschema %}
