{
    "type": "password"
}

{% comment %}
  Password message which you can edit on http://www.shopify.com/admin/online_store/preferences
{% endcomment %}
{% comment %} <div class="password-content">
  {% unless shop.password_message == blank %}
    <div class="password-message">
      {{ shop.password_message }}
    </div>
  {% endunless %}
</div> {% endcomment %}

{% comment %} {% if section.settings.newsletter_enable %}
  <div class="password-content password-content--rte">
    <p class="h4">
      {{ section.settings.newsletter_form_heading | escape }}
    </p>
    {% if section.settings.newsletter_form_subheading != blank %}
      <div class="password__form-subheading rte">{{ section.settings.newsletter_form_subheading }}</div>
    {% endif %}
  </div>
  {% form 'customer', id: 'ContactPassword', class: 'contact-form form-single-field' %}
    {%- assign formId = 'PasswordNewsletterForm' -%}
    <input type="hidden" name="contact[tags]" value="prospect, password page">
    <label for="{{ formId }}-email" class="label--hidden">{{ 'general.password_page.signup_form_email_label' | t }}</label>

    {%- if form.posted_successfully? -%}
      <p class="form-message form-message--success" tabindex="-1" data-form-status>
        {{ 'contact.form.post_success' | t }}
      </p>
    {%- endif -%}

    <div class="input-group{% if form.errors %} input-group--error{% endif %}">
        <input
          type="email"
          name="contact[email]"
          id="{{ formId }}-email"
          class="input-group__field {% if form.errors contains 'email' %} input--error{% endif %}"
          placeholder="{{ section.settings.newsletter_placeholder | escape }}"
          {%- if form.errors contains 'email' -%}
            aria-invalid="true"
            aria-describedby="{{ formId }}-email-error"
            data-form-status
          {%- endif -%}
        >
      <span class="input-group__btn">
        <button type="submit" name="commit" class="btn">
          <span>{{ section.settings.newsletter_button_text | escape }}</span>
        </button>
      </span>
    </div>
    {%- if form.errors contains 'email' -%}
      <span id="{{ formId }}-email-error" class="input-error-message">
        {% include 'icon-error' %} {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.
      </span>
    {%- endif -%}

  {% endform %}
{% endif %} {% endcomment %}



{% schema %}

{
  "name": {
    "de": "Inhalt",
    "en": "Content",
    "es": "Contenido",
    "fr": "Contenu",
    "it": "Contenuto",
    "ja": "コンテンツ",
    "pt-BR": "Conteúdo"
  },
  "settings": [
     
  ]
}
{% endschema %}
