{
  "id": "{{section.id}}",
  "settings": {{section.settings | json}},
  "blocks": [
    {% for block in section.blocks limit: section.blocks.size %}
        {%- assign product = all_products[block.settings.product] -%}
        {
            {% include 'json-product' with product  %}
        }{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ],
  "type": "product-list"
},

{% schema %}
{
  "name": { 
    "en": "Product list"
  },
  "class": "index-section",
  "max_blocks": 12,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": { 
        "en": "Heading"
      },
      "default": { 
        "en": "Product list"
      }
    }
  ],
  "blocks": [
    {
      "type": "product-list",
      "name": {
        "en": "Product List"
      },
      "settings": [
        {
          "label": {
            "en": "Product"
          },
          "id": "product",
          "type": "product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Product list"
      },
      "category": {
        "en": "Product"
      },
      "blocks": [
        {
          "type": "product-list"
        },
        {
          "type": "product-list"
        },
        {
          "type": "product-list"
        }
      ]
    }
  ]
}
{% endschema %}
