{
  "id": "{{section.id}}",
  "settings": {{section.settings | json}},
  "blocks": [
      {% for block in section.blocks %}
      {
            "link": "{{ block.settings.link }}",
            "title": "{{ block.settings.text }}",
            "image": { {% include 'json-image', image: block.settings.image, size: '90x32' %} }
      }
      {% unless forloop.last %},{% endunless %}{% endfor %}
  ],
  "type": "ribbon"
},
{% schema %}
{
	"name": {
		"en": "Ribbon Promotions"
	},
	"settings": [{
			"type": "checkbox",
			"id": "ribbon",
			"label": {
				"en": "Show Ribbon?"
			}
		},
		{
			"type": "checkbox",
			"id": "homepage",
			"label": {
				"en": "Homepage Only?"
			}
		},
		{
			"type": "text",
			"id": "text",
			"label": {
				"en": "Content"
			}
		},
		{
			"type": "color",
			"id": "colorBackground",
			"default": "#000",
			"label": {
				"en": "Background"
			}
		},
		{
			"type": "color",
			"id": "colorText",
			"default": "#fff",
			"label": {
				"en": "Text"
			}
		}
	],
	"blocks": [{
		"type": "icons",
		"name": {
			"en": "Brands"
		},
		"settings": [{
				"type": "image_picker",
				"id": "image",
				"label": {
					"en": "Image"
				}
			},
			{
				"type": "text",
				"id": "text",
				"label": {
					"en": "Vendor Name (exactly)"
				}
			},
			{
				"type": "url",
				"id": "link",
				"label": {
					"en": "Link"
				}
			}
		]
	}],
	"presets": [{
		"name": {
			"en": "Ribbon"
		},
		"category": {
			"de": "Foto",
			"en": "Text",
			"es": "Imagen",
			"fr": "Image",
			"it": "Immagine",
			"ja": "画像",
			"pt-BR": "Imagem"
		}
	}]
}
{% endschema %}
