{
  "id": "{{section.id}}",
  "settings": {{section.settings | json}},
  "blocks": [
      {% for block in section.blocks %}
        {
          "link": "{{ block.settings.link }}",
          "title": "{{ block.settings.title }}",
          "image":  { {% include 'json-image', image:  block.settings.image, crop: 'center', size: '1x1' %} },
          "imageMobile":  { {% include 'json-image', image:  block.settings.image, crop: 'center', size: '1x1' %} }
        }
      {% unless forloop.last %},{% endunless %}{% endfor %}
    ],
  "type": "slideshow"
},


{% schema %}
{
  "name": {
    "de": "Slideshow",
    "en": "Slideshow",
    "es": "Diapositivas",
    "fr": "Diaporama",
    "it": "Presentazione",
    "ja": "スライドショー",
    "pt-BR": "Apresentação de slides"
  },
  "class": "index-section index-section--flush index-section--slideshow",
  "max_blocks": 6,
  "settings": [
    {
      "type": "select",
      "id": "slideshow_height",
      "label": {
        "de": "Diahöhe",
        "en": "Slide height",
        "es": "Altura de diapositiva",
        "fr": "Hauteur de la diapositive",
        "it": "Altezza slide",
        "ja": "スライドの高さ",
        "pt-BR": "Altura do slide"
      },
      "default": "adapt",
      "info": {
        "de": "Mehr über [Diashow-Richtlinien](https://help.shopify.com/en/manual/using-themes/themes-by-shopify/debut#slideshow-sections-specific) erfahren",
        "en": "Learn more about [slideshow guidelines](https://help.shopify.com/en/manual/using-themes/themes-by-shopify/debut#slideshow-sections-specific)",
        "es": "Leer más acerca de [las pautas del carrusel de diapositivas](https://help.shopify.com/en/manual/using-themes/themes-by-shopify/debut#slideshow-sections-specific)",
        "fr": "En savoir plus sur [les directives relatives au diaporama](https://help.shopify.com/en/manual/using-themes/themes-by-shopify/debut#slideshow-sections-specific)",
        "it": "Maggiori informazioni sulle [linee guida per le presentazioni](https://help.shopify.com/en/manual/using-themes/themes-by-shopify/debut#slideshow-sections-specific)",
        "ja": "[スライドショーのガイドラ](https://help.shopify.com/en/manual/using-themes/themes-by-shopify/debut#slideshow-sections-specific)インに関する詳細情報はこちら",
        "pt-BR": "Saiba mais sobre as [diretrizes de apresentação de slides](https://help.shopify.com/en/manual/using-themes/themes-by-shopify/debut#slideshow-sections-specific)"
      },
      "options": [
        {
          "label": {
            "de": "An erstes Bild anpassen",
            "en": "Adapt to first image",
            "es": "Adaptar a la primera imagen",
            "fr": "Adapter à la première image",
            "it": "Adatta alla prima immagine",
            "ja": "最初の画像に適応する",
            "pt-BR": "Adaptar à primeira imagem"
          },
          "value": "adapt"
        },
        {
          "label": {
            "de": "Klein",
            "en": "Small",
            "es": "Pequeña",
            "fr": "Petite",
            "it": "Piccolo",
            "ja": "小",
            "pt-BR": "Pequeno"
          },
          "value": "small"
        },
        {
          "label": {
            "de": "Mittel",
            "en": "Medium",
            "es": "Mediana",
            "fr": "Moyenne",
            "it": "Medio",
            "ja": "中",
            "pt-BR": "Médio"
          },
          "value": "medium"
        },
        {
          "label": {
            "de": "Groß",
            "en": "Large",
            "es": "Grande",
            "fr": "Grande",
            "it": "Grande",
            "ja": "大",
            "pt-BR": "Grande"
          },
          "value": "large"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_size",
      "label": {
        "de": "Textgröße",
        "en": "Text size",
        "es": "Tamaño del texto",
        "fr": "Taille du texte",
        "it": "Dimensione testo",
        "ja": "文字サイズ",
        "pt-BR": "Tamanho do texto"
      },
      "default": "medium",
      "options": [
        {
          "label": {
            "de": "Mittel",
            "en": "Medium",
            "es": "Mediano",
            "fr": "Moyenne",
            "it": "Medio",
            "ja": "中",
            "pt-BR": "Médio"
          },
          "value": "medium"
        },
        {
          "label": {
            "de": "Groß",
            "en": "Large",
            "es": "Grande",
            "fr": "Grande",
            "it": "Grande",
            "ja": "大",
            "pt-BR": "Grande"
          },
          "value": "large"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": {
        "de": "Textausrichtung",
        "en": "Text alignment",
        "es": "Alineación de texto",
        "fr": "Alignement du texte",
        "it": "Allineamento del testo",
        "ja": "テキストアラインメント",
        "pt-BR": "Alinhamento de texto"
      },
      "default": "center center",
      "options": [
        {
          "label": {
            "de": "Oben links",
            "en": "Top left",
            "es": "Superior izquierda",
            "fr": "En haut à gauche",
            "it": "In alto a sinistra",
            "ja": "左上",
            "pt-BR": "Superior esquerdo"
          },
          "value": "left top"
        },
        {
          "label": {
            "de": "Oben Mitte",
            "en": "Top center",
            "es": "Superior al centro",
            "fr": "En haut au centre",
            "it": "In alto al centro",
            "ja": "中央上",
            "pt-BR": "Superior centro"
          },
          "value": "center top"
        },
        {
          "label": {
            "de": "Oben rechts",
            "en": "Top right",
            "es": "Superior derecha",
            "fr": "En haut à droite",
            "it": "In alto a destra",
            "ja": "右上",
            "pt-BR": "Superior direito"
          },
          "value": "right top"
        },
        {
          "label": {
            "de": "Mitte links",
            "en": "Middle left",
            "es": "Al medio a la izquierda",
            "fr": "Au milieu à gauche",
            "it": "Nel mezzo a sinistra",
            "ja": "中央左",
            "pt-BR": "Meio esquerdo"
          },
          "value": "left center"
        },
        {
          "label": {
            "de": "Mitte mittig",
            "en": "Middle center",
            "es": "Al medio al centro",
            "fr": "Centrée au milieu",
            "it": "In mezzo",
            "ja": "中央中",
            "pt-BR": "Meio centro"
          },
          "value": "center center"
        },
        {
          "label": {
            "de": "Mitte rechts",
            "en": "Middle right",
            "es": "Al medio a la derecha",
            "fr": "Au milieu à droite",
            "it": "Nel mezzo a destra",
            "ja": "中央右",
            "pt-BR": "Meio direito"
          },
          "value": "right center"
        },
        {
          "label": {
            "de": "Unten links",
            "en": "Bottom left",
            "es": "Inferior izquierda",
            "fr": "En bas à gauche",
            "it": "In basso a sinistra",
            "ja": "左下",
            "pt-BR": "Inferior esquerdo"
          },
          "value": "left bottom"
        },
        {
          "label": {
            "de": "Unten mittig",
            "en": "Bottom center",
            "es": "Inferior al centro",
            "fr": "En bas au centre",
            "it": "In basso al centro",
            "ja": "中央下",
            "pt-BR": "Inferior centro"
          },
          "value": "center bottom"
        },
        {
          "label": {
            "de": "Unten rechts",
            "en": "Bottom right",
            "es": "Inferior derecha",
            "fr": "En bas à droite",
            "it": "In basso a destra",
            "ja": "右下",
            "pt-BR": "Inferior direito"
          },
          "value": "right bottom"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_overlay",
      "label": {
        "de": "Überlagerung zeigen",
        "en": "Show overlay",
        "es": "Mostrar superposición",
        "fr": "Afficher la superposition",
        "it": "Mostra sovrapposizione",
        "ja": "オーバーレイを表示する",
        "pt-BR": "Exibir sobreposição"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "autorotate",
      "label": {
        "de": "Auto-rotieren der Slides",
        "en": "Auto-rotate slides",
        "es": "Rotar las diapositivas automáticamente",
        "fr": "Rotation automatique des diapositives",
        "it": "Ruota slide automaticamente",
        "ja": "スライドの自動切り替え",
        "pt-BR": "Rodar os slides automaticamente"
      },
      "default": false
    },
    {
      "type": "range",
      "id": "autorotate_speed",
      "label": {
        "de": "Slides überall ändern",
        "en": "Change slides every",
        "es": "Cambiar diapositivas cada",
        "fr": "Changer de diapositive toutes les",
        "it": "Cambia slide ogni",
        "ja": "スライドを変更する間隔",
        "pt-BR": "Mudar os slides a cada"
      },
      "max": 9,
      "min": 3,
      "step": 2,
      "unit": {
        "de": " s",
        "en": " s",
        "es": " s",
        "fr": " s",
        "it": " s",
        "ja": " s",
        "pt-BR": " s"
      },
      "default": 5
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": {
        "de": "Foto-Slide",
        "en": "Image slide",
        "es": "Diapositiva de imagen",
        "fr": "Diapositive (image)",
        "it": "Slide immagine",
        "ja": "画像スライド",
        "pt-BR": "Slide de imagem"
      },
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": {
            "de": "Foto",
            "en": "Image",
            "es": "Imagen",
            "fr": "Image",
            "it": "Immagine",
            "ja": "画像",
            "pt-BR": "Imagem"
          }
        },
        {
          "type": "select",
          "id": "alignment",
          "label": {
            "de": "Foto-Position",
            "en": "Image position",
            "es": "Alineación de imagen",
            "fr": "Position de l'image",
            "it": "Allineamento immagine",
            "ja": "画像アラインメント",
            "pt-BR": "Alinhamento da imagem"
          },
          "default": "center center",
          "options": [
            {
              "label": {
                "de": "Oben links",
                "en": "Top left",
                "es": "Superior izquierda",
                "fr": "En haut à gauche",
                "it": "In alto a sinistra",
                "ja": "左上",
                "pt-BR": "Superior esquerdo"
              },
              "value": "left top"
            },
            {
              "label": {
                "de": "Oben Mitte",
                "en": "Top center",
                "es": "Superior al centro",
                "fr": "En haut au centre",
                "it": "In alto al centro",
                "ja": "中央上",
                "pt-BR": "Superior centro"
              },
              "value": "center top"
            },
            {
              "label": {
                "de": "Oben rechts",
                "en": "Top right",
                "es": "Superior derecha",
                "fr": "En haut à droite",
                "it": "In alto a destra",
                "ja": "右上",
                "pt-BR": "Superior direito"
              },
              "value": "right top"
            },
            {
              "label": {
                "de": "Mitte links",
                "en": "Middle left",
                "es": "Al medio a la izquierda",
                "fr": "Au milieu à gauche",
                "it": "Nel mezzo a sinistra",
                "ja": "中央左",
                "pt-BR": "Meio esquerdo"
              },
              "value": "left center"
            },
            {
              "label": {
                "de": "Mitte mittig",
                "en": "Middle center",
                "es": "Al medio al centro",
                "fr": "Centrée au milieu",
                "it": "In mezzo",
                "ja": "中央中",
                "pt-BR": "Meio centro"
              },
              "value": "center center"
            },
            {
              "label": {
                "de": "Mitte rechts",
                "en": "Middle right",
                "es": "Al medio a la derecha",
                "fr": "Au milieu à droite",
                "it": "Nel mezzo a destra",
                "ja": "中央右",
                "pt-BR": "Meio direito"
              },
              "value": "right center"
            },
            {
              "label": {
                "de": "Unten links",
                "en": "Bottom left",
                "es": "Inferior izquierda",
                "fr": "En bas à gauche",
                "it": "In basso a sinistra",
                "ja": "左下",
                "pt-BR": "Inferior esquerdo"
              },
              "value": "left bottom"
            },
            {
              "label": {
                "de": "Unten mittig",
                "en": "Bottom center",
                "es": "Inferior al centro",
                "fr": "En bas au centre",
                "it": "In basso al centro",
                "ja": "中央下",
                "pt-BR": "Inferior centro"
              },
              "value": "center bottom"
            },
            {
              "label": {
                "de": "Unten rechts",
                "en": "Bottom right",
                "es": "Inferior derecha",
                "fr": "En bas à droite",
                "it": "In basso a destra",
                "ja": "右下",
                "pt-BR": "Inferior direito"
              },
              "value": "right bottom"
            }
          ]
        },
        {
          "type": "text",
          "id": "slide_title",
          "label": {
            "de": "Titel",
            "en": "Heading",
            "es": "Título",
            "fr": "En-tête",
            "it": "Heading",
            "ja": "見出し",
            "pt-BR": "Título"
          },
          "default": {
            "de": "Foto-Slide",
            "en": "Image slide",
            "es": "Diapositiva de imagen",
            "fr": "Diapositive (image)",
            "it": "Slide immagine",
            "ja": "画像スライド",
            "pt-BR": "Slide de imagem"
          }
        },
        {
          "type": "text",
          "id": "subheading",
          "label": {
            "de": "Untertitel",
            "en": "Subheading",
            "es": "Subtítulo",
            "fr": "Sous-titre",
            "it": "Sottotitolo",
            "ja": "小見出し",
            "pt-BR": "Subtítulo"
          },
          "default": {
            "de": "Erzählen Sie Ihre Geschichte mit Fotos",
            "en": "Tell your brand's story through images",
            "es": "Cuenta la historia de tu marca a través de videos e imágenes",
            "fr": "Racontez votre histoire avec des images",
            "it": "Racconta la storia del tuo brand con video e immagini",
            "ja": "あなたのブランドのストーリーをビデオや画像で伝える",
            "pt-BR": "Conte a história da sua marca com vídeos e imagens"
          }
        },
        {
          "type": "text",
          "id": "button_label",
          "label": {
            "de": "Button-Name",
            "en": "Button label",
            "es": "Etiqueta de botón",
            "fr": "Texte du bouton",
            "it": "Etichetta pulsante",
            "ja": "ボタンラベル",
            "pt-BR": "Etiqueta do botão"
          }
        },
        {
          "type": "url",
          "id": "button_link",
          "label": {
            "de": "Button-Link",
            "en": "Button link",
            "es": "Enlace de la diapositiva",
            "fr": "Lien du bouton",
            "it": "Link slide",
            "ja": "スライドリンク",
            "pt-BR": "Link do slide"
          }
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "de": "Slideshow",
        "en": "Slideshow",
        "es": "Diapositivas",
        "fr": "Diaporama",
        "it": "Presentazione",
        "ja": "スライドショー",
        "pt-BR": "Apresentação de slides"
      },
      "category": {
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fr": "Image",
        "it": "Immagine",
        "ja": "画像",
        "pt-BR": "Imagem"
      },
      "settings": {
        "autorotate": false,
        "autorotate_speed": 5
      },
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
