{  
  "id": "{{section.id}}",
  "type": "testimonial-slideshow",
  "settings": {
    "title": "{{section.settings.title}}"
  },
  "blocks": [
    {% for block in section.blocks %}
    {
      "link": "{{ block.settings.link }}",
      "title": "{{ block.settings.title }}",
      "author": "{{ block.settings.author }}",
      "image":  { {% include 'json-image', image:  block.settings.image, crop: 'center', size: '300x300' %} }
    }
    {% unless forloop.last %},{% endunless %}{% endfor %}
  ]
},

{% schema %}
{
  "name": {
    "en": "Testimonial list"
  },
  "class": "index-section",
  "max_blocks": 20,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": {
        "en": "Heading"
      },
      "default": {
        "en": "Testimonial list"
      }
    }
  ],
  "blocks": [
    {
      "type": "testimonial",
      "name": {
        "en": "Testimonial"
      },
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "en": "Title"
          }
        },
        {
          "type": "text",
          "id": "author",
          "label": {
            "en": "Author"
          }
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Testimonial list"
      },
      "category": {
        "en": "Testimonial"
      },
      "blocks": [
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        }
      ]
    }
  ]
}
{% endschema %}