{
  "id": "{{section.id}}",
  "settings": {{section.settings | json}},
  "imageLeft": { {% include 'json-image', image:  section.settings.imageLeft, crop: 'center', size: '1x1' %} },
  "imageRight": { {% include 'json-image', image:  section.settings.imageRight, crop: 'center', size: '1x1' %} },
  "type": "twocolumn-hero"
},

{% schema %}
{
  "name": { 
    "en": "Hero Two Column"
  },
  "class": "index-section index-section--flush",
  "settings": [
    {
      "type": "checkbox",
      "id": "enabled",
          "label": {
              "en": "Enabled"
          },
          "default": true
      },
    {
      "type": "image_picker",
      "id": "imageLeft",
      "label": { 
        "en": "Image"
      }
    },
    {
      "type": "select",
        "id": "alignmentLeft",
        "label": {
          "en": "Text alignment"
        },
        "default": "center",
        "options": [{
            "value": "left",
            "label": {
              "en": "Left"
            }
          },
          {
            "value": "center",
            "label": {
              "en": "Center"
            }
          },
          {
            "value": "right",
            "label": {
              "en": "Right"
            }
        }
      ]
    },
    {
      "type": "text",
      "id": "titleLeft",
      "label": { 
        "en": "Heading"
      },
      "default": { 
        "en": "Image with text overlay"
      }
    },
    {
      "type": "text",
      "id": "linkLeft",
      "label": {
        "en": "Left block link"
      },
      "default": {
        "en": "pages/page-one"
      }
    },
    {
      "type": "image_picker",
      "id": "imageRight",
      "label": { 
        "en": "Image"
      }
    },
    {
      "type": "select",
        "id": "alignmentRight",
        "label": {
          "en": "Text alignment"
        },
        "default": "center",
        "options": [{
            "value": "left",
            "label": {
              "en": "Left"
            }
          },
          {
            "value": "center",
            "label": {
              "en": "Center"
            }
          },
          {
            "value": "right",
            "label": {
              "en": "Right"
            }
        }
      ]
    },
    {
      "type": "text",
      "id": "titleRight",
      "label": { 
        "en": "Heading"
      },
      "default": { 
        "en": "Image with text overlay"
      }
    },
    {
      "type": "text",
      "id": "linkRight",
      "label": {
        "en": "Right block link"
      },
      "default": {
        "en": "collections/category-two"
      }
    }
  ],
  "presets": [
    {
      "name": { 
        "en": "Two Column Hero"
      },
      "category": {
        "en": "Image"
      }
    }
  ]
}
{% endschema %}
