{  
  "id": "{{section.id}}",
  "type": "usps",
  "settings": {{section.settings | json }},
  "blocks": [
    {% for block in section.blocks %}
    {
      "link": "{{ block.settings.link }}",
      "title": "{{ block.settings.title }}",
      "content": "{{ block.settings.content }}",
      "image": {  {% include 'json-image', image: block.settings.image, crop: 'center', size: '300x300' %} }
    }
    {% unless forloop.last %},{% endunless %}{% endfor %}
  ]
},

{% schema %}
{
  "name": {
    "en": "USPs"
  },
  "class": "index-section",
  "max_blocks": 4,
  "settings": [
               {
        "type": "checkbox",
        "id": "enabled",
            "label": {
                "en": "Enabled"
            },
        "default": true
    },
    {
      "type": "text",
      "id": "title",
      "label": {
        "en": "Heading"
      },
      "default": {
        "en": "Icon list"
      }
    }
  ],
  "blocks": [
    {
      "type": "usps",
      "name": {
        "en": "USP"
      },
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": {
            "en": "Image"
          }
        },
        {
          "type": "text",
          "id": "title",
          "label": {
            "en": "Title"
          }
        },
        {
          "type": "text",
          "id": "content",
          "label": {
            "en": "Content"
          }
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "USPs"
      },
      "category": {
        "en": "Image"
      },
      "blocks": [
        {
          "type": "usps"
        },
        {
          "type": "usps"
        },
        {
          "type": "usps"
        }
      ]
    }
  ]
}
{% endschema %}