{  
  "id": "{{section.id}}",
  "type": "video",
  "settings": {{ section.settings | json }}
},

{% schema %}
{
  "name": {
    "en": "Video"
  },
  "class": "index-section",
  "settings": [
         {
        "type": "checkbox",
        "id": "enabled",
            "label": {
                "en": "Enabled"
            },
        "default": true
    },
        {
          "type": "text",
          "id": "youtube",
          "label": {
            "en": "Video URL (youtube)"
          }
        },
        {
          "type": "text",
          "id": "videoMp4",
          "label": {
            "en": "Video URL MP4 (CDN)"
          }
        },
                {
          "type": "text",
          "id": "videoWebm",
          "label": {
            "en": "Video URL WebM (CDN)"
          }
        },
        {
          "type": "checkbox",
          "id": "autoplay",
          "default": false,
          "label": {
            "en": "Video Autoplay"
          }
        },
        {
          "type": "checkbox",
          "id": "mute",
          "default": false,
          "label": {
            "en": "Video Mute"
          }
        },
        {
          "type": "checkbox",
          "id": "controls",
          "default": false,
          "label": {
            "en": "Video Controls"
          }
        }
  ],
  "presets": [
    {
      "name": {
        "en": "Video"
      },
      "category": {
        "en": "Text"
      }
    }
  ]
}
{% endschema %}