<div class="container my-5">
  <ng-container *ngIf="block.settings.title">
    <div class="row" [ngClass]="{'mb-3': !block.settings.title }">
      <div class="col">
        <h3 class="text-center">
          {{ block.settings.title }}
        </h3>
      </div>
    </div>
  </ng-container>
  <div class="row pt-10 pb-0">
    <article class="col-6 col-md-3 cursor-pointer my-2 my-md-0" *ngFor="let block of block.blocks; let i = index"
      [ngClass]="{ visible: currentIndex === i }">
      <div class="d-flex justify-content-center">
        <ngxImg [sizeSelect]="'tiny'" (load)="loading = false" [image]="block.image"> </ngxImg>
      </div>
      <div class="d-block text-center mt-2 mt-md-4">
        <div>
          {{ block.title }}
        </div>
        <div class="font-small">
          {{ block.content }}
        </div>
      </div>
    </article>
  </div>
</div>
