<div class="container slideshow">
	<ngx-light-carousel [options]="options" [data]="block.blocks" class="carousel hero c-accent block-content-header">
		<section ngx-light-carousel-container class="content">
			<article class="cursor-pointer" ngx-light-carousel-item *ngFor="let block of block.blocks; let i = index">
				<ngxImg class="w-100 d-md-block d-none" [sizeSelect]="'slider'" [image]="block.image"> </ngxImg>
				<ngxImg class="w-100 d-md-none" [sizeSelect]="'medium'" [image]="block.image"> </ngxImg>
				<h2 class="mt-14 mt-lg-10">
					{{ block.title }}
				</h2>
				<a *ngIf="block.link" class="mt-2 btn btn-primary" href="{{ block.link }}">Shop now</a>
				<ng-template #infiniteContainer></ng-template>
			</article>

			<ng-template #carouselContent let-block let-i="index">
				<article class="item cursor-pointer" ngx-light-carousel-item [ngClass]="{ visible: currentIndex === i }">
					<ngxImg class="w-100 d-md-block d-none" [sizeSelect]="'slider'" [image]="block.image"> </ngxImg>
					<ngxImg class="w-100 d-md-none" [sizeSelect]="'medium'" [image]="block.image"> </ngxImg>
					<h2 class="mt-14 mt-lg-10">
						{{ block.title }}
					</h2>
					<a *ngIf="block.link" class="mt-2 btn btn-primary" href="{{ block.link }}">Shop now</a>
				</article>
			</ng-template>
		</section>

		<ng-template #carouselPrev>
			<div class="click-area">
				<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512" class="svg-inline--fa fa-caret-left fa-w-6 fa-3x">
					<path fill="currentColor" d="M192 127.338v257.324c0 17.818-21.543 26.741-34.142 14.142L29.196 270.142c-7.81-7.81-7.81-20.474 0-28.284l128.662-128.662c12.599-12.6 34.142-3.676 34.142 14.142z" class=""></path>
				</svg>
			</div>
		</ng-template>
		<ng-template #carouselNext>
			<div class="click-area">
				<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512" class="svg-inline--fa fa-caret-right fa-w-6 fa-3x">
					<path fill="currentColor" d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z" class=""></path>
				</svg>
			</div>
		</ng-template>

		<ng-template #carouselDot>
			<div class="ball bg-accent"></div>
		</ng-template>
	</ngx-light-carousel>
</div>
