<div class="search-wrapper">
	<svg (click)="showSearch()" width="14px" height="15px" viewBox="0 -1 14 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<g id="1.0-Global-/-Home" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
			<g id="1.0-Global-/-🖥-/-Home" transform="translate(-24.000000, -18.000000)" fill="#000000" fill-rule="nonzero">
				<g id="global-/-🖥-/-navigation-/-resting-global-/-desktop-/-navigation-/-resting">
					<g id="Middle" transform="translate(24.000000, 18.000000)">
						<g id="LHS-Icons">
							<path
								d="M6,0 C9.3137085,0 12,2.6862915 12,6 C12,7.7452005 11.2548989,9.31637332 10.0654588,10.4127565 L14,14.3475865 L13.3475865,15 L9.33461577,10.9887753 C8.38096284,11.627485 7.23398419,12 6,12 C2.6862915,12 0,9.3137085 0,6 C0,2.6862915 2.6862915,0 6,0 Z M6,0.979591837 C3.22730513,0.979591837 0.979591837,3.22730513 0.979591837,6 C0.979591837,8.77269487 3.22730513,11.0204082 6,11.0204082 C8.77269487,11.0204082 11.0204082,8.77269487 11.0204082,6 C11.0204082,3.22730513 8.77269487,0.979591837 6,0.979591837 Z"
								id="search-icon"
							></path>
						</g>
					</g>
				</g>
			</g>
		</g>
	</svg>
	<input [@openClose]="searchOpen ? 'open' : 'closed'" (keyup)="search()" type="text" #searchInput [(ngModel)]="searchString" />
</div>
