.remove {
  min-width: auto;
  padding: 0;
  color: #ababab;
}

:host {
  h3 {
    font-size: 18px;
  }

  .hover-off {
    display: block !important;
  }

  .hover-on {
    display: none !important;
  }

  @media screen and (min-width: 991px) {
    &:hover {
      .hover-off {
        display: none !important;
      }

      .hover-on {
        display: block !important;
      }
    }
  }
}

.price {
  font-size: 12px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.33px;
  color: #000000;
}

.btn-secondary {
  background: #fff;
}

.hover-on {
  position: relative;

  .top {
    position: absolute;
    top: 8px;
    left: 8px;
    right: 8px;

    .price {
      background: #000;
      padding: 0 13px;
      color: #fff;
      font-size: 10px;
      line-height: 1.8;
    }
  }

  .bottom {
    position: absolute;
    bottom: 8px;
    right: 8px;
    left: 8px;

    &>a {
      width: 48.5%;
      text-align: center;
    }
  }
}
