<div class="relative actionable">
	<ngxImg class="w-100" [routerLink]="[searchItem.url]" [sizeSelect]="'thumb'" [src]="searchItem.image"> </ngxImg>
</div>

<div class="searchItem-content pt-1 pt-md-2 mb-3">
	<a [routerLink]="[searchItem.url]">
		<span *ngIf="searchItem.subtitle">{{ searchItem.subtitle }}</span>
		<h3 class="title mb-1">
			{{ searchItem.title }} <br />
			{{ searchItem.price | currency }}
		</h3>
	</a>
</div>
<addtocart *ngIf="searchItem" class="d-flex  d-md-none mt-3" [product]="searchItem" [variant]="searchItem.variants[0]" [quantity]="1"> </addtocart>
