<div *ngIf="lightbox && images" id="lightbox">
	<span class="closer" (click)="hideLightbox()"></span>
	{{ currentIndex }}
	<ngx-light-carousel #carou [options]="options" [data]="images" [current]="currentIndex" class="lightbox-carousel d-block">
		<section ngx-light-carousel-container class="content h-100">
			<article class="cursor-pointer" ngx-light-carousel-item *ngFor="let image of images; let i = index">
				<ngxImg class="d-table w-100" (load)="visible = false; imagesLoading = false" [image]="image" [crop]="false" [sizeSelect]="'medium'"> </ngxImg>
			</article>
		</section>
		<ng-template #carouselPrev>
			<div class="click-area"></div>
		</ng-template>
		<ng-template #carouselNext>
			<div class="click-area"></div>
		</ng-template>
		<ng-template #carouselDot *ngIf="showDots" let-model>
			<div class="ball bg-accent"></div>
		</ng-template>
	</ngx-light-carousel>
</div>

<div class="overlay" *ngIf="lightbox" (click)="hideLightbox()"></div>
