#lightbox {
  position: absolute;
  top: 0;
  left: 10%;
  right: 10%;
  width: 80%;
  height: 100vh;
  z-index: 1009;
  background: #fff;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0px;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
  }

  /* Optional: show position indicator in red */
  &::-webkit-scrollbar-thumb {
    background: #ff0000;
  }

}


:host {
  overflow-y: scroll;
  overflow-x: hidden;
}

.closer {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 9999;
}

.overlay {
  z-index: 1006;
}

@media screen and (max-width: 991px) {
  #lightbox {
    position: absolute;
    top: 0;
    left: 0%;
    right: 0%;
    width: 100%;
    height: 100vh;
    z-index: 1009;
    background: #fff;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 0px;
      /* Remove scrollbar space */
      background: transparent;
      /* Optional: just make scrollbar invisible */
    }

    /* Optional: show position indicator in red */
    &::-webkit-scrollbar-thumb {
      background: #ff0000;
    }
  }

  :host {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .closer {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 9999;
  }

  .overlay {
    z-index: 1006;
  }
}
