<div class="container">
  <div class="activate-wrapper d-flex flex-column align-items-center justify-content-center">
    <h3>Activate account</h3>
    <p class="mb-4">Create your password to activate your account.</p>
    <form class="activate-form needs-validation" [ngClass]="{ 'was-validated': !loginForm.form.valid && loginForm.form.dirty }" #loginForm="ngForm">
      <div class="input-group">
        <input required class="input form-control" minlength="8" name="password" id="Password" type="password" placeholder="Enter password" #password="ngModel" [(ngModel)]="customer.password" aria-required="true" />
        <div *ngIf="password.invalid && password.dirty" class="invalid-feedback">
          <div *ngIf="password.errors.required" class="form__message">
            This field is required.
          </div>
          <div *ngIf="password.errors.minlength" class="form__message">
            Password must be at least 8 characters long.
          </div>
        </div>
      </div>
      <div class="text-center">
        <button [disabled]="!loginForm.form.valid || !loginForm.form.dirty" class="btn btn-primary" (click)="submit()">Activate now</button>
      </div>
    </form>
  </div>
</div>
