.activate-wrapper {
  padding: 118px 0 170px;

  @media screen and (min-width: 768px) {
    min-height: 80vh;
  }
}

.activate-form {
  width: 100%;
  @media screen and (min-width: 768px) {
    width: 380px;
  }
}

.btn {
  width: 100%;

  @media screen and (min-width: 576px) {
    width: auto;
    min-width: 132px;
    padding: 11px 20px;
  }
}

.input-group {
  margin-bottom: 18px;
}
