<div class="container address">
	<div *ngIf="!loading">
		<button (click)="createAddress()" *ngIf="!editAddress" class="btn btn-sm btn-primary m-cs-address">Add new Address</button>
	</div>
	<div *ngIf="!loading && editAddress" class="row">
		<div class="col-12">
			<form class="address-form needs-validation" #addAddressForm="ngForm">
				<h4 class="mb-3">{{ newAddress ? 'Add a new' : 'Edit' }} address</h4>
				<div class="form-group d-flex">
					<div class="col-6 pl-0" [ngClass]="{ 'was-validated': !firstName.valid && firstName.dirty }">
						<input
							required
							class="input form-control"
							minlength="2"
							id="AddressFirstName"
							type="text"
							placeholder="First name"
							#firstName="ngModel"
							[(ngModel)]="editAddress.firstName"
							autocomplete="given-name"
							name="firstName"
							(change)="editAddress.firstName = editAddress.firstName.trim()"
						/>
						<div *ngIf="firstName.invalid && firstName.dirty" class="invalid-feedback">
							<div *ngIf="firstName.errors.required" class="form__message">
								This field is required.
							</div>
							<div *ngIf="firstName.errors.minlength" class="form__message">
								Last name must be at least 2 characters long.
							</div>
						</div>
					</div>
					<div class="col-6 pr-0" [ngClass]="{ 'was-validated': !lastName.valid && lastName.dirty }">
						<input
							required
							class="input form-control"
							minlength="2"
							id="AddressLastName"
							type="text"
							placeholder="Last name"
							#lastName="ngModel"
							[(ngModel)]="editAddress.lastName"
							autocomplete="family-name"
							name="lastName"
							(change)="editAddress.lastName = editAddress.lastName.trim()"
						/>
						<div *ngIf="lastName.invalid && lastName.dirty" class="invalid-feedback">
							<div *ngIf="lastName.errors.required" class="form__message">
								This field is required.
							</div>
							<div *ngIf="lastName.errors.minlength" class="form__message">
								Last name must be at least 2 characters long.
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<input #company="ngModel" [(ngModel)]="editAddress.company" autocomplete="organization" class="input form-control" id="AddressCompany" name="company" placeholder="Company" type="text" />
				</div>
				<div class="form-group" [ngClass]="{ 'was-validated': !address1.valid && address1.dirty }">
					<input required class="input form-control" minlength="2" id="AddressAddress1" type="text" #address1="ngModel" placeholder="Address" [(ngModel)]="editAddress.address1" autocomplete="street-address address-line1" name="address1" />
					<div *ngIf="address1.invalid && address1.dirty" class="invalid-feedback">
						<div *ngIf="address1.errors.required" class="form__message">
							This field is required.
						</div>
					</div>
				</div>
				<div class="form-group" [ngClass]="{ 'was-validated': !city.valid && city.dirty }">
					<input required class="input form-control" minlength="2" id="AddressCity" type="text" #city="ngModel" placeholder="City" [(ngModel)]="editAddress.city" autocomplete="address-level2" name="city" />
					<div *ngIf="city.invalid && city.dirty" class="invalid-feedback">
						<div *ngIf="city.errors.required" class="form__message">
							This field is required.
						</div>
					</div>
				</div>
				<div class="form-group">
					<select class="input form-control" (ngModelChange)="selectCountryEvent($event)" [(ngModel)]="editAddress.country" #country="ngModel" name="country" required>
						<option class="form-control" disabled selected hidden [ngValue]="none">Country</option>
						<option class="form-control" *ngFor="let country of countries" [value]="country.value">{{ country.value }}</option>
					</select>
				</div>
				<ng-container *ngIf="editAddress.country && provinces" >
					<div class="form-group">
						<select class="input form-control" [(ngModel)]="editAddress.province" #province="ngModel" name="province" required>
							<option class="form-control" disabled selected hidden [ngValue]="none">State or Province</option>
							<option class="form-control" *ngFor="let province of provinces" [value]="province">{{ province }}</option>
						</select>
					</div>
				</ng-container>
				<div class="form-group">
					<div [ngClass]="{ 'was-validated': !phone.valid && phone.dirty }">
						<input
							required
							class="input form-control"
							placeholder="Phone"
							#phone="ngModel"
							pattern="[0-9 ]*"
							[(ngModel)]="editAddress.phone"
							autocomplete="phone"
							id="AddressPhone"
							type="tel"
							name="phone"
						/>
						<div *ngIf="phone.invalid && phone.dirty" class="invalid-feedback">
							<div *ngIf="phone.errors.required" class="form__message">
								This field is required.
							</div>
							<div *ngIf="phone.errors.pattern" class="form__message">
								Please enter a valid phone number.
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div [ngClass]="{ 'was-validated': !zip.valid && zip.dirty }">
						<input
							required
							class="input form-control"
							type="text"
							placeholder="Postcode"
							#zip="ngModel"
							pattern="[a-zA-Z0-9 ]*"
							[(ngModel)]="editAddress.zip"
							autocapitalize="characters"
							autocomplete="postal-code"
							id="AddressZip"
							name="zip"
						/>
						<div *ngIf="zip.invalid && zip.dirty" class="invalid-feedback">
							<div *ngIf="zip.errors.required" class="form__message">
								This field is required.
							</div>
							<div *ngIf="zip.errors.pattern" class="form__message">
								Please enter a valid postcode number.
							</div>
						</div>
					</div>
				</div>
				<div class="form-check mb-3">
					<input #address_default_address="ngModel" [(ngModel)]="default" class="checkbox form-check-input" id="address_default_address" name="address_default_address" type="checkbox"/>
					<label for="address_default_address" class="form-check-label checkbox-label">Set as default address</label>
				  </div>
				<div class="row">
					<div class="col-12 d-flex flex-column d-md-block">
						<button [disabled]="!addAddressForm.form.valid || !addAddressForm.form.dirty" (click)="updateAddress(editAddress)" class="btn btn-sm btn-primary" type="submit" value="Update Address">{{ newAddress ? 'Add' : 'Update' }} Address</button>
						<button (click)="cancel()" class="btn btn-sm btn-secondary" type="submit">Cancel</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<ng-container>
		<div *ngIf="!loading && customer && customer.defaultAddress" class="address-info row mb-3 mb-lg-4">
			<div class="col-12">
				<h4 class="mb-1">Default Address</h4>
				<span class="text-black-2">
					{{ customer.defaultAddress.firstName }}
					{{ customer.defaultAddress.lastName }}
					<br />
				</span>
				<span *ngFor="let line of customer.defaultAddress.formatted" class="text-black-2"> {{ line }}<br /> </span>
				<a (click)="selectAddress(customer.defaultAddress)" class="text-underline d-inline-block mt-1">Edit</a>
			</div>
		</div>
		<div *ngIf="!loading && addresses" class="address-info row mt-1 mb-3 mb-lg-4">
			<div class="col-12">
				<h4 class="mb-1">Addresses</h4>
				<div *ngIf="addresses.length == 0" class="mt-3">
					<span>No addresses yet!</span>
				</div>
			</div>
			<div *ngFor="let address of addresses" class="col-12 address-container">
				<span class="text-black-2">
					{{ address.firstName }}
					{{ address.lastName }}
					<br />
				</span>
				<span *ngFor="let line of address.formatted"> {{ line }}<br /> </span>
				<a (click)="selectAddress(address)" class="text-underline d-inline-block mt-1">Edit</a>
				<a *ngIf="addresses.length > 1" (click)="deleteAddress(address)" class="text-underline d-inline-block ml-2 mt-1">Delete</a>
			</div>
		</div>
	</ng-container>
</div>
