:host {
  width: 100%;
}

.countryOption {
  color: black !important;
}

select {
  padding-left: 0.5rem !important;
}

.address {
  padding-top: 20px;

  @media screen and (min-width: 992px) {
    padding-top: 30px;
  }
}

.address-container {
  @media screen and (max-width: 768px) {
    &:last-child {
      margin-bottom: 42px;
    }
  }
}


.btn {
  width: 100%;
  margin: 0 auto;
  padding: 11px 23px;

  @media screen and (min-width: 768px) {
    width: auto;
  }
}

.btn-primary {
  margin-bottom: 6px;

  @media screen and (min-width: 768px) {
    min-width: 140px;
    margin: 0 12px 0 0;
  }
}

.address-info {
  margin-top: 10px;
  line-height: 16px;

  & .address-container {
    margin-bottom: 16px;
  }
}

.col-lg-7 {
  @media screen and (min-width: 992px) {
    flex: 0 0 60%;
    max-width: 60%;
  }
}

.m-cs-address {
  margin-bottom: 20px;
  font-weight: 500;
}

.text-underline {
  text-decoration: underline;

  &:hover {
    color: #777;
    text-decoration: underline;
  }
}

.account-loader {
  margin: auto;
  justify-content: center;
  position: fixed;
  top: 40%;
  left: 47.5%;
  transform: translate(50%, 50%);
}
