#drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 420px;
  z-index: 1009;
  height: 100%;
  background-color: #fff;
  overflow-y: scroll;
}

.overlay {
  background: rgba(255, 255, 255, 0.6);
}

.closer {
  transform: scale(0.5);
}

ul {
  * {
    list-style: none;
  }
}

hr {
  border-top-color: #fff;
}
