<div class="overlay" *ngIf="drawer" (click)="hideDrawer()"></div>

<div id="drawer" class="d-flex flex-column" *ngIf="drawer">
  <div class="closer d-block ml-auto p-4" (click)="hideDrawer()"></div>
  <div>
    <div class="mb-4">
      <h1 class="text-center">{{ drawer.title }}</h1>
    </div>
  </div>
  <div class="px-3 pt-6" [innerHTML]="drawer.content"></div>
</div>
