<div class="collection-list container-fluid py-5">
	<div class="container mw-100">
		<div class="row mb-5">
			<div class="col">
				<h2 class="text-center">{{ block.settings.title }}</h2>
			</div>
		</div>
		<div class="row">
			<article class="col-12 col-md-2 actionable" [routerLink]="[block.link]" routerLinkActive="router-link-active" *ngFor="let block of block.blocks; let i = index" [ngClass]="{ visible: currentIndex === i }">
				<ngxImg class="w-100 d-block" (load)="loading = false" [sizeSelect]="'medium'" [image]="block.image"> </ngxImg>
				<div class="mt-5">
					<h3 class="text-center">
						{{ block.title }}
					</h3>
					<div class="content text-center">
						{{ block.content }}
					</div>
				</div>
			</article>
		</div>
	</div>
</div>
