<div class="container-fluid hero relative px-0" *ngIf="block">
	<div class="row">
		<div class="col-12 px-0 col-md-6 actionable" [routerLink]="block.settings.linkLeft">
			<ngxImg class="w-100" [sizeSelect]="'medium'" [image]="block.imageLeft"> </ngxImg>
			<div class="absolute d-flex flex-column text-white justify-content-center" [ngClass]="{ 'text-center': block.settings.alignmentLeft == 'center', 'text-right': block.settings.alignmentLeft == 'right', 'text-left': block.settings.alignmentLeft == 'left' }">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<h1 class="title">{{ block.settings.titleLeft }}</h1>
							<div class="mt-5">
								<div class="font-accent teaser" [innerHTML]="block.settings.text"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 px-0 col-md-6 actionable" [routerLink]="block.settings.linkRight">
			<ngxImg class="w-100" [sizeSelect]="'medium'" [image]="block.imageRight"> </ngxImg>
			<div class="absolute d-flex flex-column justify-content-center text-white" [ngClass]="{ 'text-center': block.settings.alignmentRight == 'center', 'text-right': block.settings.alignmentRight == 'right', 'text-left': block.settings.alignmentRight == 'left' }">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<h1 class="title">{{ block.settings.titleRight }}</h1>
							<div class="mt-5">
								<div class="font-accent teaser" [innerHTML]="block.settings.text"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
