{
  "id": "{{section.id}}",
  "settings": {{section.settings | json}},
  "imageLeft": { {% include 'json-image', image:  section.settings.imageLeft, crop: 'center', size: '1x1' %} },
  "imageRight": { {% include 'json-image', image:  section.settings.imageRight, crop: 'center', size: '1x1' %} },
  "type": "twocolumn-hero"
},

{% schema %}
{
  "name": { 
    "en": "Hero Two Column"
  },
  "class": "index-section index-section--flush",
  "settings": [
    {
      "type": "image_picker",
      "id": "imageLeft",
      "label": { 
        "en": "Image"
      }
    },

    {
      "type": "text",
      "id": "titleLeft",
      "label": { 
        "en": "Heading"
      },
      "default": { 
        "en": "Image with text overlay"
      }
    },
        {
      "type": "image_picker",
      "id": "imageRight",
      "label": { 
        "en": "Image"
      }
    },
    {
      "type": "text",
      "id": "titleRight",
      "label": { 
        "en": "Heading"
      },
      "default": { 
        "en": "Image with text overlay"
      }
    },
    {
      "type": "richtext",
      "id": "text",
      "label": {
        "en": "Text"
      },
      "default": { 
        "en": "<p>Use overlay text to give your customers insight into your brand. Select imagery and text that relates to your style and story.</p>"
      }
    }, 
    {
      "type": "select",
      "id": "text_size",
      "label": {
        "en": "Text size"
      },
      "default": "medium",
      "options": [
        {
          "label": {
            "en": "Medium"
          },
          "value": "medium"
        },
        {
          "label": {
            "en": "Large"
          },
          "value": "large"
        }
      ]
    }, 
    {
      "type": "text",
      "id": "button_label",
      "label": {
        "en": "Button label"
      }
    },
    {
      "type": "url",
      "id": "button_link",
      "label": {
        "en": "Button link"
      }
    }
  ],
  "presets": [
    {
      "name": { 
        "en": "Two Column Hero"
      },
      "category": {
        "en": "Image"
      }
    }
  ]
}   
{% endschema %}
