<div class="page mh-80" *ngIf="page">
	<div class="landing">
		<block-hero class="d-block" [block]="page.blocksHero"></block-hero>
		<block-link-list class="d-block mb-3" [block]="page.blocksLinkList"></block-link-list>
		<block-collection class="d-block" [block]="page.blocksCollection"></block-collection>
		<block-content-hero class="d-block" [block]="page.blocksContentHero"></block-content-hero>
		<instagram [block]="page.blockInstagram"></instagram>
	</div>
</div>
