<div class="row mh-40 mx-0">
  <ng-container *ngIf="temporaryOrder">
    <div class="col-12 d-flex justify-content-between w-100 order-details-title">
      <div class="w-40">
        <h4 class="mb-0">Order #{{temporaryOrder.orderNumber}}</h4>
        <p>July 12, 2019 at 6:03pm</p> <!-- implement -->
      </div>
      <div class="w-60 text-right order-submenu">
        <a class="order-return" [routerLink]="['/']">Return this order</a> <!--this does nothing-->
        <i class="p order-track">Track <a [routerLink]="['/']">WN2454364</a></i><!--this does nothing-->
      </div>
    </div>

    <div class="col-12 order-details">
      <table class="table responsive-table w-100 order-details-table">
        <thead>
          <tr>
            <th class="p" scope="col">Product</th>
            <th class="p order-details-sku" scope="col">Sku</th>
            <th class="p" scope="col">Price</th>
            <th class="p text-center" scope="col">Quantity</th>
            <th class="p text-right" scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr class="responsive-table-row" *ngFor="let line of temporaryOrder.lineItems.edges">
            <td class="p" data-label="Product" scope="row">
              <a class="text-underline w-100 order title" [routerLink]="['/']">{{line.node.title}} - {{ line.node.variant.title }}</a>
            </td>
            <td class="p order-details-sku" data-label="Sku">{{ line.node.variant.sku }}</td>
            <td class="p" data-label="Price">{{line.node.variant.price | currency}}</td>
            <td class="p text-center" data-label="Quantity">{{ line.node.quantity }}</td>
            <td class="p text-right" data-label="Total">{{ (line.node.variant.price * line.node.quantity)  | currency }}</td> <!-- toFixed() rounds the total to 2 decimal places -->
          </tr>
        </tbody>
        <tfoot class="order-details-footer">
          <tr class="order-details-footer-mobile">
            <td colspan="5">
              <div class="d-flex flex-column justify-content-between w-100 order-details-footer">
                <div class="d-flex justify-content-between order-details-footer-item">
                  <p>Subtotal</p>
                  <p>{{temporaryOrder.subtotalPrice | currency}}</p>
                </div>
                <div class="d-flex justify-content-between order-details-footer-item">
                  <p>GST</p>
                  <p>{{temporaryOrder.totalTax | currency}}</p>
                </div>
                <div class="d-flex justify-content-between order-details-footer-item">
                  <p>Shipping</p>
                  <p class="text-uppercase">Free</p>
                </div>
                <div class="d-flex justify-content-between order-details-footer-item order-grand-total">
                  <h4>Grand Total</h4>
                  <h4>{{total | currency}}</h4>
                </div>
              </div>
            </td>
          </tr>
          <tr class="order-details-footer-desktop">
            <td></td>
            <td colspan="4">
              <div class="d-flex flex-column justify-content-between w-100 order-details-footer order-details-footer-mobile">
                <div class="d-flex justify-content-between order-details-footer-item">
                  <p>Subtotal</p>
                  <p>{{temporaryOrder.subtotalPrice | currency}}</p>
                </div>
                <div class="d-flex justify-content-between order-details-footer-item">
                  <p>GST</p>
                  <p>{{temporaryOrder.totalTax | currency}}</p>
                </div>
                <div class="d-flex justify-content-between order-details-footer-item">
                  <p>Shipping</p>
                  <p class="text-uppercase">{{ temporaryOrder.shipping ?  (temporaryOrder.shipping | currency) : 'Free'}} </p>
                </div>
                <div class="d-flex justify-content-between order-details-footer-item order-grand-total">
                  <h4>Grand Total</h4>
                  <h4>{{total | currency}}</h4>
                </div>
              </div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>

    <div class="col-md-7 d-flex justify-content-start order-shipping-address">
      <div  *ngIf="billingAddress" class="user-info__col w-50">
        <h4 class="order-address-title">Billing Address</h4>
        <p>Payment Status: Paid</p> <!-- implement -->
        <h4 class="p order-customers-name">{{temporaryOrder.shippingAddress.name}}</h4>
        <div>
          <p>{{temporaryOrder.billingAddress.company}}</p>
          <p>{{temporaryOrder.billingAddress.address1}}</p>
          <p>{{temporaryOrder.billingAddress.city}}, {{temporaryOrder.billingAddress.provinceCode}},  {{temporaryOrder.billingAddress.zip}}</p>
          <p>{{temporaryOrder.shippingAddress.country}}</p>
          <p class="order-customers-phone">{{temporaryOrder.shippingAddress.phone}}</p>
        </div>
      </div>
      <div class="user-info__col w-50">
        <h4 class="order-address-title">Shipping Address</h4>
        <p>Fulfillment Status: Shipped</p> <!-- implement -->
        <h4 class="p order-customers-name">{{temporaryOrder.shippingAddress.name}}</h4>
        <div>
          <p>{{temporaryOrder.shippingAddress.company}}</p>
          <p>{{temporaryOrder.shippingAddress.address1}}</p>
          <p>{{temporaryOrder.shippingAddress.city}}, {{temporaryOrder.shippingAddress.provinceCode}},  {{temporaryOrder.shippingAddress.zip}}</p>
          <p>{{temporaryOrder.shippingAddress.country}}</p>
          <p class="order-customers-phone">{{temporaryOrder.shippingAddress.phone}}</p>
        </div>
      </div>
    </div>
  </ng-container>
  <div *ngIf="!temporaryOrder" class="row">
    <img [src]="loader" class="account-loader">
  </div>
</div>
