:host {
  width: 100%;
}

input,
textarea {
  border: solid 1px #000000;
  background-color: #ffffff;
  padding: 16px 16px !important;
  font-size: 11px;
  line-height: 1.45;

  &::placeholder {
    font-size: 11px;

    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #000;
  }
}

textarea {
  min-height: 150px;
}

a {
  display: block;
  color: #000000;

  &:hover {
    color: #777777;
  }
}

p,
.p {
  margin-bottom: 0;
}

.text-underline {
  margin-top: 4px;

  @media screen and (min-width: 992px) {
    margin-top: 0;
  }
}

.recent-orders {
  margin-top: 12px;

  @media screen and (min-width: 992px) {
    margin-top: 30px;
  }
}

.recent-orders__wrapper {
  padding: 24px;
  border: 1px solid #E4E4E4;
}

.recent-orders__title {
  margin-bottom: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #E4E4E4;
}

.order-text {

  color: #000000;
}

.responsive-table-row {
  &:not(:first-child) {
    border-top: 1px solid #E4E4E4;

    @media screen and (min-width: 992px) {
      border: none;
    }
  }

  &:last-child {
    td {
      @media screen and (min-width: 992px) {
        padding-bottom: 14px;
      }

      &:last-child {
        padding-bottom: 0;

        @media screen and (min-width: 992px) {
          padding-bottom: 14px;
        }
      }
    }
  }

  td {
    &:first-child {
      padding-top: 18px;

      @media screen and (min-width: 992px) {
        padding-top: 14px;
      }
    }

    &:last-child {
      padding-bottom: 18px;

      @media screen and (min-width: 992px) {
        padding-bottom: 0;
      }
    }
  }

  tbody {
    padding-bottom: 24px;
  }
}

.table-striped tbody tr:nth-of-type(odd) {
  background: #fff;
}

.table {
  margin-bottom: 0;

  th {

    min-width: 120px;
    padding: 0.75rem 0;

    @media screen and (min-width: 992px) {
      &:first-child {
        padding-left: 12px;
      }

      &:last-child {
        padding-right: 12px;
      }
    }
  }

  td {
    vertical-align: middle;
  }
}

.table {
  thead th {
    border: none;
  }

  @media screen and (min-width: 992px) {
    border: 1px solid #e4e4e4;
  }
}

thead {
  display: none;

  @media screen and (min-width: 992px) {
    display: table-header-group;
    border-bottom: 1px solid #E4E4E4;
  }
}

td {
  display: flex;
  min-width: 60px;
  padding: 5px 0;
  border: none;

  @media screen and (min-width: 992px) {
    display: table-cell;
    padding: 14px 0 0;
  }


  &:first-child {
    padding-top: 0;

    @media screen and (min-width: 992px) {
      padding-left: 12px;
    }
  }

  &:last-child {
    padding-bottom: 0;
  }

  &:before {
    content: attr(data-label);
    display: block;
    min-width: 91px;
    margin-right: 108px;


    @media screen and (min-width: 992px) {
      display: none;
    }
  }

  &.view-detail {

    @media screen and (min-width: 992px) {
      text-align: left;
    }

    &:before {
      content: none;
    }

    a {}
  }
}

@media screen and (min-width: 992px) {
  .order-number {
    width: percentage(186/1177);
  }

  .order-date {
    width: percentage(174/1177);
  }

  .order-payment-status {
    width: percentage(174/1177);
  }

  .order-fulfillment-status {
    width: percentage(174/1177);
  }

  .order-tracking {
    width: percentage(174/1177);
  }

  .order-total {
    width: percentage(174/1177);
  }

  .view-detail {
    width: auto;
  }
}

.order-details-title {
  margin: 20px 0 9px;

  @media (min-width: 992px) {
    margin: 27px 0 11px;
  }
}

.order-return,
.order-track {
  display: inline-block;
}

.order-return {
  padding-right: 12px;
  text-decoration: underline;
  border-right: 1px solid #E4E4E4;
}

.order-track {
  padding-left: 12px;

  & a {
    display: inline-block;
    font-style: normal;
    text-decoration: underline;
  }
}

.order-submenu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.order-details-table {
  border: 1px solid #E4E4E4;

  & thead {
    display: table-header-group;
    border-bottom: 1px solid #E4E4E4;
  }

  & th {

    font-weight: 500;
  }

  & tbody {
    & .order {
      margin: 0;
      padding-bottom: 0;
      text-decoration: none;
    }

    & td {
      padding-top: 7px;
      padding-bottom: 7px;
    }

    &+tbody {
      border: none;
    }

    & tr {
      border: none;

      & td {
        border: none;
      }

      &:first-child {
        & td {
          padding-top: 13px;

          @media (min-width: 992px) {
            padding-top: 14px;
          }
        }
      }

      &:last-child {
        & td {
          padding-bottom: 13px;

          @media (min-width: 992px) {
            padding-bottom: 14px;
          }
        }
      }
    }
  }

  & tfoot {
    & td {
      @media (min-width: 992px) {
        padding: 4px 0 0;
      }
    }
  }

  & th {
    min-width: 0;
    padding: 12px 0 11px;

    &:first-child {
      width: 55%;
      margin-left: 68px;
      padding-left: 12px;

      @media (min-width: 992px) {
        min-width: 655px;
      }
    }

    &:last-child {
      padding-right: 12px;
    }
  }

  & td {
    display: table-cell;

    &:before {
      content: none;
    }

    &:first-child {
      padding-left: 12px;
    }

    &:last-child {
      padding-right: 12px;
    }
  }

  & .order-details-sku {
    @media (min-width: 992px) {
      min-width: 90px;
    }
  }
}

.order-details-footer {
  @media (min-width: 992px) {
    border-top: 1px solid #E4E4E4;
  }
}

.order-details-footer-item {
  & h4 {
    margin: 0;
  }
}

.order-details-footer-mobile {
  @media (min-width: 992px) {
    display: none;
    border: none;
  }

  & .order-details-footer {
    border-top: 1px solid #E4E4E4;
  }

  & .order-details-footer-item {
    padding: 3px 0;

    &:first-child {
      padding-top: 14px;
    }

    &:nth-child(3) {
      padding-bottom: 14px;
    }
  }

  & .order-grand-total {
    padding: 15px 0;
  }
}

.order-details-footer-desktop {
  display: none;

  @media (min-width: 992px) {
    display: table-row;
  }

  & .order-details-footer-item {
    padding: 2px 12px 2px 0;

    &:first-child {
      padding-top: 10px;
    }

    &:nth-child(3) {
      padding-bottom: 16px;
    }
  }

  & .order-grand-total {
    padding: 15px 12px 14px 0;
  }
}

.order-grand-total {
  font-size: 11px;
  border-top: 1px solid #E4E4E4;

  @media (min-width: 992px) {
    & td:not(:first-child) {
      border-top: 1px solid #E4E4E4;
    }
  }
}

.order-shipping-address {
  margin-top: 20px;

  @media (min-width: 992px) {
    margin: 30px 0;
  }

  & .user-info__col {
    &:last-child {
      padding-left: 18px;
    }
  }
}

.order-address-title {
  margin-bottom: 3px;
}

.order-customers-name {
  padding-top: 22px;
  padding-bottom: 2px;
  font-size: 11px;
}

.order-customers-phone {
  padding: 3px 0 9px;
}

.order-table {
  margin: 6px 0 24px;

  @media (min-width: 992px) {
    margin: 30px 0 272px;

    & .order-table__order {
      min-width: 127px;
    }

    & .order-table__total {
      min-width: 120px;
    }

    & .view-detail {
      min-width: 82px;
    }
  }
}

.account-loader {
  margin: auto;
  justify-content: center;
  position: fixed;
  top: 40%;
  left: 47.5%;
  transform: translate(50%, 50%);
}
