.modal>.container {
  z-index: 999;
  background: $white;
}

.modal--normal {
  background: rgba(255, 255, 255, 0.92);
}

.modal--active {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 1);
  pointer-events: all !important;
}

.modal-content {
  border: 1px solid theme-color('secondary');
  border-radius: 0;

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    opacity: 1;

    svg {
      width: 15px;
      height: 15px;
      fill: #444444;
    }
  }
}

.modal-dialog {
  background: #fff;

  max-height: 80vh;

  @media (min-width: 425px) {
    min-width: 408px;
    max-width: 100%;
  }
}
