<div class="row col-12 mx-0 mh-40" *ngIf="orders">
  <ng-container *ngIf="orders.length === 0">
    <span>You havent made an order yet!</span>
  </ng-container>


  <ng-container *ngIf="orders.length > 0">
    <table class="table table-striped responsive-table w-100 order-table">
      <thead>
        <tr>
          <th class="p order-table__order" scope="col">Order</th>
          <th class="p" scope="col">Date</th>
          <th class="p" scope="col">Fulfillment Status</th>
          <th class="p" scope="col">Payment Status</th>
          <th class="p" scope="col">Tracking Number</th>
          <th colspan="2" class="p" scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr class="responsive-table-row" *ngFor="let order of orders">
          <td class="p" data-label="Order" scope="row">
            <a class="text-underline w-100 order"
              [routerLink]="['/account/orders', order.node.id]">#{{ order.node.orderNumber }}</a>
          </td>
          <td class="p" data-label="Date">
            <time>{{ order.node.processedAt | date }}</time>
          </td>
          <td class="p" data-label="Fulfillment Status">
            {{ order.node.successfulFulfillments.length > 0 ? 'Fulfilled' : 'Unfulfilled' }}</td>
          <td class="p" data-label="Payment Status">Paid</td>
          <td class="p" data-label="Tracking Number">
            Tracking Number From Shippit TODO
            <!-- <ng-container *ngIf="showTrackingModal && selectedOrder == order.node.id">
              <div class="tracking-modal"> 
                <div class="tracking-modal-item">
                  <label for='tracking-number'>Tracking number</label>
                  <input name='tracking-number' value="{{selectedOrder}}">
                </div>
                <div class="tracking-modal-item">
                <label for='tracking-number'>Carrier</label>
                <select>
                  <option value="something"> Something</option>
                </select>
              </div>
              </div>
            </ng-container> -->
          </td>
          <td *ngIf="order.node?.totalPriceV2" class="p order-table__total" data-label="Total">
            {{ order.node.totalPriceV2.amount | currency }}</td>
          <td class="text-underline view-detail"><a [routerLink]="['/account/orders', order.node.id]">View details</a>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</div>
<!-- <div *ngIf="!orders" class="row">
  <img [src]="loader" class="account-loader">
</div> -->
