<div class="quantity-selector d-flex justify-content-center flex-column " *ngIf="quantity" [ngClass]="{ disabled: loading }">
	<div class="d-flex justify-content-between">
		<span class="action decrement" [ngClass]="{ disabled: quantity == 1 || variant.inventory_mangement === 'shopify' }" (click)="changeQtyDown()">-</span>
		<span class="quantity">{{ quantity }}</span>
		<span class="action increment" [ngClass]="{ disabled: quantity >= max && variant && variant.inventory_mangement === 'shopify' }" (click)="changeQtyUp()">+</span>
	</div>
</div>
