.quantity-selector {
	width: 100px;
	padding: 5px;
	text-align: center;
}

.action {
	user-select: none;
	font-size: 20px;
	padding: 0 5px;
	line-height: 20px;
	text-align: center;
	color: #000;
	font-weight: bold;
	cursor: pointer;
}

.quantity {
	pointer-events: none;
	font-size: 17px;
	line-height: 24px;
	font-weight: bold;
}

.disabled {
	opacity: 0.3 !important;
	pointer-events: none;
}
