<div #minicart *ngIf="showMiniCart && cart && cart.items" [@fade]="'in'" [ngClass]="{ empty: cart.items.length === 0 }" class="component-minicart sidebar col-12 d-flex flex-column" id="minicart">
	<div *ngIf="cart && cart.items && cart.items.length > 0" class="body component-minicart-content">
		<div *ngFor="let item of cart.items" class="d-flex component-minicart-items">
			<div class="item-image">
				<a [routerLink]="['item.url']" routerLinkActive="router-link-active">
					<ngxImg [cover]="true" [crop]="'center'" [sizeSelect]="'minicart'" [src]="item.image" class="w-100 "></ngxImg>
				</a>
			</div>
			<div class="item-content d-flex flex-column">
				<div class="item-name m-0">
					<a class="d-inline-block font-weight-bold" [routerLink]="['item.url']" routerLinkActive="router-link-active">{{ item.product_title }}</a>
					<span *ngIf="!item.total_discount" class="item-price float-right">{{ item.line_price / 100 | currency }}</span>
					<ng-container *ngIf="item.total_discount">
						<div class="float-right d-flex flex-column">
							<del class="item-price font-strikethrough">{{ item.original_line_price / 100 | currency }}</del>
							<span class="item-price">{{ item.line_price / 100 | currency }}</span>
						</div>
					</ng-container>
				</div>
				<div class="item-color ">
					<ng-container *ngFor="let variant of item.options_with_values">
						<span *ngIf="variant.name === 'Color' || variant.name === 'Colour'">{{ variant.value }}</span>
					</ng-container>
				</div>
				<div class="item-meta">
					<div *ngIf="item.variant_options[0] != 'Default Title'" class="item-variant">
						<div *ngFor="let variant of item.options_with_values">
							<ng-container *ngIf="variant.name !== 'Color' && variant.name !== 'Colour'">
								<span>{{ variant.name + ': ' + variant.value }}</span>
							</ng-container>
						</div>
					</div>
					<div class="item-quantity">
						<span class="">Qty: {{ item.quantity }}</span>
					</div>
				</div>
				<div (click)="removeItem(item)" class="item-remove d-inline-flex align-items-center mt-auto">
					<svg height="8" width="10" xmlns="http://www.w3.org/2000/svg">
						<path d="M9 0L1 8m0-8l8 8" fill-rule="evenodd" fill="none" stroke="#000" />
					</svg>
					<span class="text-underline">Remove</span>
				</div>
			</div>
		</div>
	</div>
	<div *ngIf="!loading && cart.items.length == 0" class="body empty flex-column justify-content-center d-flex">
		<div class="title">Your Shopping Bag is Empty</div>
		<div class="tag text-black-2">You haven't added any pieces to your bag - yet</div>
	</div>
	<div *ngIf="cart.items.length != 0" class="footer">
		<div *ngIf="cart && cart.items.length > 0 && cart.total_discount" class="subtotal mb-0 d-flex align-items-center justify-content-between">
			<b class="discount-text">Discount</b>
			<span>{{ cart.total_discount / 100 | currency }} </span>
		</div>
		<div *ngIf="cart && cart.items.length > 0" class="subtotal d-flex align-items-center justify-content-between">
			<span>Subtotal</span>
			<span>{{ cart && cart.total_price ? (cart.total_price / 100 | currency) : (0 | currency) }} </span>
		</div>
		<div class="component-minicart-btn">
			<a *ngIf="cart && cart.items.length > 0" class="w-100 btn btn-primary" href="/checkout">Checkout</a>
			<a (click)="hideMiniCart()" *ngIf="cart && cart.items.length === 0" class="w-100 btn btn-primary">Back to Shopping</a>
			<a [routerLink]="['/cart']" class="w-100 mt-2 btn btn-secondary" routerlinkactive="router-link-active">View Bag</a>
		</div>
	</div>
</div>

<div #overlay (click)="hideMiniCart()" *ngIf="showMiniCart" [@fade]="'in'" class="minicartbackground"></div>
