#minicart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1109;
  margin-top: 9px;
  padding: 24px;
  background: #f8f8f8;

  @media screen and (min-width: 576px) {
    width: 360px;
    margin-top: 7px;
  }

  @media screen and (min-width: 768px) {
    right: 12px;
  }

  @media screen and (min-width: 1024px) {
    right: max(24px, calc(50vw - 1920px / 2 + 24px));
  }

  &.empty {
    height: 124px;
  }
}

ul {
  * {
    list-style: none;
  }
}

.body {
  max-height: 320px;
  overflow: auto;

  &.empty {

    letter-spacing: normal;
    text-align: center;

    .title {
      text-transform: uppercase;
      margin-bottom: 5px;
    }
  }

  position: relative;
  overflow-y: auto;

  &.empty {
    height: 100%;
    text-align: center;

    h1 {

      font-size: 100px;
    }
  }
}

.item-image {
  min-width: 88px;
}

.item-meta {
  color: #222222;

}

.item-content {
  width: 100%;
  padding: 0 0 0 18px;
}

.item-name {
  color: #000000;
  text-transform: capitalize;
}

.item-remove {

  cursor: pointer;

  svg {
    margin-right: 6px;
  }
}

.item-price {
  color: #222;
  font-weight: 400;

  text-align: right;
}

.subtotal {
  color: #000000;

  margin-bottom: 14px;
}

hr {
  border-top-color: #fff;
}

.minicartbackground {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1010;
  right: 0;
  background: rgba(255, 255, 255, 0.4);
}

.component-minicart-items {
  &+.component-minicart-items {
    margin-top: 18px;
    padding-top: 18px;
    border-top: 1px solid #e2e2e2;
  }
}

.footer {
  padding-top: 14px;
  margin-top: 18px;
  border-top: 1px solid #e2e2e2;
}

.component-minicart-content {
  &::-webkit-scrollbar-track {
    background: #e8e8e8;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #aaaaaa;
  }
}

.font-weight-bold {}

.font-strikethrough {
  color: #aaa;

  @media screen and (min-width: 768px) {
    font-size: 12px;
    letter-spacing: 0.5px;
  }
}

.discount-text {
  font-weight: 400;
}
