<ng-container *ngIf="article" [ngSwitch]="article.type">
  <page-article-standard *ngSwitchDefault [article]="article"></page-article-standard>
  <page-article-with-image *ngSwitchCase="'article-with-image'" [article]="article"></page-article-with-image>
</ng-container>
<loader [loading]="loading">Hi I am loading</loader>
