<div class="container mh-80">
	<div class="row">
		<div class="col-12 text-center pt-17 pb-20">
			<h1 class="">{{ article.title }}</h1>
			<h2 class="">This article has an extra image!!</h2>
			<div class="mt-4 date font-weight-bold">{{ article.published_at | date: 'EEEE, d MMMM y ' }}</div>
		</div>
	</div>
	<div class="row article">
		<div class="col-12 col-md-8 offset-2 mb-15 ">
			<div class="d-flex ">
				<a *ngIf="article.previous_link" class="actionable action btn btn-sm btn-grey" href="{{ article.previous_link }}">Previous</a>
				<a *ngIf="article.next_link" class="actionable action btn btn-sm btn-grey ml-auto" href="{{ article.next_link }}">Next</a>
			</div>
			<hr class="my-5" />
			<ngxImg class="w-100  " *ngIf="article.image" [image]="article.image"> </ngxImg>
		</div>
		<div class="col-12 col-md-6 offset-3  body">
			<div class="mt-4 content" [innerHTML]="article.content"></div>
		</div>
		<div class="col-12 col-md-8 offset-2 mb-15 ">
			<hr />
			<div class="d-flex ">
				<a *ngIf="article.previous_link" class="actionable action btn btn-sm btn-grey" href="{{ article.previous_link }}">Previous</a>
				<a *ngIf="article.next_link" class="actionable action btn btn-sm btn-grey ml-auto" href="{{ article.next_link }}">Next</a>
			</div>
		</div>
	</div>
</div>
