<button [ngClass]="classes" class="btn btn-primary" class="{{ processing }}" *ngIf="variant && variant.available === 'true'" (click)="addToCart($event)">
	{{ string }}
</button>
<button [ngClass]="classes" class="btn btn-secondary" *ngIf="variant && variant.available === 'false'">
	Out of stock
</button>
<!-- <button [ngClass]="classes" class="btn btn-secondary" *ngIf="!variant">
	Not available
</button> -->
