<div class="page" *ngIf="page">
	<div class="container  pb-30">
		<div class="row">
			<div class="col-4 mr-3">
				<div class="menu-card">
					<div class="px-3 py-2">
						<p class="font-weight-bold">
							{{ page.blocksMenu.settings.title | uppercase }}
						</p>
						<div *ngFor="let link of page.blocksMenu.links">
							<p [routerLink]="[link.url]" routerLinkActive="router-link-active" class="actionable" [ngClass]="{ 'text-underline': link.title == page.title }">
								{{ link.title }}
							</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-7">
				<div class="col-12">
					<h1 class="row">{{ page.title }}</h1>
					<div class="row mb-3" [innerHtml]="page.content"></div>
					<div class="row">
						<hr />
						<input type="text" class="px-3 w-100 mb-3" [(ngModel)]="form.name" placeholder="Name" required />
						<input type="text" class="px-3 w-100 mb-3" [(ngModel)]="form.email" placeholder="Email" [email]="true" required />
						<input type="text" class="px-3 w-100 mb-3" [(ngModel)]="form.phone" placeholder="Phone" required />
						<textarea type="text" class="px-3 w-100 mb-3" [(ngModel)]="form.question" placeholder="Question" required></textarea>
						<button class="btn btn-primary" (click)="submit()" type="submit">Submit</button>
						<!-- <div [innerHTML]="decode(page.form)"></div> -->
						<div class="alert alert-success" *ngIf="success" role="alert">
							Thanks for contacting us, we will be in touch!
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
