input,
textarea {
  border: solid 1px #000000;
  background-color: #ffffff;
  padding: 16px 16px !important;
  font-size: 11px;
  line-height: 1.45;

  &::placeholder {
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #000;
  }
}

textarea {
  min-height: 150px;
}
