@import '~bootstrap-scss/_functions';
@import '~bootstrap-scss/variables';
@import './scss/variables';
@import '~bootstrap-scss/_mixins';
@import '~bootstrap-scss/_root';
@import '~bootstrap-scss/_reboot';
@import '~bootstrap-scss/_type';
@import '~bootstrap-scss/_code';
@import '~bootstrap-scss/_grid';
@import '~bootstrap-scss/_tables';
@import '~bootstrap-scss/_forms';
@import '~bootstrap-scss/_buttons';
@import '~bootstrap-scss/_nav';
@import '~bootstrap-scss/_navbar';
@import '~bootstrap-scss/_card';
@import '~bootstrap-scss/_breadcrumb';
@import '~bootstrap-scss/_pagination';
@import '~bootstrap-scss/_badge';
@import '~bootstrap-scss/_jumbotron';
@import '~bootstrap-scss/_alert';
@import '~bootstrap-scss/_progress';
@import '~bootstrap-scss/_media';
@import '~bootstrap-scss/_list-group';
@import '~bootstrap-scss/_close';
@import '~bootstrap-scss/_toasts';
@import '~bootstrap-scss/_tooltip';
@import '~bootstrap-scss/_popover';
@import '~bootstrap-scss/_spinners';
@import '~bootstrap-scss/_utilities';
@import 'scss/modal';
@import 'scss/variables';

$xxs: 0px;
$xs: 280px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xzl: 1440px;
$grey: #505050;

@font-face {
  font-family: 'Halis GR';
  font-display: swap;
  src: url(//cdn.shopify.com/s/files/1/0274/6007/5619/t/70/assets/HalisGR-Light.eot?v=7294579744674689162);
  src: url(//cdn.shopify.com/s/files/1/0274/6007/5619/t/70/assets/HalisGR-Light.eot?%23iefix&v=7294579744674689162) format('embedded-opentype'),
    url(//cdn.shopify.com/s/files/1/0274/6007/5619/t/70/assets/HalisGR-Light.woff?v=7191649133415783703) format('woff'),
    url(//cdn.shopify.com/s/files/1/0274/6007/5619/t/70/assets/HalisGR-Light.ttf?v=3383992774187670951) format('truetype'),
    url(//cdn.shopify.com/s/files/1/0274/6007/5619/t/70/assets/HalisGR-Light.svg%23HalisGR-Light?174090) format('svg');
}

body.overflow-hidden {
  overflow: hidden !important;
  position: fixed;
  width: 100%;
  height: 100%;
}

.validation-error {
  margin-bottom: 1rem;
  color: red;
  padding-left: 0.5rem;
}

hr {
  color: #e4e4e4;
}

summary {
  font-weight: bold;
}

details {
  margin-bottom: 1rem;
}

.responsive-font-size-headers {
  // @media screen and (max-width: $lg) {
  //   font-size: 1rem;
  // }

  @media screen and (min-width: $lg) {
    font-size: 1.25rem;
  }

  @media screen and (min-width: $xl) {
    font-size: 1.5rem;
  }

}

.responsive-font-size-body {
  @media screen and (max-width: $xl) {
    font-size: 0.75rem;
  }

  @media screen and (min-width: $xl) {
    font-size: 1rem;
  }

}

.font-small {
  font-size: 0.75rem;
  color: $grey;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 800;
  right: 0;
  background: rgba(255, 255, 255, 0.95);
}

a {
  color: #000;
}

a,
button,
.actionable {
  cursor: pointer;
  user-select: none;
}

ngx-gallery-bullets {
  z-index: 100 !important;
}

.absolute {
  position: absolute;

  &.tlbr {

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}


.product .carousel {
  overflow-y: hidden;
  // added bc cannot find pb-30 anywhere else
  padding-bottom: 0 !important;
  height: auto !important;
}

.closer {
  position: relative;
  height: 36px;
  width: 36px;
  text-indent: -9999em;
  background-color: transparent;
  cursor: pointer;

  &:hover,
  &.hover {
    &::before {
      transform: translate(-50%, -50%) rotate(135deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }

  &::after {
    background-color: rgb(33, 42, 47);
    box-sizing: border-box;
    content: '';
    display: block;
    height: 36px;
    left: 18px;
    position: absolute;
    top: 18px;
    transform: translate(-50%, -50%) rotate(-45deg);
    transition-delay: 0s;
    transition-duration: 0.25s;
    transition-property: transform;
    transition-timing-function: ease-in-out;
    width: 2px;
  }

  &::before {
    background-color: rgb(33, 42, 47);
    box-sizing: border-box;
    content: '';
    display: block;
    height: 36px;
    left: 18px;
    position: absolute;
    top: 18px;
    transform: translate(-50%, -50%) rotate(45deg);
    transition-delay: 0s;
    transition-duration: 0.25s;
    transition-property: transform;
    transition-timing-function: ease-in-out;
    width: 2px;
  }
}

.frontpage,
.page {
  .direction {
    top: -73px !important;
  }
}

.menu-card {
  width: 100%;
  height: auto;
  border-radius: 3%;
  box-shadow: 2px 2px 12px 0 rgba(0, 0, 0, 0.1)
}

.nav-link {
  color: #000 !important;

  &:hover {
    text-decoration: underline !important;
  }
}

.nav-arrow {
  height: 8px;
  width: 8px;
  position: absolute;
  bottom: 52%;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  transform: rotate(45deg);
}

.text-underline {
  text-decoration: underline !important;
}

.carousel {
  ul.indicators {
    position: relative;
  }
}

.indicators {
  display: flex;
  justify-content: center;

  li {
    margin-top: -16px;
  }
}

.inner-content * {
  width: 100%;
  height: auto;
}

.click-area {
  transform: scale(0.5);
}

.loading {
  position: relative;
  background-color: #f0f0f0;

  * {
    opacity: 0;
  }

  &::after {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .6), transparent);
    animation: loading 1.5s infinite;
  }
}

@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}

.position-initial {
  position: initial;
}

.transition {
  transition: 0.2s ease-in-out all;
}

.modal {
  position: absolute;
  top: 5vh;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  pointer-events: none;
}

.modal>.container {
  z-index: 999;
  background: #fff;
}

.direction.left,
.direction.right {
  position: fixed;

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }
}

.form-check-input,
input[type='checkbox'] {
  &:checked+* {
    &:after {
      display: block;
    }
  }
}

.form-check-label {
  padding-left: 8px;
  cursor: pointer;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    background: #fff;
  }

  &:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    transform: rotate(315deg);
    display: none;
    width: 11px;
    height: 6px;
    border-bottom: 2px solid #222;
    border-left: 2px solid #222;
  }
}
