<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-12 col-md-6 mb-5 mb-md-0">
      <div class="col-lg-10 mx-auto ">
        <h3 class="text-center">Sign in</h3>
        <p class="text-center">Enter your email and password below to access your account</p>
        <form #loginform="ngForm" class="d-flex flex-column">
          <div *ngIf="invalid" class="alert alert-danger mb-3 d-flex flex-row justify-content-between" role="alert">
            <span class="">{{ error }}</span>
            <span (click)="dataChanged($event)" class="text-underline actionable">Close</span>
          </div>
          <div class=" d-flex flex-column">
            <div [ngClass]="{ 'was-validated': !email.valid && email.dirty }" class="input-group w-100 d-block mb-3">
              <input #email="ngModel" [(ngModel)]="customer.email" aria-required="true" autocapitalize="off"
                autocomplete="email" autocorrect="off" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                class="w-100 form-control" email id="email" minlength="8" name="email" placeholder="Email address"
                required type="email" [ngModelOptions]="{ updateOn: 'blur' }" />

              <div *ngIf="email.invalid && email.dirty">
                <div *ngIf="email.errors.required" class="validation-error">
                  This field is required.
                </div>
                <div *ngIf="email.errors.minlength" class="validation-error">
                  Email must be at least 8 characters long.
                </div>
                <div *ngIf="email.errors.pattern" class="validation-error">
                  Please enter a valid email address
                </div>
              </div>
            </div>
            <div [ngClass]="{ 'was-validated': !password.valid && password.dirty }"
              class="input-group w-100 d-block mb-3 ">
              <input #password="ngModel" [ngModelOptions]="{ updateOn: 'blur' }" (ngModelChange)="dataChanged($event)"
                [(ngModel)]="customer.password" aria-required="true" class="w-100 input form-control" id="password"
                minlength="8" name="password" placeholder="Password" required type="password" />
              <div *ngIf="password.invalid && password.dirty">
                <div *ngIf="password.errors.required" class="validation-error">
                  This field is required.
                </div>
                <div *ngIf="password.errors.minlength" class="validation-error">
                  Password must be at least 8 characters long.
                </div>
              </div>
            </div>
            <div class="form-check">
              <input class="checkbox form-check-input" id="unchecked-box" name="checkbox" type="checkbox" />
              <label class="d-flex align-items-center" for="unchecked-box">Stay signed in </label>
            </div>
            <button (click)="submit()" [disabled]="!loginform.form.valid || !loginform.form.dirty"
              class="btn btn-primary btn-auto mb-2">
              Login
            </button>
          </div>
        </form>
        <a [routerLink]="['/account/login']" fragment="reset" class="text-center d-inline-block forgot-password-btn"
          routerlinkactive="router-link-active">Forgot your password?</a>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="col-lg-10 mx-auto">
        <h3 class="text-center">Create an Account</h3>
        <div [innerHtml]="store.shop.loginText" class="text-center"></div>
        <button [routerLink]="['/account/register']" class="btn btn-primary btn-auto w-100"
          routerlinkactive="router-link-active">
          Create account
        </button>
      </div>
    </div>
  </div>
</div>
