<div class="container-fluid hero-header">
	<div class="row">
		<div class="col-12 col-md-7 pl-0 pr-2 order-2 order-md-1">
			<div class=" d-md-block" [ngClass]="{ 'd-none': !fullscreenOpen }" #hero>
				<ngxImg *ngIf="settings.image" class="w-100 " [image]="settings.image"> </ngxImg>
				<div #video *ngIf="settings.videoMp4 || settings.videoWebm || settings.youtube">
					<video-player (click)="fullscreen()" *ngIf="settings.videoMp4 || settings.videoWebm" [video]="settings"> </video-player>
				</div>
			</div>
			<div class="container-fluid pl-lg-30 mt-12 mt-lg-10">
				<div class="row pl-lg-20">
					<div class="col-8 offset-2 offset-md-0 col-md-4">
						<ngxImg *ngIf="block.images.logo" class="d-none d-md-flex w-100 " [altString]="block.images.title" [image]="block.images.logo"> </ngxImg>
						<ngxImg *ngIf="block.images.logoMobile" class="d-md-none w-100 " [altString]="block.images.title" [image]="block.images.logoMobile"> </ngxImg>
					</div>
					<div class="col-12 col-md-8 content">
						<h1 class="mb-2 mt-8 mt-md-0 mt-lg-0 text-center text-md-left">{{ settings.title }}</h1>
						<p class=" text-center text-md-left">{{ settings.content }}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-5 pr-0 pl-0 order-1 order-md-2">
			<ngx-light-carousel #carou [current]="current" [options]="options" [data]="blocks" class="carousel hero c-accent block-content-header">
				<section ngx-light-carousel-container class="content">
					<article class="cursor-pointer" ngx-light-carousel-item *ngFor="let block of blocks; let i = index">
						<div class="w-100" #slides>
							<div class="d-none d-md-flex img w-100" [style.backgroundImage]="'url(' + block.image.src + ')'"></div>
							<div class="d-md-none img w-100" [style.backgroundImage]="'url(' + block.imageMobile.src + ')'"></div>
							<div class="mt-0 pt-0 mt-lg-5 pt-lg-10 text-center relative container-fluid">
								<div class="absolute caption">
									<h2 class="mt-14 mt-lg-10">
										{{ block.title }}
									</h2>
									<button class="btn btn-secondary mt-2 mr-2 d-md-none" (click)="fullscreen()">
										Watch Video
									</button>
									<a *ngIf="block.link" class="mt-2 btn btn-primary" href="{{ block.link }}">
										Shop now
									</a>
								</div>
							</div>
						</div>
						<ng-template #infiniteContainer></ng-template>
					</article>

					<ng-template #carouselContent let-block let-i="index">
						<article class="item cursor-pointer" ngx-light-carousel-item [ngClass]="{ visible: currentIndex === i }">
							<div class="w-100" #slides>
								<div class="d-none d-md-flex img w-100" [style.backgroundImage]="'url(' + block.image.src + ')'"></div>
								<div class="d-md-none img w-100" [style.backgroundImage]="'url(' + block.imageMobile.src + ')'"></div>
								<div class="mt-0 pt-0 mt-lg-5 pt-lg-10 text-center relative">
									<div class="absolute caption">
										<h2 class="mt-14 mt-md-10">
											{{ block.title }}
										</h2>
									</div>
								</div>
							</div>
						</article>
					</ng-template>
				</section>

				<ng-template #carouselPrev>
					<div class="click-area">
						<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512" class="svg-inline--fa fa-caret-left fa-w-6 fa-3x">
							<path fill="currentColor" d="M192 127.338v257.324c0 17.818-21.543 26.741-34.142 14.142L29.196 270.142c-7.81-7.81-7.81-20.474 0-28.284l128.662-128.662c12.599-12.6 34.142-3.676 34.142 14.142z" class=""></path>
						</svg>
					</div>
				</ng-template>
				<ng-template #carouselNext>
					<div class="click-area">
						<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512" class="svg-inline--fa fa-caret-right fa-w-6 fa-3x">
							<path fill="currentColor" d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z" class=""></path>
						</svg>
					</div>
				</ng-template>

				<ng-template #carouselDot>
					<div class="ball bg-accent"></div>
				</ng-template>
			</ngx-light-carousel>
		</div>
	</div>
</div>
