<main *ngIf="frontpage && frontpage.length > 0" class=" frontpage ">
	<div *ngFor="let block of frontpage; let i = index" class="shopify-section relative" [attr.data-section-id]="block.id">
		<button class="hide-me btn btn-primary right" style="z-index: 1000; position: absolute; right: 0; top: 0;" *ngIf="environment.debugLiquid" (click)="block._open = !block._open">See JSON</button>
		<pre class="hide-me absolute m-0" style="padding: 80px; color: #01ff70; background-color: #1c2833; z-index: 999;" *ngIf="environment.debugLiquid && block._open">{{ block | json }}</pre>
		<ng-container [ngSwitch]="block.type">
			<block-feature-row *ngSwitchCase="'feature-row'" [block]="block"></block-feature-row>
			<block-hero *ngSwitchCase="'hero'" [block]="block"></block-hero>
			<block-twocolumn-hero *ngSwitchCase="'twocolumn-hero'" [block]="block"></block-twocolumn-hero>
			<block-blog *ngSwitchCase="'blog'" [block]="block"></block-blog>
			<block-product *ngSwitchCase="'product'" [block]="block"></block-product>
			<block-featured-product *ngSwitchCase="'featured-product'" [block]="block"></block-featured-product>
			<block-collection-list *ngSwitchCase="'collection-list'" [block]="block"></block-collection-list>
			<block-link-list *ngSwitchCase="'link-list'" [block]="block"></block-link-list>
			<block-collection-slider *ngSwitchCase="'collection-slideshow'" [block]="block"></block-collection-slider>
			<block-icon-slider *ngSwitchCase="'icon-slideshow'" [block]="block"></block-icon-slider>
			<block-content-hero *ngSwitchCase="'content-hero'" [block]="block"></block-content-hero>
			<block-content-header *ngSwitchCase="'content-header'" [block]="block"></block-content-header>
			<block-testimonial-slider *ngSwitchCase="'testimonial-slideshow'" [block]="block"></block-testimonial-slider>
			<block-slideshow *ngSwitchCase="'slideshow'" [block]="block"></block-slideshow>
			<block-gallery *ngSwitchCase="'gallery'" [block]="block"></block-gallery>
			<block-collection *ngSwitchCase="'collection'" [block]="block"></block-collection>
			<block-usps *ngSwitchCase="'usps'" [block]="block"></block-usps>
			<instagram *ngSwitchCase="'instagram'"></instagram>
		</ng-container>
	</div>
</main>
