.mt-x {
  margin-top: 180px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

h1.title {

  font-size: 160px;
  line-height: 0.94;
  letter-spacing: 2px;
  color: #000;

  @media screen and (max-width: 1240px) {
    font-size: 60px;
  }
}

h2.title {

  font-size: 100px;
  line-height: 0.87;
  letter-spacing: 3px;
  color: #000;
}

.description {

  font-size: 13px;
  line-height: 1.69;
  color: #6b6b6b;

  @media screen and (min-width: 1240px) {
    max-width: 360px;
  }
}

.jumbo {
  padding-left: 100px;
}

.teaser {
  line-height: 1;
  font-size: 40px;
}

img {
  max-width: 100%;
}

@media screen and (min-width: 1240px) {
  .pt-150 {
    padding-top: 150px;
  }

  .pb-115 {
    padding-bottom: 115px;
  }

  .x550 {
    width: 550px;
    height: auto;
  }

  .x455 {
    width: 455px;
    height: auto;
  }

  .x360 {
    width: 360px;
    height: auto;
  }
}

.card-columns {
  column-count: 2;
}

.text-content {

  font-size: 10px;
  color: #afafaf;
  line-height: normal;
  letter-spacing: 1px;

  &.alt {
    text-transform: uppercase;
  }
}

.from {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;

  text-transform: uppercase;
  line-height: normal;
  letter-spacing: 1px;
}

.specs {

  font-size: 13px;
  line-height: 1.69;
  letter-spacing: normal;
  color: #6b6b6b;
}

#scroll-buy {
  z-index: 200 !important;

  .font-accent {
    display: inline-block;
    line-height: 52px;
  }

  .price {
    font-size: 14px;

    line-height: 62px;
    letter-spacing: 1px;
    color: var(--cool-black);
  }
}

#error {
  height: 100vh;
  text-align: center;

  h1 {

    font-size: 200px;
  }

  h4 {

    font-size: 60px;
    text-transform: uppercase;
  }
}
