<div class="relative d-none d-md-block" *ngIf="product">
	<ngxImg class="w-100 " [image]="product.images[0]" sizeSelect="'large'"> </ngxImg>
	<div class="absolute d-flex flex-column jumbo pt-150">
		<div class="my-auto container-fluid">
			<h1 class="title">{{ product.images[0].large.alt }}</h1>
			<div class="description mt-7" [innerHTML]="product.body_html"></div>
		</div>
		<div class="mt-auto mb-8">
			<addtocart [product]="product" [variant]="selectedVariant" [quantity]="quantity"> </addtocart><span class="pl-5 from">From {{ product.vendor }}</span>
		</div>
	</div>
</div>
