{% paginate collections by 50 %}
{
  "collections": [{% for collection in collections %}
    {
    {% if collection.image %}
      "image": {          
        "id": "{{ collection.image.id }}",
        "src": "{{ collection.image | img_url: '300x500', crop: 'center' }}"
      },
    {% else %}
      "image": {          
        "id": "{{ collection.products.first.id }}",
        "src": "{{ collection.products.first | img_url: '300x500', crop: 'center' }}"
      },
    {% endif %}
    "body_html": "{{ collection.description |  escape }}",
    "handle": "{{ collection.handle }}",
    "id": {{ collection.id }},
    "sort_order": "{{ collection.default_sort_by }}",
    "template_suffix": "{{ collection.template_suffix }}",
    "title": "{{ collection.title }}",
    "products_count": {{ collection.products_count }},
    "url": "{{ collection.url }}",
    "products": []
    }{% unless forloop.last %},{% endunless %}{% endfor %}
  ]
}
{% endpaginate %}