{
"title": "{{page.title}}",
"content": "{{page.content  | strip_newlines | escape}}",
"type": "landing",
"blocksHero": {%  section 'hero' %}
"blocksLinkList": {% section 'link-list' %}
"blocksCollection": {% section 'collection' %}
"blocksContentHero": {% section 'content-hero' %}
"blocksInstagram": {%  section 'instagram' %}
"metafields": {}
}
