{% capture form %} 
        {% form 'contact', id: formId %}
              {% comment %} <input class="d-block w-100 mb-3" type="text" placeholder="Name" id="{{ formId }}-name" name="contact[name]" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
              <input class="d-block w-100 mb-3"
                type="email"
                placeholder="email"
                id="{{ formId }}-email"
                name="contact[email]"
                autocorrect="off"
                autocapitalize="off"
                value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                aria-required="true"
                {%- if form.errors contains 'email' -%}
                  class="input--error"
                  aria-invalid="true"
                  aria-describedby="{{ formId }}-email-error"
                {%- endif -%}
                >
          <input type="tel" class="d-block w-100 mb-3" id="{{ formId }}-phone" placeholder="phone" name="contact[phone]" value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}">

          <textarea class="d-block w-100 mb-3" rows="10" id="{{ formId }}-message" name="contact[body]">{% if form.body %}{{ form.body }}{% endif %}</textarea>
 {% endcomment %}
          <input type="submit" class="btn btn-primary w-100 d-block" value="{{ 'contact.form.submit' | t }}"> 

        {% endform %}


    {% endcapture %}
{
"title": "{{page.title}}",
"content": "{{page.content  | strip_newlines | escape}}",
"type": "contact",
"metafields": {},
"blocksMenu": {% section 'menu' %},
"form": "{{ form | strip_newlines | escape }}"
}