<div class="container">
  <div class="reset-wrapper d-flex flex-column align-items-center">
    <div *ngIf="error" class="reset-form">
      <div class="col-12">
        <h3 class="text-center">Password recovery error</h3>
        <hr />
        <p class="text-center">{{ error }}</p>
        <a [routerLink]="['/']" class="btn btn-primary btn-sm d-block mx-auto">Go back home</a>
      </div>
    </div>
    <div *ngIf="success" class="reset-form">
      <div class="col-12">
        <h3 class="text-center">Password recovery requested!</h3>
        <hr />
        <p class="text-center">Please check your email to reset your password!</p>
        <a [routerLink]="['/']" class="btn btn-primary btn-sm d-block mx-auto">Go back home</a>
      </div>
    </div>
    <form *ngIf="!success && !error" class="reset-form needs-validation" [ngClass]="{ 'was-validated': !resetForm.form.valid && resetForm.form.dirty }" #resetForm="ngForm">
      <h3 class="text-center">Reset your password</h3>
      <p class=" text-center mb-4">Enter the email address associated with your account</p>
      <div class="input-group mb-3">
        <input
          required
          class="input w-100 form-control"
          email
          minlength="8"
          name="email"
          id="email"
          type="email"
          placeholder="Email address"
          #email="ngModel"
          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
          [(ngModel)]="customer.email"
          autocomplete="email"
          aria-required="true"
          autocorrect="off"
          autocapitalize="off"
        />
        <div *ngIf="email.invalid && email.dirty" class="invalid-feedback">
          <div *ngIf="email.errors.required" class="form__message">
            This field is required.
          </div>
          <div *ngIf="email.errors.minlength" class="form__message">
            Email must be at least 8 characters long.
          </div>
          <div *ngIf="email.errors.pattern" class="form__message">
            Please enter a valid email address.
          </div>
        </div>
      </div>
      <div class="text-center">
        <button [disabled]="!resetForm.form.valid || !resetForm.form.dirty" class="btn btn-primary" (click)="submit()">Submit</button>
      </div>
    </form>
    <div class="text-center">
      <a class="w-100 text-center reset-btn" [routerLink]="['/account/login']" routerLinkActive="router-link-active">Back to login</a>
      <div></div>
    </div>
  </div>
</div>
