.items {
  background: #f4f4f4;

  @media screen and (min-width: 991px) {
    .wrapper {
      max-width: 448px;

      .item-image {
        padding: 0;
      }
    }
  }
}



.summary {
  background: #fff;

  @media screen and (min-width: 991px) {
    .wrapper {
      max-width: 448px;

      .sub-wrapper {
        max-width: 352px;
      }
    }

    // .pay-icons {
    //   width: 90%;
    //   height: auto;
    // }
  }

  .pay-icons,
  .pay-icons svg {
    width: 100%;
    height: auto;
    max-width: 320px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 991px) {
  .cart-body {
    min-height: calc(100vh - 80px);
  }
}

.item.loading {
  opacity: 0.3;
  pointer-events: none;
}
