<video *ngIf="video.videoMp4 != '' || video.videoWebm != ''" [controls]="video.controls" [loop]="video.autoplay" [muted]="video.mute" [autoplay]="video.autoplay">
	<source *ngIf="video.webmSafe" [src]="video.webmSafe" type="video/webm" />
	<source *ngIf="video.mp4Safe" [src]="video.mp4Safe" type="video/mp4" />
</video>
<div *ngIf="video.youtube != ''" class="video-wrapper w-100">
	<iframe [src]="video.youtubeSafe" class="w-100 video" frameborder="0" allowfullscreen></iframe>
</div>
