.h-100 {
	min-height: 500px;
}

* {
	transition: 0.3s ease-in-out all;
}

.loading .content {
	opacity: 0;
	height: 0;
}

.article {
	h3 {
		font-size: 18px;
		font-weight: 900;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.11;
		letter-spacing: -0.5px;
	}

	.content {
		font-size: 11px;
	}

	.date {
		font-size: 11px;
	}

	.readmore {
		font-size: 14px;
	}
}
