.hero1 {
	.content {
		max-width: 540px;
	}
}

.hero2 {
	.content {
		max-width: 330px;
	}
}

.hero3 {
	.content {
		max-width: 540px;
	}
}

:host {
	.content {
		@media screen and (max-width: 768px) {
			h2 {
				font-size: 28px;
			}
			p {
				font-size: 16px;
				line-height: 1.4;
				font-weight: 200;
			}
		}
		@media screen and (min-width: 769px) {
			h2 {
				font-size: 36px;
			}
			p {
				font-size: 18px;
				font-weight: 200;
			}
		}
	}
}
