<div class="container-fluid" [style.color]="block.settings.colorText">
	<div class="row mb-4">
		<div class="col-6" *ngFor="let block of block.blocks | slice: 0:2">
			<div class="container px-0 relative actionable" [routerLink]="block.link" routerLinkActive="router-link-active">
				<ngxImg *ngIf="block.image" class="d-none d-md-flex w-100 " [image]="block.image.landscape"> </ngxImg>
				<ngxImg *ngIf="block.image" class="d-md-none w-100 " [image]="block.image.landscapeMobile"> </ngxImg>
				<div class="absolute d-flex flex-column justify-content-center text-center">
					<h2>{{ block.title }}</h2>
					<p>{{ block.content }}</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Bottom image -->
	<div class="row">
		<div class="col-12">
			<div class="container-fluid px-0 relative actionable" [routerLink]="block.blocks[2].link" routerLinkActive="router-link-active">
				<ngxImg *ngIf="block.blocks[2].image" class="d-none d-md-flex w-100 " [image]="block.blocks[2].image.landscape"> </ngxImg>
				<ngxImg *ngIf="block.blocks[2].image" class="d-md-none w-100 " [image]="block.blocks[2].image.landscapeMobile"> </ngxImg>
				<div class="absolute d-flex flex-column justify-content-center text-center">
					<h2>{{ block.blocks[2].title }}</h2>
					<p>{{ block.blocks[2].content }}</p>
				</div>
			</div>
		</div>
	</div>
</div>
