<div class="quantity-selector d-flex justify-content-between" *ngIf="cartItem" [ngClass]="{ disabled: loading }">
	<span class="action decrement" (click)="changeQtyDown()">-</span>
	<span class="quantity">{{ cartItem.quantity }}</span>
	<span class="action increment" (click)="changeQtyUp()">+</span>
</div>
