<div class="container-fluid py-20">
	<div class="container">
		<div class="row mb-5">
			<div class="col">
				<h2 class="text-center">
					{{ block.settings.title }}
				</h2>
			</div>
		</div>
		<div class="row pt-10 pb-0">
			<article class="col-12 col-md-4 cursor-pointer mb-15" *ngFor="let block of block.blocks; let i = index" [ngClass]="{ visible: currentIndex === i }">
				<ngxImg class="w-100  px-10 px-lg-30" (load)="loading = false" [image]="block.image"> </ngxImg>
				<div class="mt-6">
					<h3 class="text-center">
						{{ block.title }}
					</h3>
					<div class="content text-center">
						{{ block.content }}
					</div>
				</div>
			</article>
		</div>
	</div>
</div>
