table {
  border-collapse: collapse;
  border-spacing: 0;
  overflow: hidden;
  cursor: pointer;
}

td,
th {
  position: relative;
  outline: 0;
  z-index: 1;
  text-align: center;
  width: 150px;
  height: 30px;
}

td:hover::before,
th:hover::before,
td:focus::before,
th:focus::before {
  content: '';
  position: absolute;
  top: 0;
  left: -5000px;
  width: 10000px;
  height: 100%;
  z-index: -1;
  background: rgba(50, 50, 50, 0.1);
  pointer-events: none;
}

td:hover::after,
th:hover::after,
td:focus::after,
th:focus::after {
  content: '';
  position: absolute;
  width: calc(100% - 8px);
  max-width: 64px;
  height: 10000px;
  top: -5000px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  background: rgba(50, 50, 50, 0.1);
  pointer-events: none;

}
