<div class="container p-5">
  <div class="col-12">
    <h3 class="row mb-3">Size Chart</h3>
    <a class="row mb-3" (click)="isActive = 'footwear'" [ngClass]="{ active: isActive == 'footwear' }">Footwear</a>
    <div class="tab-panel" *ngIf="isActive == 'footwear'">
      <div class="row mb-3">
        <table>
          <tr class="font-weight-bold">
            <th>UK</th>
            <th>US</th>
            <th>EU</th>
            <th>AUS</th>
          </tr>
          <tr>
            <td>2</td>
            <td>5</td>
            <td>36</td>
            <td>4</td>
          </tr>
          <tr>
            <td>2.5</td>
            <td>5.5</td>
            <td>37</td>
            <td>4.5</td>
          </tr>
          <tr>
            <td>3</td>
            <td>6</td>
            <td>37</td>
            <td>5</td>
          </tr>
          <tr>
            <td>3.5</td>
            <td>6.5</td>
            <td>38</td>
            <td>5.5</td>
          </tr>
          <tr>
            <td>4</td>
            <td>7</td>
            <td>38</td>
            <td>6</td>
          </tr>
          <tr>
            <td>4.5</td>
            <td>7.5</td>
            <td>39</td>
            <td>6.5</td>
          </tr>
          <tr>
            <td>5</td>
            <td>8</td>
            <td>39</td>
            <td>7</td>
          </tr>
          <tr>
            <td>5.5</td>
            <td>8.5</td>
            <td>40</td>
            <td>7.5</td>
          </tr>
          <tr>
            <td>6</td>
            <td>9</td>
            <td>40</td>
            <td>8</td>
          </tr>
          <tr>
            <td>6.5</td>
            <td>9.5</td>
            <td>41</td>
            <td>8.5</td>
          </tr>
          <tr>
            <td>7</td>
            <td>10</td>
            <td>41</td>
            <td>9</td>
          </tr>
          <tr>
            <td>7.5</td>
            <td>11</td>
            <td>42</td>
            <td>9.5</td>
          </tr>
          <tr>
            <td>8</td>
            <td>11</td>
            <td>42</td>
            <td>10</td>
          </tr>
          <tr>
            <td>8.5</td>
            <td>12</td>
            <td>43</td>
            <td>11</td>
          </tr>
          <tr>
            <td>9</td>
            <td>12</td>
            <td>43</td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <p class="m-0">For more information please <a (click)="close()" [routerLink]="['/pages/contact-us']"
          routerLinkActive="router-link-active">contact us</a>.</p>
    </div>
  </div>
</div>
