<div class="container py-3 mh-80">
	<div class="row h-100">
		<div class="col-md-3 col-sm-6" *ngFor="let collection of collections">
			<div class="product-grid">
				<div class="product-image">
					<a [routerLink]="['/collections/' + collection.handle]">
						<ngxImg class="w-100 " [image]="collection.image"> </ngxImg>
					</a>
				</div>
				<div class="product-content">
					<h3 class="title text-center">
						<a [routerLink]="['/collections/' + collection.handle]">{{ collection.title }}</a>
					</h3>
				</div>
			</div>
		</div>
	</div>
</div>
