#logo {
  max-width: 300px;
  height: 100%;
  width: auto;
}

.nav-link {
  font-size: 14px;
  font-weight: 900;
  line-height: 1.29;
  color: #000000;
}

.navbar {
  padding: 0px;
}

.start {
  position: initial;
}
