<nav #menu *ngIf="store" (click)="clickedInside($event)"
  class="component-menu col-12 navbar navbar-expand-lg px-2 px-lg-3 py-3 ">
  <!-- Logo on smaller screens is centered-->
  <div class="d-flex order-1 order-lg-0 col-8 col-lg-2 col-xl-3 justify-content-center justify-content-lg-start">
    <ngxImg *ngIf="store.shop && store.shop.logo" class="d-block mx-0 actionable" [routerLink]="['/']"
      [image]="store.shop.logo"> </ngxImg>
  </div>

  <div class="d-flex d-lg-none order-0 col-2">
    <mobile-menu-toggle class="d-lg-none menu-mobile"></mobile-menu-toggle>
  </div>

  <div class="d-none d-lg-flex col order-lg-1 position-initial justify-content-center">
    <desktop-menu></desktop-menu>
  </div>

  <div class="d-flex order-2 col-2 col-lg-4 col-xl-3">
    <div class="d-flex align-items-center px-0 ml-auto mr-0 mr-md-0">
      <searchinput class="d-none d-lg-block mr-3 actionable"></searchinput>
      <accountlink class="d-none d-lg-block mr-3 actionable"></accountlink>
      <cartcount class="actionable"></cartcount>
    </div>
  </div>
</nav>
