<div class="mh-80">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center pt-17 pb-20">
        <h1 class="">{{ blog.title }} Blog</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-lg-4 mb-15 article" routerLinkActive="router-link-active"
        *ngFor="let article of blog.articles">
        <ngxImg class="w-100  actionable" [routerLink]="[article.url]" [image]="article.image.thumb"> </ngxImg>
        <div class="meta">
          <div class="mt-4 date">{{ article.published_at | date: 'EEEE, d MMMM y ' }}</div>
          <h3 class="mt-4 title">{{ article.title }}</h3>
          <div class="mt-4 content">{{ article.excerpt_or_content }}</div>
          <div class="mt-6 readmore actionable" [routerLink]="[article.url]"><strong>Read post</strong></div>
        </div>
      </div>
    </div>
  </div>
</div>
