<div class="container-fluid py-5">
	<div class="container">
		<div class="row mb-5">
			<div class="col">
				<h2 class="text-center">
					{{ block.settings.title }}
				</h2>
			</div>
		</div>
		<ngx-light-carousel *ngIf="block.blocks.length" class="row" [options]="options" [data]="block.blocks" class="carousel ">
			<section ngx-light-carousel-container class="content ">
				<article class="item  px-0 cursor-pointer flex-column" ngx-light-carousel-item *ngFor="let block of block.blocks; let i = index" [ngClass]="{ visible: currentIndex === i }">
					<ngxImg class="w-100 d-block" (load)="loading = false" [sizeSelect]="'medium'" [image]="block.image"> </ngxImg>
					<div class="mt-5">
						<h3 class="text-center">
							{{ block.title }}
						</h3>
						<button *ngIf="block.link" [routerLink]="[block.link]" class="btn btn-primary">
							{{ block.text }}
						</button>
					</div>
				</article>
				<ng-template #infiniteContainer></ng-template>
			</section>
			<ng-template #carouselContent let-block let-i="index">
				<article class="item  px-0 cursor-pointer flex-column" ngx-light-carousel-item [ngClass]="{ visible: currentIndex === i }">
					<ngxImg class="w-100 d-block" (load)="loading = false" [sizeSelect]="'medium'" [image]="block.image"> </ngxImg>
					<div class="mt-5">
						<h3 class="text-center">
							{{ block.title }}
						</h3>
						<button *ngIf="block.link" [routerLink]="[block.link]" class="btn btn-primary">
							{{ block.text }}
						</button>
					</div>
				</article>
			</ng-template>
			<ng-template #carouselPrev> </ng-template>
			<ng-template #carouselNext> </ng-template>
		</ngx-light-carousel>
	</div>
</div>
