.active {
	font-weight: bold;
}

label {
	font-size: 11px;
	color: #000000;
}

.btn {
	font-size: 11px;
}

.btn-primary-outline {
	border-color: #dbdbdb;
	transition: 0.3s ease-in-out all;
	&:hover {
		border-color: #000000;
	}
}

.modal-link {
	font-size: 11px;
	color: #000000;
	text-decoration: underline;
}
