<div *ngIf="!loading && product.options_with_values.length > 0">
	<div class="row" *ngFor="let option of product.options_with_values; let i = index">
		<label class="col-6 mb-2">
			<b>{{ option.name }}:</b>
			{{ option.hoverSelection ? option.hoverSelection : findSelectedOption(i + 1) }}
		</label>
		<div *ngIf="option.name === 'Size' && product.tags.includes('collection-footwear')" (click)="openSizeModal()" class="col-6 text-right modal-link actionable">Size guide</div>
		<div class="col-12 d-flex justify-content-between" *ngIf="!isColor(option.name)">
			<button
				*ngFor="let value of option.values"
				class="mx-1 mb-2 flex-fill btn btn-primary-outline"
				[ngClass]="{
					'btn-primary': isActive(value, option)
				}"
				(mouseenter)="hoverOption(value, option)"
				(mouseleave)="unhoverOption(option)"
				(click)="selectOption(value, option)"
			>
				{{ value }}
			</button>
		</div>
	</div>
</div>
