<div class="container">
	<div class="row">
		<div [ngClass]="{ 'order-3': block.settings.layout == 'right' }" class="col-6 flex-column d-flex justify-content-center">
			<h2 class="text-uppercase">{{ block.settings.title }}</h2>
			<div [innerHTML]="block.settings.text"></div>
		</div>
		<div class="col-6">
			<ngxImg *ngIf="block.image" class="w-100" [sizeSelect]="'medium'" [image]="block.image"> </ngxImg>
		</div>
	</div>
</div>
